In [4]:
# 매 강의 시작시마다 동일하게 처리해야 함
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:15pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:15pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;}
</style>
"""))

<font size="5" color="red">ch02 자료형과 연산자</font>
# 1절 변수
- 파이썬 변수선언을 위한 과정이 없음. 할당과 동시에 타입이 지정되고 값이 할당됨

## 1.1 변수할당
- 할당연산자(=)를 이용해서 값을 할당하면 타입이 셋팅
- 파이썬에서의 모든 변수는 객체로 저장

In [3]:
# 소수점이 있으면 정수 없으면 실수
# r = 5.0
r = 5
area = 3.14 * r * r
print("계산된 넓이는", area)

계산된 넓이는 78.5

In [5]:
# 파이를 입력하고 싶다..
# 임포트 활용, numpy 라이브러리를 활용해서 입력
import numpy as np
area = np.pi * r * r
print('area = ', area)

area =  78.53981633974483

In [6]:
# 맨 마지막 줄에서는 프린트를 하지 않아도 된다.
area.is_integer() # area가 integer인지 여부를 반환

False

In [7]:
print('area의 주소 :', id(area)) #id(area) : area변수의 주소값
print('area의 타입 :', type(area))

area의 주소 : 2491505287280
area의 타입 : <class 'float'>

In [8]:
area = 5.5
print('area의 주소 :', id(area)) 
print('area의 타입 :', type(area))

area의 주소 : 2491549240560
area의 타입 : <class 'float'>

In [9]:
area = 10
print('area의 주소 :', id(area)) 
print('area의 타입 :', type(area))

area의 주소 : 2491419460112
area의 타입 : <class 'int'>

In [12]:
area = "파이썬"
print('area의 주소 :', id(area)) 
print('area의 타입 :', type(area))

area의 주소 : 2491551745296
area의 타입 : <class 'str'>

In [ ]:
# 변수는 항상 길게 하는 버릇을 들이도록 한다.

## 1.2 변수 이름 규칙
- 문자로 시작(숫자로 시작 불가)
- 문자, 숫자, _(언더바)로 변수명 작성
- 함수명(예, print)은 변수 이름으로 가능하나 피한다. 써야한다면 "int_"식으로 언더바를 이용한다.
- 파이썬 예약어(for, ..)는 변수이름 사용불가
- 한글 변수는 꼭 필요시에만 사용

In [13]:
이름 = "홍길동" #변수 이름은 한글은 비추
print(이름)

홍길동

In [14]:
이름

'홍길동'

In [15]:
for = 5

SyntaxError: invalid syntax (3039934606.py, line 1)

In [20]:
# member.name = "홍길동"
member_name = "홍길동"
memberName = "홍길동"

In [21]:
Print = 10 #대문자로 시작하는 변수는 강력 비추 정도가 아니라 절대 쓰지 말자
print(Print)

10

In [22]:
# 파이썬에서의 숫자 : 정수, 실수, 복소수
i = 3 + 3j # 복소수
type(i)

complex

In [23]:
isinstance(i, complex) # i 변수(객체)가 complex인지 여부 확인

True

## 1.3 도움말

In [24]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [25]:
help() # help를 빠져 나오려면 q 입력, 접고 싶을 떄 esc누르고 "o" 접기/펴기 기능임

Welcome to Python 3.10's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.10/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help> print
Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

help> isinstance
Help on built-in function isinstance in module builtins:

isinstance(obj, class_or_tuple, /)
    Return whether an object is an instance of a class or of a subclass thereof.

    A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
    check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
    or ...`` etc.

help> q

You are now leaving help and returning to the Python interpreter.
If you want to ask for help on a particular object directly from the
interpreter, you can type "help(object)".  Executing "help('string')"
has the same effect as typing a particular string at the help> prompt.

In [26]:
# 도움말 기능 : shift+tab키 or shift+tab,tab은 더 많은 정보 표현
print()

In [29]:
def add(x, y):
    '''
    매게변수 2개를 받아 두자리 숫자로 만들어요
    x = 10의 자리수가 됨
    y = 1의 자리수가 됨
    사용법 : add(2, 3) => 23
    '''
    return x * 10 + y

In [28]:
add(2, 1)

21

In [30]:
#  '''로 묶으면 위와 같이 함수에 대한 설명을 추가할 수 있음
add()

TypeError: add() missing 2 required positional arguments: 'x' and 'y'

In [31]:
add(5, 15)

65

In [32]:
# y값을 0으로 두면 변수 1개를 넣지 않아도 됨
def add(x, y=0):
    return x * 10 + y

In [33]:
add(4)

40

In [35]:
# a라는 변수에 add라는 함수를 넣는 것이 가능함
# 자바나 c에서는 변수에 함수를 넣는 것이 불가능함
a = add
a(2, 3)

23

## 1.4 다중 변수 할당

In [36]:
a = 10
b = 20

In [37]:
a, b = 10, 20
print(a, b)

10 20

In [38]:
# 다중 변수 할당시 순차적 할당이 아니고, 일괄 동시 할당되어 적용됨
a, b = b, a+b
print(a, b)

20 30

In [40]:
a, b = a+b, b
print(a, b)

80 30

# 2절. 화면 입출력(i/o)

In [42]:
# input() : 사용자로부터 값을 입력받기 위한 함수. 반드시 문자열로 입력
first = input()
first

my first input

'my first input'

In [43]:
first = input("첫번째 숫자는?")
first

첫번째 숫자는?5555555

'5555555'

In [45]:
first = input("첫번째 숫자는?")
second = input("두번째 숫자는?")
print(first, second)

첫번째 숫자는?3
두번째 숫자는?3
3 3

In [46]:
first = input("첫번째 숫자는?")
second = input("두번째 숫자는?")
sum = int(first) + int(second)
print('합:', sum)

첫번째 숫자는?1
두번째 숫자는?2
합: 3

In [48]:
first = int(input('첫번째 숫자는?'))
second = int(input('두번쨰 숫자는?'))
sum = first + second
print('합 :', sum)

첫번째 숫자는?4
두번쨰 숫자는?4
합 : 8

In [49]:
first = int(input('첫번째 숫자는?'))
second = int(input('두번쨰 숫자는?'))
sum = first + second
print('합', sum)

첫번째 숫자는?5
두번쨰 숫자는?20
합 25

In [50]:
print('합', sum, sep='=')

합=25

In [51]:
print('합', sum, sep='=')
print('합', sum, sep='~')
print('합', sum, sep='은 ')
print('합', sum, sep='이 어찌되느냐면 ')

합=25
합~25
합은 25
합이 어찌되느냐면 25

In [54]:
print('합', sum, sep='=', end=' ')
print('합', sum, sep='~', end=' ')
print('합', sum, sep='은 ', end=' ')
print('합', sum, sep='이 어찌되느냐면 ', end=' ')

합=25 합~25 합은 25 합이 어찌되느냐면 25

In [55]:
print('합', sum, sep='=', end='/ ')
print('합', sum, sep='~', end='/ ')
print('합', sum, sep='은 ', end='/ ')
print('합', sum, sep='이 어찌되느냐면 ', end='/ ')

합=25/ 합~25/ 합은 25/ 합이 어찌되느냐면 25/

In [57]:
print('합', sum, sep='=', end=', ')
print('합', sum, sep='~', end=', ')
print('합', sum, sep='은 ', end=', ')
print('합', sum, sep='이 어찌되느냐면 ', end=' ')

합=25, 합~25, 합은 25, 합이 어찌되느냐면 25

In [58]:
# 실제로는 화면상에 import sys와 file=sys.stdout가 생략되어 있는 것임
import sys
print('Hello', 'World', sep=",", file=sys.stdout)

Hello,World

# 3절. 기본 자료형
- 자료형에 따라 값의 크기와 저장 방식이 달라짐
    - 숫자 : int, float, complex
    - 문자 : str
    - 논리 : bool(True/False)
## 3.1 숫자형

In [59]:
# 변수 = 값(2장)이 아닌 변수=값들(데이터구조 3장)이 될 수 있음
# 변수 = 값을 "스칼라 데이터"라고 함
# 값들을 넣을 경우는 3장에서 다룸

In [61]:
import sys
sys.maxsize # 정수의 최대값 2의 63승 - 1 (2**63-1)

9223372036854775807

In [64]:
i = sys.maxsize + 10000000000
print(i)
print(type(i))

9223372046854775807
<class 'int'>

In [67]:
f = 4/2 # 파이썬에서는 정수/정수는 무조건 실수로 결과값 전달
f

2.0

In [69]:
# 자바처럼 정수/정수의 결과를 정수로 표기하고자 할 경우
f = 4//2 # 몫연산자
f

2

In [70]:
f = 4//2
print(f)
f = int(4/2)
print(f)

2
2

In [71]:
f = 4//2
print(f)
f = float(4/2)
print(f)

2
2.0

In [73]:
c = 1j # 수학시간의 0+1i
print(c**2) # 승연산자

(-1+0j)

In [75]:
f = 1.12e12 # 1.12의 10의 12승, 11200000000000, 지수형 표현이라고 함
print('지수형 표현할 당시 실수형으로 저장 : ', f)

지수형 표현할 당시 실수형으로 저장 :  1120000000000.0

In [78]:
f = 1.12e12 
print('지수형 표현할 당시 실수형으로 저장 : ', f)
f = 1.12e-12 #0.000000000112
print('지수형 표현할 당시 실수형으로 저장 : ', f)

지수형 표현할 당시 실수형으로 저장 :  1120000000000.0
지수형 표현할 당시 실수형으로 저장 :  1.12e-12

## 3.2 문자형
쌍따옴표("_")나 홀따옴표('_') 사용가능

In [87]:
name = "홍길동\"짱\"" # 홍길동"짱"
name = '홍길동"짱"'
address = '서울시 관악구 \신림동\'' # 서울시 관악구 '신길동'
address = "서울시 관악구 '신림동'"
print(name, address)

홍길동"짱" 서울시 관악구 '신림동'

In [88]:
name = "홍길동\"짱\"" # 홍길동"짱"
name = '홍길동"짱"'
address = '서울시 관악구 \신림동\'' # 서울시 관악구 '신길동'
address = "서울시 관악구 '신림동'"
print(name, address, sep=',')

홍길동"짱",서울시 관악구 '신림동'

In [89]:
name = "홍길동\"짱\"" # 홍길동"짱"
name = '홍길동"짱"'
address = '서울시 관악구 \신림동\'' # 서울시 관악구 '신길동'
address = "서울시 관악구 '신림동'"
print(name, address, sep='/')

홍길동"짱"/서울시 관악구 '신림동'

In [90]:
name = "홍길동\"짱\"" # 홍길동"짱"
name = '홍길동"짱"'
address = '서울시 관악구 \신림동\'' # 서울시 관악구 '신길동'
address = "서울시 관악구 '신림동'"
print(name, address, sep=', 주소 :')

홍길동"짱", 주소 :서울시 관악구 '신림동'

In [92]:
# 문자형 변수에 여러 줄을 입력하고자 할 때
text = '''여러 줄 짜리 내용
줄바꿈문자를 쓰지 않고 따옴표 3개로 처리한다.
이처럼 쓰는 경우가 많아요'''
print(text)

여러 줄 짜리 내용
줄바꿈문자를 쓰지 않고 따옴표 3개로 처리한다.
이처럼 쓰는 경우가 많아요

In [93]:
text = '''여러 줄 짜리 내용
줄바꿈문자를 쓰지 않고 따옴표 3개로 처리한다.
이처럼 쓰는 경우가 많아요 ㅋㅋ, 개인정보 등등'''
# 문자열에서 빼야 하는 경우 걸러야 하는 경우가 많을 수 있을 떄 사용하는 것이 바로 문자열 연산임

### ※ 문자열 연산

In [94]:
'''
    여러 줄 주석 용도
    2025.04.08 문자열 연산 소스 by 홍길동
'''

'\n    여러 줄 주석 용도\n    2025.04.08 문자열 연산 소스 by 홍길동\n'

In [95]:
'''
    여러 줄 주석 용도
    2025.04.08 문자열 연산 소스 by 홍길동
'''
name1 = "홍길동"
name2 = "동해 번쩍 서해 번쩍"
print(name1+name2)

홍길동동해 번쩍 서해 번쩍

In [96]:
print(name1*3) # 문자열을 곱하면 반복

홍길동홍길동홍길동

## ※ raw 데이터
- 용도 : 정규표현식 이용, 디렉토리 경로 표현시 이용

In [97]:
print('Hello\nWorld') # \n은 다음줄로 보내라

Hello
World

In [99]:
print(r'Hello\nWorld') # r을 앞에 붙이면 RAW데이터로 그대로 인식하도록 지시, \n도 raw데이터로 인식해서 출력함

Hello\nWorld

In [100]:
print('Hello\\nWorld') # 역슬래시를 두번써서 치환이 가능하나 보기가 싫어서 r을 많이 사용함

Hello\nWorld

정규표현식
``` (마크업 셀에서 백틱은 블록을 만들 떄 사용)
1. 참조 : 위키백과
2. 간략한 문법 : 
    \d (숫자와 매치, [0-9]와 동일
    \D (숫자가 아닌 것)
    \w (영문자나 숫자,[a-zA-Z0-9]
    \W (영문자나 숫자가 아닌 문자)
    .  (문자)
    \. (.의미)
    \- (-의미)
    {2,4} (2~4 반복)
    {4} (4회 반복)
    {2,} (2번 이상 반복)
    {1,] (1번 이상 반복)
    +    (1번 이상 반복)
    *    (0번 이상 반복)
    ? (0번이나 1번 반복)
3. 정규 표현식 연습장
https://regexr.com/
```