In [26]:
# 매 강의 시작시마다 동일하게 처리해야 함
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:10pt;}
div.output {font-size:15pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:10pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:12pt;padding:5px;}
table.dataframe{font-size:15px;
</style>
"""))

<font size="5" color="red">ch02 자료형과 연산자</font>
# 5절. 연산자
## 5.1 산술연산자 : +, -, *, /, //(몫연산자), %(나머지), **(제곱)

In [16]:
print('10의 5승 :', 10**5)
print('4/2(결과 실수) :', 4/2)
print('4//2(몫):', 4//2)
print('4%2(나머지) :', 4%2)

10의 5승 : 100000
4/2(결과 실수) : 2.0
4//2(몫): 2
4%2(나머지) : 0

In [2]:
num = int(input('정수를 입력하세요: '))
result = num%2
if result :
    temp = "홀수"
else :
    temp = "짝수"
    print(f"입력하신 수는 {num}, 2로 나눈 나머지는 {result}, 그래서 {temp}를 입력하셨군요.")

정수를 입력하세요: 6
입력하신 수는 6, 2로 나눈 나머지는 0, 그래서 짝수를 입력하셨군요.

In [ ]:
num = int(input('정수를 입력하세요: '))
result = num%5
if result : 
    print('5의 배수입니다.')
else :
    print('5의 배수가 아닙니다.')

In [ ]:
num = int(input('정수를 입력하세요: '))
result = num%5
if result :
    temp = "5의 배수가 아님"
else :
    temp = "5의 배수"
    print(f"입력하신 수는 {num}, 그래서 {temp}를 입력하셨군요.")

In [ ]:
num1 = int(input('국어점수를 입력하세요: '))
num2 = int(input('영어점수를 입력하세요: '))
num3 = int(input('수학점수를 입력하세요: '))
num4 = int(num1 + num2 + num3)
print(f"국어:{num1} 영어:{num2} 수학:{num3}")
print(f"총점:{num4} 평균:{num4/3}")

In [ ]:
# quiz 3. 국영수 점수를 받아 다음 셀에서 다음과 가팅 출력하도록 구현하시오

In [2]:
kor = int(input('국어?'))
eng = int(input('영어?'))
mat = int(input('수학?'))
sum = kor + eng + mat
avg = sum/3
print("국어:{:3d}\t영어:{:3d}\t수학:{:3d}".format(kor, eng, mat))
print("총점:{:3d}\t평균:{:5.1f}".format(sum, avg))

국어?30
영어?20
수학?30
국어: 30	영어: 20	수학: 30
총점: 80	평균: 26.7

## 5.2 할당연산자 : =, +=, -=, *=,/=, //=, %=

In [4]:
a = 10
a += 5 # a = a+5
print('5더하기 :', a)

5더하기 : 15

In [6]:
a -= 5
print('5빼기 :', a)

5빼기 : 10

In [7]:
a *= 4
print('5곱 :', a)

5곱 : 40

## 5.3 논리연산자 : &, and, |, or, not

In [11]:
# & 논리연산, 비트연산자
print((10>3) & (10>5)) # 논리연산 True & True
print(12 & 1) # 비트연산 12 : 0000 1100
              #         1 : 0000 0001
              #    12 & 1 : 0000 0000

True
0

In [13]:
# and : False로 판별되는 첫번쨰 항 반환
# 모든 항이 참이면 마지막 항을 반환
print(True and True and True)

True

In [14]:
print(False and True and True)

False

In [17]:
print(True and 1 and 3)

3

In [18]:
print(True and 'abc')

abc

In [23]:
# | : 논리연산, 비트연산
result = False | True
print('논리연산(연산자 앞뒤에 논리형일 때) :', result)
result = False | 3 # 0000 0000 (False)
                   # 0000 0011 (3)
print('비트연산(연산자 앞이나 뒤에 숫자일 떄) :', result)

논리연산(연산자 앞뒤에 논리형일 때) : True
비트연산(연산자 앞이나 뒤에 숫자일 떄) : 3

In [27]:
# OR : 논리연산, 참으로 판별되는 첫번쨰 항을 반환
#    모든 항이 거짓이면, 마지막 항을 반환
print(False or False or ' ')
print('Hong' or '  ' or False)

Hong

## 5.4 비교연산자 : >, >= <, <=, ==(같다), !=(다르다)

In [29]:
# 비교연산자는 이항, 삼항, 사항... 다항연산자
x = 5
print((4<x) & (x<10))
print(4 < x < 10)

True
True

In [38]:
# 비교연산자의 우선 순위가 논리연산(&)의 우선순위보다 낮다
print((10>5) & (10>7))
print(10>5 & 10>7) # 0101
                    # 1010
print(10 > 0 > 7)
print( 10>5 and 10 >7)

True
False
False
True

In [141]:
address = 'Seoul'
age = 29
print(address=='Seoul' & age>= 30)

TypeError: unsupported operand type(s) for &: 'str' and 'int'

In [44]:
address = 'seoul'
age = 29
print((address=='seoul') & (age >= 30)) # 위와 같은 에러가 발생할 수 있음, 그러므로 묶어 줘야 한다.
print((address!='seoul') & (age >=30))

False
False

In [45]:
# 문자 비교 : ASCII 코드 순으로 비교 가능 : 특수문자 < 숫자 < 대문자 < 소문자 

'scott' < 'tiger'

True

In [47]:
'scott' < 'scotg'

False

In [48]:
 '9'> '10' # 문자도 비교가 가능 ASCII 코드 순으로 판단

True

In [50]:
"김길동" < "김길수"

True

## 5.5 비트연산자 : &, |, ^(XOR), ~

In [ ]:
x  y x&y x^y
0  0  0   0 
0  1  0   1
1  0  0   1
1  1  1   0

In [52]:
a = 15 #1111
b = 2 #0010
print("a = {0:2} : {0:04b}".format(a))
print("b = {0:2} : {0:04b}".format(a))
print("a^b = {0:2} : {0:04b}".format(a))

a = 15 : 1111
b = 15 : 1111
a^b = 15 : 1111

- 연산자
    - 산술연산 : + - * / // % **
    - 산술연산 : = += -= *= /= //= %=
    - 논리연산 : & 뭉 | ㅐㄱ ㅜㅐㅅ
    - 비교연산 : > >= < <= == !=
    - 비트연산 : & | ^ 
    - &와 |은 비교 연산자보다 우선순위가 높다.

# 6절. 문자열 다루기
- 문자열 슬라이싱 변수[from:stop:step]
- len(문자열변수) : 문자 갯수

- upper() : 대문자로
- lower() : 소문자로
- title() : 각 어절의 첫 글자만 대문자로
- capitalize : 첫 문자만 대문자로
- count('찾을 문자열') : 찾을 문자열이 몇개 들어있는지 갯수 반환
- find('찾을 문자열') : 찾을 문자열이 왼쪽부터 시작하여 몇 번째 인덱스에 있는지 인덱스를 반환
- rfind('찾을 문자열") : 찾을 문자열이 오른쪽부터 시작하여 몇 번째 인덱스에 있는지 인덱스를 반환 
        **찾을 문자열이 없으면 -1을 반환**
    cf) index('찾을 문자열') : 찾을 문자열의 인덱스를 반환, 찾을 문자열이 없으면 오류 발생
- startswith('특정 문자열') : 특정 문자열로 시작하는지 여부를 확인하여 true or false 반환
- endswith('특정 문자열') : 특정 문자열로 끝나는지 여부를 확인하여 true or false 반환
- strip() : 좌우 공백 제거
- rstrip() : 오른쪽 공백만 제거
- lstrip() : 왼쪽 공백만 제거
- isdigit() : 문자열이 숫자 문자열인지 여부 반환 "10" true "10점" false
- islower() : 소문자 문자열인지 여부 반환
- isupper() : 대문자 문자열인지 여부 반환
- replace(oldstr, newstr) :oldstr을 newstr로 변경

In [66]:
temp = "python is easy. pYTHON is smart. python"
#       12345678901234567890123456789012345678
temp, len(temp)

('python is easy. pYTHON is smart. python', 39)

In [94]:
print('1. 글자수', len(temp))
print('2. 대문자로', temp.upper())
print('3. 소문자로', temp.lower())
print('4. title', temp.title())
print('5. capitalize', temp.capitalize())
print('6. python이 몇번 나오는지 :', temp.count('python'))
print('7. 대소문자 구분없이 python이 몇번 나오는지 : ', temp.lower().count('python'))
print('7. 대소문자 구분없이 python이 몇번 나오는지 : ', temp.upper().count('PYTHON'))
print('7. 대소문자 구분없이 python이 몇번 나오는지 : ', temp.title().count('Python'))
print('8. python이 나오는 첫 index 위치 : ', temp.find('python'))
print('8. python이 나오는 마지막 index 위치 : ', temp.rfind('python'))
print('8. python이 나오는 마지막 index 위치 : ', temp.rfind('java'))
print('9. pyton으로 시작하는지 여부 :', temp.startswith('python'))
print('10. pyton으로 끝나는지 여부 :', temp.endswith('python'))
print('10. python으로 시작하는지 여부 :', temp.startswith('python'))

1. 글자수 39
2. 대문자로 PYTHON IS EASY. PYTHON IS SMART. PYTHON
3. 소문자로 python is easy. python is smart. python
4. title Python Is Easy. Python Is Smart. Python
5. capitalize Python is easy. python is smart. python
6. python이 몇번 나오는지 : 2
7. 대소문자 구분없이 python이 몇번 나오는지 :  3
7. 대소문자 구분없이 python이 몇번 나오는지 :  3
7. 대소문자 구분없이 python이 몇번 나오는지 :  3
8. python이 나오는 첫 index 위치 :  0
8. python이 나오는 마지막 index 위치 :  33
8. python이 나오는 마지막 index 위치 :  -1
9. pyton으로 시작하는지 여부 : True
10. pyton으로 끝나는지 여부 : True

In [117]:
temp = '      pyhton is easy.      '
notdisit = '1,000'
num_str = '1000'
print('11. 좌우공백 제거 :', temp.strip())
print('11. 좌우공백 제거 : [{}]'.format(temp.strip()))
print('11. 좌측공백 제거 : [{}]'.format(temp.lstrip()))
print('11. 우측공백 제거 : [{}]'.format(temp.rstrip()))
print('12. 숫자문자열인지 : [{}]'.format(notdisit.isdigit()))
print('13. 소문자 문자열인지 : [{}]'.format(notdisit.islower()))
print('13. 대문자 문자열인지 : [{}]'.format(notdisit.isupper()))
print('13. 대문자 문자열인지 : [{}]'.format(notdisit.isupper()))
print('14. , 제거 :', notdisit.replace(',', ''))
print('14. , 제거 :', num_str.replace(',',''))

11. 좌우공백 제거 : pyhton is easy.
11. 좌우공백 제거 : [pyhton is easy.]
11. 좌측공백 제거 : [pyhton is easy.      ]
11. 우측공백 제거 : [      pyhton is easy.]
12. 숫자문자열인지 : [False]
13. 소문자 문자열인지 : [False]
13. 대문자 문자열인지 : [False]
13. 대문자 문자열인지 : [False]
14. , 제거 : 1000
14. , 제거 : 1000

In [120]:
temp = " 홍길동   김길동 실길똥 유길동"
print('space 단위로 temp를 분리 :', temp.split()) # 기본이 space 단위로 분리

space 단위로 temp를 분리 : ['홍길동', '김길동', '실길똥', '유길동']

In [129]:
data = "2025-04-10"
data_list = data.split('-')
print(' - 단위로 data를 분리 (결과 : list)')
print(data_list)
print("년 :", data_list[0])
print("월 :", data_list[1])
print("일 :", data_list[2])

 - 단위로 data를 분리 (결과 : list)
['2025', '04', '10']
년 : 2025
월 : 04
일 : 10

In [132]:
# ' - ' 을 '/'로 바꾸기
temp = "Python - HTML/CSS - JavaSCript - DBMS"
# temp.replace('-','/')
print('원 데이터 :', temp)
splited_temp = temp.split('-')
print('분리된 대이터:', splited_temp)
joined_temp = '/'.join(splited_temp)
print('Join된 데이터 :', joined_temp)

원 데이터 : Python - HTML/CSS - JavaSCript - DBMS
분리된 대이터: ['Python ', ' HTML/CSS ', ' JavaSCript ', ' DBMS']
Join된 데이터 : Python / HTML/CSS / JavaSCript / DBMS

In [ ]:
str_ = 'ABC'
# str_ = ['A', 'B','C']

In [134]:
# 문자열이 다를 수 있는 함수들과 변수들 목록
dir(str) # 요거로 아래 처럼 내용을 확인할 수 있음. 실제로는 잘 사용하지 않음. 수업시간에는 자주 사용하는 것들 위주로 강의할 것임

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 7절. 시간, 날짜, 날짜시간 다루기

In [ ]:
# 예습

In [3]:
import datetime # 함수

now = datetime.datetime.now() # 지금 시간을 변수로 지정
today = datetime.date.today() # 오늘 날짜를 변수로 지정
print("현재 : ",now)
print("오늘 : ", today)

현재 :  2025-04-11 09:19:55.702454
오늘 :  2025-04-11

In [11]:
from datetime import timedelta # timedelta 날짜의 연산형식  추가 또는 삭제
today = datetime.date.today()
tomorrow = today + timedelta(days=1) # 날자를 1일씩 추가
yesterday = today - timedelta(days=1) # 날자를 1일씩 빼기
print("내일 :", tomorrow)
print("어제 :", yesterday)

내일 : 2025-04-12
어제 : 2025-04-10

In [25]:
# 4/11 강의

In [27]:
# 주말을 활용해서 연습문제도 풀어보고 백문이 불여일타 실천!!!
# GIT 요약내용 정리
# 간단 간단한 문제들을 꾸준히 풀어 보는 것이 실제 구현하는 능력을 키울 수 있는 방법임

In [29]:
import datetime

datetime.__file__ # 시스템 상에 어떤 위치에 해당 기능이 있는지 위치 확인하는 시스템 명령어

'C:\\Users\\Admin\\anaconda3\\lib\\datetime.py'

In [30]:
# datetime 모듈(datetime.py) 안의 datetime, date, time을 import
from datetime import datetime, date, time

## 7.1 시간과 날짜

In [12]:
# 특정한 시점을 갖는 datetiem 객체 생성

In [41]:
from datetime import datetime, date, time
thatday = datetime(2025, 4, 7, 9, 30, 0)
print(thatday)
print(thatday.ctime()) # ctime() : 사람이 읽기 쉬운 형태로 반환 (미쿡사람용)
print("{:%Y년%m월%d일(%A) %p %H시%M분%S초}".format(thatday))
print(thatday.strftime("%Y%m월%d일(%A) %p %H시%M분%S초"))

2025-04-07 09:30:00
Mon Apr  7 09:30:00 2025
2025년04월07일(월요일) 오전 09시30분00초
202504월07일(월요일) 오전 09시30분00초

In [27]:
import locale
locale.setlocale(locale.LC_TIME, 'ko_KR')

'ko_KR'

In [47]:
# 오늘
now = datetime.now()
print(now.strftime("%Y-%m%d(%A) %H:%M:%S"))

2025-0411(금요일) 10:59:28

In [48]:
from datetime import datetime, date, time
diff = now-thatday
print("날짜차지:", diff.days, "일")

날짜차지: 4 일

In [49]:
from datetime import datetime, date

now = date.today()
thatday = date(2025, 4, 1)

diff = now - thatday
print("날짜 차이:", diff.days, "일")

날짜 차이: 10 일

## 7.2 날짜

In [15]:
someday = date(2025, 9, 3)

In [63]:
from datetime import datetime, date
someday = date(2025, 9, 7)
# 오늘
today1 = datetime.now().date()
today2 = date.today()
today1 == today2

True

In [64]:
print(today1.strftime("%y년 %m월 %d일"))

25년 04월 11일

In [65]:
diff = someday- today1
diff

datetime.timedelta(days=149)

In [67]:
# 특정시간
from datetime import datetime, date, time
t = time(13,10)
print(t)
print(t.strftime("%p %I시 %M분"))

13:10:00
오후 01시 10분

In [68]:
# 지금 시간
now_time = datetime.now().time()
now_time

datetime.time(11, 1, 44, 571196)

In [69]:
now_time.strftime("%H시 %M분 %S초")

'11시 01분 44초'

**datetime, date, time 형들을 원하는 포맷의 문자형으로 반환 : strftime()**
- %Y, %y, %m, %d, %A(요일) %p(오전/오후) %H(24시) %I(12시) %M(분) %S(초)

# 8절. 연습문제

In [24]:
# 4/10 수업을 연습문제 풀고 날짜 시간은 4/11일 이어갈 예정 쉬우므로..

1. 이름과 나이 변수를 다음 형식으로 출력하도록 format() 함수를 이용해 형식화하세요
[출력형식 : 홍길동님의 나이는 23 살입니다]

In [135]:
name = "홍길동"
age = 23
print("{}님의 나이는 {}살입니다.".format(name, age))

홍길동님의 나이는 23살입니다.

2. 두 정수를 입력받아 두 수의 덧셈 , 뺄셈 , 곱셈 , 나눗셈 , 몫 , 나머지를 출력하세요

In [136]:
num1 = int(input("첫번쨰 정수를 입력해주세요 :"))
num2 = int(input("두번째 정수를 입력해주세요 :"))
print("덧셈 : {} +{} = {}".format(num1, num2, num1+num2))
print("뺄셈 : {} - {} = {}".format(num1, num2, num1-num2))
print("곱셈 : {} * {} = {}".format(num1, num2, num1*num2))
print("나눗셈 : {}/{} = {}".format(num1, num2, num1/num2))
print("몫 : {} // {} = {}".format(num1, num2, num1//num2))
print("나머지 : {} % {} = {}".format(num1, num2, num1%num2))

첫번쨰 정수를 입력해주세요 :10
두번째 정수를 입력해주세요 :20
덧셈 : 10 +20 = 30
뺄셈 : 10 - 20 = -10
곱셈 : 10 * 20 = 200
나눗셈 : 10/20 = 0.5
몫 : 10 // 20 = 0
나머지 : 10 % 20 = 10

3. 문자열의 분리하기와 합치기 기능을 이용하여 ‘Hello 가 할당된 변수를 이용하여 ‘World 로 출력하세요

In [143]:
origin = "Hello"
str_ = list(origin)
str_[0] = 'W'
str_[1] = 'o'
str_[2] = 'r'
str_[3] = 'l'
str_[4] = 'd'
result = ''.join(str_)
print(result)

World

4. x = ' abcdef ＇를 이용하여 bcdefa 로 출력하세요 문자 슬라이싱이용

In [150]:
x = '   abcdef   ' 
y = x.strip()
print('공백제거 :', x.strip())
print('문자슬라이싱이용 :', y[1:6]+y[0])

공백제거 : abcdef
문자슬라이싱이용 : bcdefa

5. x = ‘ abcdef 를 이용하여 fedcba 로 출력하세요

In [161]:
x = '   abcdef   ' 
y = x.strip()
print('공백제거 :', x.strip())
print('문자슬라이싱이용 거꾸로 :', y[::-1])

# str_[9:0:-1] # 스트링을 거꾸로 출력

공백제거 : abcdef
문자슬라이싱이용 거꾸로 : fedcba

6. 오늘의 온도를 섭씨온도로 입력받아 화씨 온도로 변환하는 프로그램을 작성하세요 . 
화씨 온도는 소수점이 있을 경우만 두번째 자리까지 출력되고 , 
소수점이하 값이 없는 경우 소수점을 출력하지 않도록 합니다 다음은 섭씨와 화씨의 변환 공식입니다 . 
C 는 섭씨 ,F 는 화씨 
C = (F32) / 1.8 
F = (C1.8) + 32

In [173]:
c_temp = float(input('오늘의 섭씨온도를 입력해주세요'))
f_temp = (c_temp*1.8) + 32
print(f"화씨온도는 {f_temp}도입니다요.")

오늘의 섭씨온도를 입력해주세요12
화씨온도는 53.6도입니다요.