In [1]:
# 매 강의 시작시마다 동일하게 처리해야 함
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:10pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:10pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:10pt;padding:5px;}
table.dataframe{font-size:15px;
</style>
"""))

<font size="5" color="red">ch03. 데이터 구조</font>
- 리스트[], 튜플(), 딕셔너리{}, 셋
# 1절. 리스트
## 1.1 리스트 만들기
- [ ]를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
- list(리스트로 변환 가능한 자료)함수 이용도 가능
- 인덱스 : 각 요소의 위치. 0부터 시작. 맨 마지막 인덱스는 -1
- 슬라이싱( [from:stop,step] ) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 읽기/쓰기 지원

In [2]:
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [3]:
print(fruits)
print(fruits[0])

['banana', 'apple', 'orange', 'grape']
banana

In [4]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [7]:
fruits = ['mango', 'applep', 'orange']
x, y, z = fruits
print(f'x={x}')
print(f'y={y}')
print(f'z={z}')
print(f'fruits={fruits}')

x=mango
y=applep
z=orange
fruits=['mango', 'applep', 'orange']

In [12]:
# range(from, to, by) : from부터 to 앞까지 by씩 증가하면서 지정된 범위의 정수
       # from 생략시 : 0
        # ny 생략시 : 1
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
range(0, 10)
list(range(101, 112))

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111]

In [14]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [16]:
# 반복문(3회)
for i in [0, 1, 2]:
    print(i)

0
1
2

In [18]:
# 반복문(3회)
for i in list(range(3)):
    print(i)

0
1
2

In [20]:
fruits = ['mango', 'applep', 'orange']
print(fruits[0])
print(fruits[1])
print(fruits[2])

mango
applep
orange

In [23]:
fruits = ['mango', 'applep', 'orange']
for i in range(3):
    print(fruits[i])

mango
applep
orange

In [36]:
fruits = ['mango', 'applep', 'orange', 'grape']
# len(fruits) : 리스트 데이터 수
for i in range(len(fruits)):
    print("{}번쨰 과일은 {}입니다.".format(i, fruits[i]))

0번쨰 과일은 mango입니다.
1번쨰 과일은 applep입니다.
2번쨰 과일은 orange입니다.
3번쨰 과일은 grape입니다.

In [38]:
for value in fruits:
    print(value)

mango
applep
orange
grape

In [48]:
for idx, value in [[0, 'magno'],[1,'apple'], [2,'orange'], [3,'grape']]:
    print("{}번쨰 과일은 {}입니다.".format(idx, value))

0번쨰 과일은 magno입니다.
1번쨰 과일은 apple입니다.
2번쨰 과일은 orange입니다.
3번쨰 과일은 grape입니다.

In [50]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'applep'), (2, 'orange'), (3, 'grape')]

In [51]:
# enumerate(나열가능한 자료) : 튜플 등 나열 가능한 것은 모두 됨 -> (index, 값)들의 셋들
for idx, value in enumerate(fruits): # 있어보이니까, 그럼 range는 왜 쓴거야? 여러개 반복
    print("{}번쨰 과일은 {}입니다.".format(idx+1, value))

1번쨰 과일은 mango입니다.
2번쨰 과일은 applep입니다.
3번쨰 과일은 orange입니다.
4번쨰 과일은 grape입니다.

In [58]:
# 리스트는 여러 타입의 데이터를 담을 수 있음

numbers = [0, True, '2', 3, [4,5,6]]
print(numbers)
print(numbers[1])
print(numbers[4][1]) # 리스트안에 리스트는 이렇게 엑세스가 가능함

[0, True, '2', 3, [4, 5, 6]]
True
5

In [86]:
# 2차원 리스트
numbers_2d = [[90, 91, 92, 93],
              [80, 81, 82, 83],
              [70, 71, 72, 73],]  # 항상 컴마를 붙여서 향후 추가될 것을 미리 예측 습관적으로
len(numbers_2d), len(numbers_2d[0])

(3, 4)

In [87]:
for idx, row in enumerate(numbers_2d):
    print(idx, row)

0 [90, 91, 92, 93]
1 [80, 81, 82, 83]
2 [70, 71, 72, 73]

In [88]:
for i, row in enumerate(numbers_2d):
    for j, value in enumerate(row):
        print("{}행 {}열 : {}".format(i, j, value), end='\t')
    print() # () 사이에 end='\n' 생략되어 있으므로 개행

0행 0열 : 90	0행 1열 : 91	0행 2열 : 92	0행 3열 : 93
1행 0열 : 80	1행 1열 : 81	1행 2열 : 82	1행 3열 : 83
2행 0열 : 70	2행 1열 : 71	2행 2열 : 72	2행 3열 : 73

In [93]:
for i, row in enumerate(numbers_2d):
    for j, value in enumerate(row):
        print("{}".format(value), end=' ')
    print() # () 사이에 end='\n' 생략되어 있으므로 개행

90 91 92 93
80 81 82 83
70 71 72 73

In [94]:
for row in numbers_2d:
    print(row)

[90, 91, 92, 93]
[80, 81, 82, 83]
[70, 71, 72, 73]

In [102]:
for row in numbers_2d:
    for item in row:
        print(item, end='\t')
    print()

90	91	92	93
80	81	82	83
70	71	72	73

## 1.2 기본 정보 조회

In [105]:
numbers = [1, 12, 3, 3, 4]
numbers_2d = [[100,0],
              [9, 100],
              [50, 54]]

In [107]:
# 요소의 수
print(len(numbers), len(numbers_2d))

5 3

In [108]:
# 최소값, 최대값
min(numbers), max(numbers)

(1, 12)

In [109]:
# 2차원 list의 min() : 0번 인덱스 요소가 가장 작언 값
#             max() : 0번 인덱스 요소가 가장 큰 값
min(numbers_2d), max(numbers_2d)

([9, 100], [100, 0])

In [111]:
# 문자 list일 경우 ascii 코드값으로 min(), max() 적용
fruits = ['mango', 'apple', 'orange', 'APPLE']
min(fruits), max(fruits)

('APPLE', 'orange')

In [116]:
numbers = [1, 3, 12, 5, 4]  
# 정렬(오름차순, 내림차순)
print('오름차순 :', sorted(numbers))
print('내림차순 :', sorted(numbers, reverse=True))
print('sorted 함수 사용시 리스트 내용이 바뀌지 않음 :', numbers)
print('합', sum(numbers))

오름차순 : [1, 3, 4, 5, 12]
내림차순 : [12, 5, 4, 3, 1]
sorted 함수 사용시 리스트 내용이 바뀌지 않음 : [1, 3, 12, 5, 4]
합 25

## 1.3 요소 추가
```
+ : 두 리스트 연결
* : 리스트를 곱한 수만 반복
append() : 맨 뒤에 요소 추가
extend() : 맨 뒤에 리스트를 요소별로 추가
insert(idx, 값) : idx번째 인덱스 위치에 추가(기존 데이터는 shift됨)
```

In [ ]:
+ : 두 리스트 연결
* : 리스트를 곱한 수만 반복
append() : 맨 뒤에 요소 추가
extend() : 맨 뒤에 리스트를 요소별로 추가
insert(idx, 값) : idx번째 인덱스 위치에 추가(기존 데이터는 shift됨)

In [120]:
numbers = [1, 2, 3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [121]:
numbers = [1, 2, 3]
print(numbers *3)
print(3 * numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [2]:
# 추가
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [3]:
numbers.append([5,6,7]) # 맨 뒤에 하나의 요소로 추가
print(numbers)

[1, 2, 3, 4, [5, 6, 7]]

In [4]:
num = [1,2,3]
num.append([4,5,6])
print(num)

[1, 2, 3, [4, 5, 6]]

In [11]:
# 요소별로 각기 추가
num = [1,2,3]
num.extend([4,5,6])
print(num)

[1, 2, 3, 4, 5, 6]

In [12]:
num.insert(2, 'x')
print(num)

[1, 2, 'x', 3, 4, 5, 6]

## 1.4 인덱싱과 요소 갯스
- 변수 [index] : 인덱스를 이용한 접근
- index(찾을 데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
                      찾을 데이터가 없을 경우 오류
- count(찾을 데이터) : 리스트에서 찾을 데이터의 갯수 반환

In [13]:
numbers = [ 1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.count(2), numbers.count(9)

(2, 0)

In [15]:
numbers.index(2) # 0번째 index부터 2가 처음 나오는 index를 반환

1

In [16]:
numbers.index(2,3) # 3번째 index부터 2가 처음 나오는 index를 반환

5

In [18]:
numbers.index(9) #에러가 남, 그래서 i인덱스 함수는 잘 써야 함

ValueError: 9 is not in list

In [19]:
if numbers.count(9):
    print(numbers.index(9))
else:
    print('9가 없어요')

9가 없어요

In [20]:
if 9 in numbers:
    print(numbers.index(9))
else:
    print('9가 없어요')

9가 없어요

In [21]:
9 in numbers # numbers 리스트에 9가 존재하는지 여부

False

In [22]:
def safe_index(lst, data):
    if data in lst: # lst 안에 data가 있는지 여부를 확인
        return lst.index(data)
    else:
        return -1

In [23]:
safe_index(numbers,9)

-1

In [25]:
# numbers[20]
numbers[0:20]

[1, 2, 3, [1, 2, 3], 1, 2, 3]

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱 : 리스트에서 원하는 index의 데이터를 추출(인덱스의 범위가 벗어나도 에러나지 않음)
    - [from:stop:by] from 부터 stop 앞까지 step씩 증가하는 index의 값을 추출
    - form 생략시 처음. stop 생략시 끝. step 생략시 1. 모두 생략 가능
    - 음수 인덱스 가능

2. <font color="red"> 리스트컴프리헨션 </font> : 리스트에서 원하는 데이터를 추출(매우 중요함)

In [28]:
numbers = [1,3,5,9,10,12,13,20]
#짝수번쨰 인덱스 값 출력
print(numbers[::2])
# 꺼꾸로 출력
print(numbers[::-1])

[1, 5, 10, 13]
[20, 13, 12, 10, 9, 5, 3, 1]

In [30]:
numbers = [1,3,5,9,10,12,13,20]
# 리스트에서 짝수 데이터만 변수에 담아 출력하시오.
result = []
for data in numbers:
    if data %2 == 0: # 짝수 판별 조건 2로 나눠서 나머지 0
        result.append(data) # 짝수일때 결과 리스트에 추가
print(result)

[10, 12, 20]

In [31]:
numbers = [1,3,5,9,10,12,13,20]
# 리스트에서 짝수 데이터만 변수에 담아 출력하시오.
result = []
for data in numbers:
    if not data%2:
        result.append(data) # 짝수일때 결과 리스트에 추가
print(result)

[10, 12, 20]

In [32]:
numbers = [1,3,5,9,10,12,13,20]
# 리스트에서 짝수 데이터만 변수에 담아 출력하시오.
result = []
for data in numbers:
    result.append(data)
print(result)

[1, 3, 5, 9, 10, 12, 13, 20]

In [ ]:
# 리스트컴프리헨션 문법으로 바꿔보자.

**리스트컴프리헨션**

In [35]:
# numbers의 모든 데이터를 리스트컴프리헨션으로 추출
[ data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 20]

In [40]:
# numbers의 짝수 데이터를 리스트컴프리헨션으로 추출
[ data for data in numbers if data%2==0 ]

[10, 12, 20]

In [52]:
# ex 1. numbers에서 10 이상만 추출
numbers = [1,3,5,9,10,12,13,20]
[ data for data in numbers if data >= 10]

[10, 12, 13, 20]

In [48]:
# ex 2. fruits에서 5글자가 넘는 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[fruit for fruit in fruits if len(fruit) >5]

['orange']

In [50]:
# ex 3. 3 이상의 요소들의 제곱을 추출
L = [1, 2, 3, 4, 5]
result =[x**2 for x in L if x>= 3]
print(result)

[9, 16, 25]

## 1.6 요소 수정하기

In [53]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# 인덱스를 이용해서 요소 수정
numbers[2]=222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [60]:
# 슬라이싱을 이용해서 요소 수정 (step부분이 미포함 : 부분 리스트 전체가 수정됨)
numbers[1:4] = ['X', 'Y', 'Z', 'ㅋ', 'ㅎ']
numbers

[0, 'X', 'Y', 'Z', 'ㅋ', 'ㅎ', 6, 7, 8, 9]

In [65]:
# 슬라이싱을 이용해서 요소 수정(step부분을 포함 : 요소 갯수가 일치해야 함)
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2] = [99,99,99,99,99] # 짝수것만 바꾼다. 6개면 오류. 일치해야 하므로 5개 항목만)
numbers

[99, 1, 99, 3, 99, 5, 99, 7, 99, 9]

## 1.7 요소 제거(삭제)하기
- pop() : 가장 마지막 인덱스 요소가 반환되고 삭제
- pop(idx) : idx번째 요소가 반환되고 삭제
- remove(지우려는 data) : 리스트 안의 data가 삭제
- del 변수[idx] : idx번째 요소만 삭제

In [72]:
# pop 예시

numbers = [1,2,3,4,5]
delete_data = numbers.pop()
print("삭제된 데이터 : {}, 리스트 : {}".format(delete_data, numbers))

삭제된 데이터 : 5, 리스트 : [1, 2, 3, 4]

In [73]:
# pop 예시 2

numbers = [1,2,3,4,5]
delete_data = numbers.pop()

print("삭제된 데이터 : {}, 리스트 : {}".format(delete_data, numbers))

delete_data2 = numbers.pop(0)
print("삭제된 데이터 : {}, 리스트 : {}".format(delete_data, numbers))

삭제된 데이터 : 5, 리스트 : [1, 2, 3, 4]
삭제된 데이터 : 5, 리스트 : [2, 3, 4]

In [74]:
# del 예시 3

numbers = [1,2,3,4,5,6,7,8,9]
del numbers[2]
print

In [76]:
numbers = [1,2,3,4,5,6,7,8,9]
# remove()는 반환값이 없고, 해당 데이터만 삭제. 해당 데이터가 없으면 오류
del_num = numbers.remove(3) 
print(numbers)

[1, 2, 4, 5, 6, 7, 8, 9]

In [78]:
if 9 in numbers:
    numbers.remove(9)
else:
    print('해당 데이터가 없습니다.')

해당 데이터가 없습니다.

In [82]:
# 함수를 만들어보자.
# 남도 쓰면 .py파일로 만들어서 저장해 공유 가능

def safe_remove(lst, remove_data):
    if remove_data in lst:
        lst.remove(remove_data)
        print(remove_data, '삭제완료')
    else:
        print(f'{remove_data}는 없는 아이템입니다.')

In [83]:
safe_remove(numbers,9)
safe_remove(numbers,5)

9는 없는 아이템입니다.
5 삭제완료

In [84]:
numbers

[1, 2, 4, 6, 7, 8]

In [86]:
# 4/11 진도는 요기가지 함
# 복제는 월요일에 하고 나서 요약정리하는 것으로

## 1.8 정렬하기

In [12]:
numbers = [1, 9, 5, 0, 8]
print('numbers는 변경되지 않고 정렬 : ', sorted(numbers, reverse=True))
print('numbers :', numbers)

numbers는 변경되지 않고 정렬 :  [9, 8, 5, 1, 0]
numbers : [1, 9, 5, 0, 8]

In [9]:

numbers.sort() # numbers 자체가 정렬한 결과로 바뀜(기본정렬: 오름차순)
numbers

[0, 1, 5, 8, 9]

In [10]:
numbers.reverse() # numbers 자체가 역순으로 변경
numbers

[9, 8, 5, 1, 0]

In [14]:
lst = [2, 5, 9]
# lst.reverse()
lst = lst[::-1]
lst

[9, 5, 2]

## 1.9 복제하기

In [27]:
# 스칼라 데이터의 복제
i = 10 #원본
copy_i = i # 복제본
print(f"원본={i}, 복사본={copy_i} / 원본주소={id(i)}, 복사본주소={id(copy_i)}")
copy_i = 99
print(f"원본={i}, 복사본={copy_i} / 원본주소={id(i)}, 복사본주소={id(copy_i)}")

원본=10, 복사본=10 / 원본주소=2647430726160, 복사본주소=2647430726160
원본=10, 복사본=99 / 원본주소=2647430726160, 복사본주소=2647430729008

In [16]:
# 리스트(배열, 데이터 프레임, 딕셔너리)의 복제

In [25]:
a = 9
print(a, id(a))
a = 8 
print(a, id(a))

9 2647430726128
8 2647430726096

In [28]:
# 리스트(배열, 데이터 프레임, 딕셔너리)의 복제(절대 안됨) : 복사본 처리 시 원본도 오염될 수 있음
numbers = [5, 8, 1] # 원본
new_numbers = numbers # 복제본
new_numbers[0] = 9
print('원본 :', numbers)
print('복제본 : ', new_numbers)

원본 : [9, 8, 1]
복제본 :  [9, 8, 1]

In [37]:
# 얕은 복사(할당) / 
numbers = [5, 8, 1] # 원본
new_numbers = numbers # 얕은 복사(할당)
print(f"원본={numbers}, 복제본={new_numbers}")
print(f"원본={id(numbers)}, 복제본={id(new_numbers)}")
new_numbers[0] = -99
new_numbers.sort()
print("복제본만 지지고 볶고")
print(f"원본={numbers}, 복제본={new_numbers}")
print(f"원본={id(numbers)}, 복제본={id(new_numbers)}")

원본=[5, 8, 1], 복제본=[5, 8, 1]
원본=2647556491264, 복제본=2647556491264
복제본만 지지고 볶고
원본=[-99, 1, 8], 복제본=[-99, 1, 8]
원본=2647556491264, 복제본=2647556491264

In [43]:
# 깊은 복사(복제)
numbers = [5, 8, 1] # 원본
new_numbers = numbers.copy() # 깊은 복사(복제)
print(f"원본={numbers}, 복제본={new_numbers}")
print(f"원본주소={id(numbers)}, 복제본={id(new_numbers)}")
new_numbers[0] = -99
new_numbers.sort()
new_numbers.pop()
new_numbers.remove(-99)
print("복제본만 지지고 볶고")
print(f"원본={numbers}, 복제본={new_numbers}")
print(f"원본주소={id(numbers)}, 복제본={id(new_numbers)}")

원본=[5, 8, 1], 복제본=[5, 8, 1]
원본주소=2647556163968, 복제본=2647556164928
복제본만 지지고 볶고
원본=[5, 8, 1], 복제본=[1]
원본주소=2647556163968, 복제본=2647556164928

In [44]:
numbers.clear() # 리스트의 요소를 모두 삭제
numbers

[]

In [47]:

# 요기까지 리스트에 대한 내용을 마침

# 2절. 튜플
- 리스트와 유사하지만, 읽기 전용, 수정이 필요없는 데이터에서 사용
- 수정이 불가능하므로, 퓨틀에 데이터 수정, 추가, 삭제 불가(제공되는 함수도 많지 않음)
- (), tuple()함수를 이용해서 생성

In [48]:
# city = ('서울', '부산', '인천', '목포')
city = '서울',' 부산', '인천', '목포'
print(type(city))
print(city)

<class 'tuple'>
('서울', ' 부산', '인천', '목포')

In [51]:
# city = ['서울',' 부산', '인천', '목포']
city = ('서울',' 부산', '인천', '목포')
'  =  '.join(city)

'서울  =   부산  =  인천  =  목포'

In [53]:
l = ['서울','3'] # 요소가 하나, 또는 2개 있는 리스트
print(type(l), l)

<class 'list'> ['서울', '3']

In [58]:
t = ('서울',) # 요,소가 하나있는 튜플(, 반드시 기입)
print(type(t), t)

<class 'tuple'> ('서울',)

In [64]:
numbers = (1, 2, 3)
# numbers.remove(3) 수정하기 위한 함수는 제공되지 않음
# numbers.append(4)
# numbers.pop()
# numbers.sort()
min(numbers), max(numbers), sum(numbers), sorted(numbers, reverse=True)

(1, 3, 6, [3, 2, 1])

In [65]:
numbers = (0, 1, 2, (1, 2), 0, 1, 2)
numbers.count(2), numbers.count(9)

(2, 0)

In [69]:
if 9 in numbers:
    numbers.index(9)
else:
    print('9 요소가 없어요')

9 요소가 없어요

In [ ]:
def safe_index(lst, item):
    """
    lst 안에 item 요소가 있으면 item 요소의 index를 반환, 없으면 -1qksghks
    lst :나열 가능한 데이터
    item : 찾을 데이터
    """
#    if item in lst:
#        return lst.index(item)
#    else:
#        return -1
    return lst.index(item) if item in lst else -1

In [72]:
def safe_index(lst, item):
    """
    lst 안에 item 요소가 있으면 item 요소의 index를 반환, 없으면 -1qksghks
    lst :나열 가능한 데이터
    item : 찾을 데이터
    """
    if item in lst:
        return lst.index(item)
    else:
        return -1
#    return lst.index(item) if item in lst else -1

In [2]:
from safe import safe_index # 생성한 모듈에서 함수 불러오기를 통해서 처리됨
numbers = (0, 1, 2, (1, 2), 0, 1, 2)
safe_index(numbers, 9), safe_index(numbers, 2)

(-1, 2)

In [5]:
numbers * 3 # 반복

(0, 1, 2, (1, 2), 0, 1, 2, 0, 1, 2, (1, 2), 0, 1, 2, 0, 1, 2, (1, 2), 0, 1, 2)

In [7]:
# ex. 짝수 요소들을 추출하여 제곱한 데이터를 출력
numbers = (1, 2, 3, 4, 5, 6)
[num for num in numbers]

[1, 2, 3, 4, 5, 6]

In [9]:
# 실습
numbers = (1, 2, 3, 4, 5, 6)
result = []
for data in numbers:
    if data %2 == 0: # 짝수 판별 조건 2로 나눠서 나머지 0
        result.append(data) # 짝수일때 결과 리스트에 추가
print(result)

[2, 4, 6]

In [12]:
# 같이
# ex. 짝수 요소들을 추출하여 제곱한 데이터를 출력
numbers = (1, 2, 3, 4, 5, 6)
tuple([num**2 for num in numbers if num%2==0])

(4, 16, 36)

# 3절. 딕셔너리
- 중괄호 ({}) 를 이용해서, 키(key)-값(value) 쌍으로 구성된 자료 구조
- 키는 중복불가(유일한 값). 키에 list는 사용불가
- 값은 중복가능
- 인덱스를 이용한 참조 지원 안 함

In [22]:
dic = {'name' : '홍길동', 1:22, (1, 2):[1,2]}
print(type(dic))
print(dic)
print('데이터 갯수 : ', len(dic))

<class 'dict'>
{'name': '홍길동', 1: 22, (1, 2): [1, 2]}
데이터 갯수 :  3

In [24]:
my_favorite = {'fruit':'apple', 'number':12, 'sport':'golf'}
my_favorite

{'fruit': 'apple', 'number': 12, 'sport': 'golf'}

In [28]:
print(my_favorite['fruit'])
print(my_favorite.get('fruit')) # ★

apple
apple

In [33]:
# print(my_favorite['people']) # 없는 키값을 인덱스 방식으로 참조시 참조시 에러
print(my_favorite.get('people')) # 없는 키를 get함수로 참조시 Nonm 반환
print(my_favorite.get('peopple','-')) #없는 키를 get함수로 참조시 '-'로 반환

None
-

In [43]:
# 딕셔너리 수정
my_favorite = {'fruit':'apple', 'number':12, 'sport':'golf'} # 키값 하나를 수정, 추가, 삭제 등 해봐야 함
my_favorite['fruit'] ='mango' # fruit 데이터 수정
print('fruit 수정 후 :', my_favorite)
my_favorite['people'] = '홍길동' # 데이터 추가
print('my_favorite 추가 후', my_favorite)
del my_favorite['fruit']
print('fruit 제거 후 :', my_favorite)
remove_data = my_favorite.pop('number') # number 키의 값을 반환하고 제거
print('remove_data :', remove_data)
print('number 제거 후 딕셔너리 :', my_favorite)

fruit 수정 후 : {'fruit': 'mango', 'number': 12, 'sport': 'golf'}
my_favorite 추가 후 {'fruit': 'mango', 'number': 12, 'sport': 'golf', 'people': '홍길동'}
fruit 제거 후 : {'number': 12, 'sport': 'golf', 'people': '홍길동'}
remove_data : 12
number 제거 후 딕셔너리 : {'sport': 'golf', 'people': '홍길동'}

In [50]:
# for 문을 이용한 튜플(리스트) 출력
my_tup = ('홍길동', 30, '010-9999-9999') # 이거 아님

In [52]:
for data in my_tup:
    print(data, end="\t")
print()
for idx in range(len(my_tup)):
    print(f"{idx}번째 {my_tup[idx]}", end="\t")
for idx, value in enumerate(my_tup):
    print(f"{idx}번째 {value}", end="\t")

홍길동	30	010-9999-9999
0번째 홍길동	1번째 30	2번째 010-9999-9999	0번째 홍길동	1번째 30	2번째 010-9999-9999

In [44]:
my_dic = {'name':'홍길동', 'age':30, 'tel':'010-9999-9999'}

In [66]:
for data in my_dic:
    print(my_dic.get(data), end='\t')

홍길동	30	010-9999-9999

In [67]:
for data in my_dic.keys():
    print(data, end='\t')

name	age	tel

In [54]:
# 엄청 비추

for key in my_dic:
    print(my_dic.get(key), end='\t')

홍길동	30	010-9999-9999

In [55]:
for data in my_dic.values():
    print(data, end='\t')

홍길동	30	010-9999-9999

In [57]:
my_dic.values() # 값만 추출

dict_values(['홍길동', 30, '010-9999-9999'])

In [58]:
my_dic.keys() # 키만 추출

dict_keys(['name', 'age', 'tel'])

In [63]:
my_dic.items() # (키,-값) 쌍을 추출

dict_items([('name', '홍길동'), ('age', 30), ('tel', '010-9999-9999')])

In [65]:
for key, value in  my_dic.items():
    print(f"{key}:{value}", end='\t') # 딕셔너리는 대부분 요런 형식으로 사용하면 됨

name:홍길동	age:30	tel:010-9999-9999

In [69]:
list(enumerate(my_dic.items()))

[(0, ('name', '홍길동')), (1, ('age', 30)), (2, ('tel', '010-9999-9999'))]

In [72]:
for idx, (key, value) in enumerate(my_dic.items()):
    print("{}.{:4} : {}".format(idx+1, key,value))

1.name : 홍길동
2.age  : 30
3.tel  : 010-9999-9999

In [74]:
"홍길동" in my_dic # my_dic.keys() 동일, 키 값을 기준으로 처리

False

In [75]:
"홍길동" in my_dic.values() # 데이터를 기준으로 처리시 values

True

In [76]:
# 얕은 복사
my_favorite = {'fruit':'apple', 'number':12} # 원본
new_favorite = my_favorite # 복제본(얕은 복사)
new_favorite['people'] = '홍길동'
print(my_favorite)
print(new_favorite)

{'fruit': 'apple', 'number': 12, 'people': '홍길동'}
{'fruit': 'apple', 'number': 12, 'people': '홍길동'}

In [77]:
#  깊은 복사
my_favorite = {'fruit':'apple', 'number':12} # 원본
new_favorite = my_favorite.copy() # 복제본(얕은 복사)
new_favorite['people'] = '홍길동'
print(my_favorite)
print(new_favorite)

{'fruit': 'apple', 'number': 12}
{'fruit': 'apple', 'number': 12, 'people': '홍길동'}

# 4절. 셋 (set)
- 중복을 허용하지 않는 집합(순서도 없음 == 인덱스도 없음)
- 중괄호(  { }  )나 set()함수를 이용해서 셋 생성
- 추가 : add(), update()
- 집합연산자 : &(교집합), |(합집합), -(여집합)
- 삭제 : remove()

In [79]:
fruits = {'banana', 'orange', 'banana', 'banana', 'apple'}
fruits

{'apple', 'banana', 'orange'}

In [80]:
s1 =set([1, 20, 1, 21, 1, 22])
s1

{1, 20, 21, 22}

In [82]:
# set함수를 이용해서 딕셔너리를 셋으로 전환할 때는 key만 적용된다.

my_favorite = {'fruit':'apple', 'number':12} # 원본
set(my_favorite)

{'fruit', 'number'}

## 추가하기
- add() : 기본자료형, 튜플데이터를 하나의 요소로 추가할 경우
- update() : 리스트, 튜플, 딕셔너리, 셋 요소 하나 하나씩 추가할 경우. dict 사용시 key만 추가

In [86]:
s2 = {1, 1, 2, 3}
s2.add(4)
s2.update([5, 6, 7])
s2

{1, 2, 3, 4, 5, 6, 7}

In [93]:
# 논리값 false는 false, 0으로
# 논리값 True는 True, 1로
s = {1, 2, 3}
s.add(False)
s.add(True) # 1이 있으므로 안 들어감
s.add(0) # 0 이 있으므로 안 들어감
s

{False, 1, 2, 3}

In [94]:
{False, 1, 2, 3}

{False, 1, 2, 3}

In [96]:
s.remove(True)
s

KeyError: True

## 연산 : &(교집합) |(합집합) -(차집합)
&, |, - : 집합연산자, 논리연산자, 비트연산자

In [99]:
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5, 6, 7}
print('s1 | s2 = ', s1|s2)
print('s1 & s2 = ', s1&s2)
print('s1 - s2 = ', s1-s2)

s1 | s2 =  {1, 2, 3, 4, 5, 6, 7}
s1 & s2 =  {3, 4, 5}
s1 - s2 =  {1, 2}

# 5절. enumerate
- 반복자 또는 순서 객체로 반복문을 처리할 때 사용하는 함수
- 리스트, 튜플, 셋, 딕셔너리를 for 문에 사용시

In [101]:
names = {'길자', '길동', '영자'}
for name in names:
    print(name, end='\t')

영자	길동	길자

In [104]:
for no, name in enumerate(names):
    print(f"{no}.{name}")

0.영자
1.길동
2.길자

In [110]:
# 순자 : 010-9999 서울
# 길동 : 010-8888 인천
# 길자 : 010-7777 판교

names = ['순자', '길동', '길자']
tels = ['010-999-9999', '010-8888-8888', '010-7777-7777']
adds = ['서울', '인천', '판교']
for idx in range(len(names)):
        print("{}의 연락처는 {}이고 {}에 살아요".format(names[idx], tels[idx], adds[idx]))

순자의 연락처는 010-999-9999이고 서울에 살아요
길동의 연락처는 010-8888-8888이고 인천에 살아요
길자의 연락처는 010-7777-7777이고 판교에 살아요

In [129]:
# 앞에 숫자를 붙이기
names = ['순자', '길동', '길자']
tels = ['010-999-9999', '010-8888-8888', '010-7777-7777']
adds = ['서울', '인천', '판교']
for idx in range(len(names)):
# idx+1 추가로 구현 가능함
        print("{}. {}의 연락처는 {}이고 {}에 살아요".format(idx+1, 
                                                 names[idx], 
                                                 tels[idx], 
                                                 adds[idx]))

1. 순자의 연락처는 010-999-9999이고 서울에 살아요
2. 길동의 연락처는 010-8888-8888이고 인천에 살아요
3. 길자의 연락처는 010-7777-7777이고 판교에 살아요

In [114]:

zip(names, tels, adds)

In [115]:
list(zip(names, tels, adds))

[('순자', '010-999-9999', '서울'),
 ('길동', '010-8888-8888', '인천'),
 ('길자', '010-7777-7777', '판교')]

In [124]:
for name, tels, add in zip(names, tels, adds):
    print(f"{name} : {tels} - {add}")

순자 : 010-999-9999 - 서울
길동 : 010-8888-8888 - 인천
길자 : 010-7777-7777 - 판교

In [125]:
list(enumerate(zip(names, tels, adds)))

[(0, ('순자', '0', '서울')), (1, ('길동', '1', '인천')), (2, ('길자', '0', '판교'))]

In [245]:
for idx, (name, tel, add) in enumerate(zip(names, tels, adds)):
    print("{}. {} : {} - {}".format(idx+1,
                                   name,
                                   tel,
                                   add))

1. 순자 : 010-999-9999 - 서울
2. 길동 : 010-8888-8888 - 인천
3. 길자 : 010-7777-7777 - 판교

```
변수가 담을 수 있는 기본 자료형들
![자료형들](https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg)
```

<img src="https://pynative.com/wp-content/uploads/2021/02/python-data-types.jpg" 
     width="500"
     style="float:left">

# 6절. 연습문제
## 실습형

In [258]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# 1. 숫자 100을 맨뒤에 추가
numbers.append(100)
print('1번 결과 :', numbers)
# 2. 다음 리스트를 numbers 리스트 맨 뒤에 추가하세요
data = [200, 300, 400, 500]
numbers.extend(data)
print('2번 결과 :', numbers)
# 3. 처음 다섯 개 숫자만 출력하세요.
print('3번 결과 :', numbers[:5:])
# 4. 리스트에서 짝수 번째 데이터만 출력하세요
print('4번 결과 :', numbers[::2])
# 5. 짝수번째 데이터를 모두 0 으로 바꾸세요# 
numbers[::2]=[0,0,0,0,0,0,0,0]
print('5번 결과 :', numbers)
# 6. 데이터를 역순으로 나열하세요 내림차순 정렬이 아닙니다
numbers.reverse()
print('6번 결과 :', numbers)
# 다음 딕셔너리 데이터가 주어졌을 경우 요구사항대로 코드를 작성하세요
# 7. address 값을 출력하세요

member_info = {"name":"홍길동", "age":20, "address":"서울시 마포구", "score":90}
print('7번 결과', '주소 :', member_info.get('address'))

# 8. score 를 출력하고 member_info 딕셔너리에서 삭제하세요
remove_data = member_info.pop('score')
print('8번 결과', '점수 :', remove_data)

# 9. address 를 서울시 서대문구 로 변경하세요
member_info['address'] ='서울시 서대문구' 
print('9번 결과', '변경된 주소 :',member_info.get('address'))

# 10. member_info 딕셔너리 데이터의 값을 리스트로 출력하세요
for data in member_info:
    print('10번 결과','리스트 :',member_info.values())

1번 결과 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100]
2번 결과 : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100, 200, 300, 400, 500]
3번 결과 : [1, 2, 3, 4, 5]
4번 결과 : [1, 3, 5, 7, 9, 100, 300, 500]
5번 결과 : [0, 2, 0, 4, 0, 6, 0, 8, 0, 10, 0, 200, 0, 400, 0]
6번 결과 : [0, 400, 0, 200, 0, 10, 0, 8, 0, 6, 0, 4, 0, 2, 0]
7번 결과 주소 : 서울시 마포구
8번 결과 점수 : 90
9번 결과 변경된 주소 : 서울시 서대문구
10번 결과 리스트 : dict_values(['홍길동', 20, '서울시 서대문구'])
10번 결과 리스트 : dict_values(['홍길동', 20, '서울시 서대문구'])
10번 결과 리스트 : dict_values(['홍길동', 20, '서울시 서대문구'])

## 서술형

In [259]:
# 1. 다음 코드를 실행했을 때 출력되는 것은
L1 = ("ornage", "apple", "banana", "kiwi")
new_list = [i for i in L1 if len(i)>5]
print('1번 결과 :', new_list)

# 2.다음 코드와 실행결과가 잘못 짝지어진 것은?
print(list(range(10)))
print(list(range(5,10)))
print(list(range(10,0,-1)))
print(list(range(10,20,2)))
print('2번 결과 :', '정답은 3번입니다.')

# 3. 다음 구문에 의해 출력되는 것은
numbers_2d = [[1,2,3,4,5],[10,20,30,40],[1,3,5],[2,]]
len(numbers_2d[3])
print('3번 결과 :', numbers_2d)

# 4. 다음 코드의 실행결과가 나올 수 있는 빈칸에 들어갈 함수 이름은?
numbers = [1,2,3,4,5]
numbers.extend([10,20,30,40,50])
print(numbers)
print('4번 결과 :', '정답은 "extend()"입니다.')

# 5. 다음 구문을 실행할 때 결과는?
numbers=list(range(10))
numbers[::2]=[0]*len(numbers[::2])
print('5번 결과 :', numbers)

# 6. 다음 구문을 실행할 때 결과는?
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2]=numbers[5:]
print('6번 결과 :', numbers)

# 7. 다음 구문을 실행할 때 결과는?
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[ : : 2]= numbers[:5]
print('7번 결과 :', numbers)

# 8. 다음 데이터에서 10 을 출력할 수 없는 구문은?
my_dic = {"a":10, "b":20, "c":30}
print('8번 결과 : "1" 입니다.')

# 9. 다음 프로그램의 결과를 출력하시오
fruits = ['apple', 'banana', 'orange']
x, y, z = fruits
print('9번 결과 : ')
print(x)
print(y)
print(z)

# 10. 다음 프로그램의 결과를 출력하시오
fruits = [ 'apple', 'banana', 'orange']
print('10번 결과 :', len(fruits))

# 11. 파이썬에서 함수를 만들기 위해 선언하는 단어는?
print('11번 결과 : "def" 입니다.')

1번 결과 : ['ornage', 'banana']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
[10, 12, 14, 16, 18]
2번 결과 : 정답은 3번입니다.
3번 결과 : [[1, 2, 3, 4, 5], [10, 20, 30, 40], [1, 3, 5], [2]]
[1, 2, 3, 4, 5, 10, 20, 30, 40, 50]
4번 결과 : 정답은 "extend()"입니다.
5번 결과 : [0, 1, 0, 3, 0, 5, 0, 7, 0, 9]
6번 결과 : [5, 1, 6, 3, 7, 5, 8, 7, 9, 9]
7번 결과 : [0, 1, 1, 3, 2, 5, 3, 7, 4, 9]
8번 결과 : "1" 입니다.
9번 결과 :
apple
banana
orange
10번 결과 : 3
11번 결과 : "def" 입니다.

In [255]:
# 정답 풀이

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]