In [118]:
# 매 강의 시작시마다 동일하게 처리해야 함
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:10pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:10pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:10pt;padding:5px;}
table.dataframe{font-size:15px;
</style>
"""))

<font size="5" color="red">ch03. 데이터 구조</font>
- 리스트[], 튜플(), 딕셔너리{}, 셋
# 1절. 리스트
## 1.1 리스트 만들기
- [ ]를 이용해서 만들며, 여러개 값(여러 타입)을 하나의 변수에 저장/관리할 수 있음
- list(리스트로 변환 가능한 자료)함수 이용도 가능
- 인덱스 : 각 요소의 위치. 0부터 시작. 맨 마지막 인덱스는 -1
- 슬라이싱( [from:stop,step] ) : 부분 데이터셋 추출
- 인덱스와 슬라이싱을 이용해서 읽기/쓰기 지원

In [2]:
fruits = ['banana', 'apple', 'orange', 'grape']
type(fruits)

list

In [3]:
print(fruits)
print(fruits[0])

['banana', 'apple', 'orange', 'grape']
banana

In [4]:
fruits[0] = 'mango'
print(fruits)

['mango', 'apple', 'orange', 'grape']

In [7]:
fruits = ['mango', 'applep', 'orange']
x, y, z = fruits
print(f'x={x}')
print(f'y={y}')
print(f'z={z}')
print(f'fruits={fruits}')

x=mango
y=applep
z=orange
fruits=['mango', 'applep', 'orange']

In [12]:
# range(from, to, by) : from부터 to 앞까지 by씩 증가하면서 지정된 범위의 정수
       # from 생략시 : 0
        # ny 생략시 : 1
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
range(0, 10)
list(range(101, 112))

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111]

In [14]:
list(range(10, -1, -2))

[10, 8, 6, 4, 2, 0]

In [16]:
# 반복문(3회)
for i in [0, 1, 2]:
    print(i)

0
1
2

In [18]:
# 반복문(3회)
for i in list(range(3)):
    print(i)

0
1
2

In [20]:
fruits = ['mango', 'applep', 'orange']
print(fruits[0])
print(fruits[1])
print(fruits[2])

mango
applep
orange

In [23]:
fruits = ['mango', 'applep', 'orange']
for i in range(3):
    print(fruits[i])

mango
applep
orange

In [36]:
fruits = ['mango', 'applep', 'orange', 'grape']
# len(fruits) : 리스트 데이터 수
for i in range(len(fruits)):
    print("{}번쨰 과일은 {}입니다.".format(i, fruits[i]))

0번쨰 과일은 mango입니다.
1번쨰 과일은 applep입니다.
2번쨰 과일은 orange입니다.
3번쨰 과일은 grape입니다.

In [38]:
for value in fruits:
    print(value)

mango
applep
orange
grape

In [48]:
for idx, value in [[0, 'magno'],[1,'apple'], [2,'orange'], [3,'grape']]:
    print("{}번쨰 과일은 {}입니다.".format(idx, value))

0번쨰 과일은 magno입니다.
1번쨰 과일은 apple입니다.
2번쨰 과일은 orange입니다.
3번쨰 과일은 grape입니다.

In [50]:
list(enumerate(fruits))

[(0, 'mango'), (1, 'applep'), (2, 'orange'), (3, 'grape')]

In [51]:
# enumerate(나열가능한 자료) : 튜플 등 나열 가능한 것은 모두 됨 -> (index, 값)들의 셋들
for idx, value in enumerate(fruits): # 있어보이니까, 그럼 range는 왜 쓴거야? 여러개 반복
    print("{}번쨰 과일은 {}입니다.".format(idx+1, value))

1번쨰 과일은 mango입니다.
2번쨰 과일은 applep입니다.
3번쨰 과일은 orange입니다.
4번쨰 과일은 grape입니다.

In [58]:
# 리스트는 여러 타입의 데이터를 담을 수 있음

numbers = [0, True, '2', 3, [4,5,6]]
print(numbers)
print(numbers[1])
print(numbers[4][1]) # 리스트안에 리스트는 이렇게 엑세스가 가능함

[0, True, '2', 3, [4, 5, 6]]
True
5

In [86]:
# 2차원 리스트
numbers_2d = [[90, 91, 92, 93],
              [80, 81, 82, 83],
              [70, 71, 72, 73],]  # 항상 컴마를 붙여서 향후 추가될 것을 미리 예측 습관적으로
len(numbers_2d), len(numbers_2d[0])

(3, 4)

In [87]:
for idx, row in enumerate(numbers_2d):
    print(idx, row)

0 [90, 91, 92, 93]
1 [80, 81, 82, 83]
2 [70, 71, 72, 73]

In [88]:
for i, row in enumerate(numbers_2d):
    for j, value in enumerate(row):
        print("{}행 {}열 : {}".format(i, j, value), end='\t')
    print() # () 사이에 end='\n' 생략되어 있으므로 개행

0행 0열 : 90	0행 1열 : 91	0행 2열 : 92	0행 3열 : 93
1행 0열 : 80	1행 1열 : 81	1행 2열 : 82	1행 3열 : 83
2행 0열 : 70	2행 1열 : 71	2행 2열 : 72	2행 3열 : 73

In [93]:
for i, row in enumerate(numbers_2d):
    for j, value in enumerate(row):
        print("{}".format(value), end=' ')
    print() # () 사이에 end='\n' 생략되어 있으므로 개행

90 91 92 93
80 81 82 83
70 71 72 73

In [94]:
for row in numbers_2d:
    print(row)

[90, 91, 92, 93]
[80, 81, 82, 83]
[70, 71, 72, 73]

In [102]:
for row in numbers_2d:
    for item in row:
        print(item, end='\t')
    print()

90	91	92	93
80	81	82	83
70	71	72	73

## 1.2 기본 정보 조회

In [105]:
numbers = [1, 12, 3, 3, 4]
numbers_2d = [[100,0],
              [9, 100],
              [50, 54]]

In [107]:
# 요소의 수
print(len(numbers), len(numbers_2d))

5 3

In [108]:
# 최소값, 최대값
min(numbers), max(numbers)

(1, 12)

In [109]:
# 2차원 list의 min() : 0번 인덱스 요소가 가장 작언 값
#             max() : 0번 인덱스 요소가 가장 큰 값
min(numbers_2d), max(numbers_2d)

([9, 100], [100, 0])

In [111]:
# 문자 list일 경우 ascii 코드값으로 min(), max() 적용
fruits = ['mango', 'apple', 'orange', 'APPLE']
min(fruits), max(fruits)

('APPLE', 'orange')

In [116]:
numbers = [1, 3, 12, 5, 4]  
# 정렬(오름차순, 내림차순)
print('오름차순 :', sorted(numbers))
print('내림차순 :', sorted(numbers, reverse=True))
print('sorted 함수 사용시 리스트 내용이 바뀌지 않음 :', numbers)
print('합', sum(numbers))

오름차순 : [1, 3, 4, 5, 12]
내림차순 : [12, 5, 4, 3, 1]
sorted 함수 사용시 리스트 내용이 바뀌지 않음 : [1, 3, 12, 5, 4]
합 25

## 1.3 요소 추가
```
+ : 두 리스트 연결
* : 리스트를 곱한 수만 반복
append() : 맨 뒤에 요소 추가
extend() : 맨 뒤에 리스트를 요소별로 추가
insert(idx, 값) : idx번째 인덱스 위치에 추가(기존 데이터는 shift됨)
```

In [ ]:
+ : 두 리스트 연결
* : 리스트를 곱한 수만 반복
append() : 맨 뒤에 요소 추가
extend() : 맨 뒤에 리스트를 요소별로 추가
insert(idx, 값) : idx번째 인덱스 위치에 추가(기존 데이터는 shift됨)

In [120]:
numbers = [1, 2, 3]
numbers = numbers + numbers
numbers

[1, 2, 3, 1, 2, 3]

In [121]:
numbers = [1, 2, 3]
print(numbers *3)
print(3 * numbers)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [2]:
# 추가
numbers = [1, 2, 3]
numbers.append(4)
print(numbers)

[1, 2, 3, 4]

In [3]:
numbers.append([5,6,7]) # 맨 뒤에 하나의 요소로 추가
print(numbers)

[1, 2, 3, 4, [5, 6, 7]]

In [4]:
num = [1,2,3]
num.append([4,5,6])
print(num)

[1, 2, 3, [4, 5, 6]]

In [11]:
# 요소별로 각기 추가
num = [1,2,3]
num.extend([4,5,6])
print(num)

[1, 2, 3, 4, 5, 6]

In [12]:
num.insert(2, 'x')
print(num)

[1, 2, 'x', 3, 4, 5, 6]

## 1.4 인덱싱과 요소 갯스
- 변수 [index] : 인덱스를 이용한 접근
- index(찾을 데이터) : 해당 찾을 데이터가 있는 요소의 index를 반환
                      찾을 데이터가 없을 경우 오류
- count(찾을 데이터) : 리스트에서 찾을 데이터의 갯수 반환

In [13]:
numbers = [ 1, 2, 3, [1, 2, 3], 1, 2, 3]
numbers.count(2), numbers.count(9)

(2, 0)

In [15]:
numbers.index(2) # 0번째 index부터 2가 처음 나오는 index를 반환

1

In [16]:
numbers.index(2,3) # 3번째 index부터 2가 처음 나오는 index를 반환

5

In [18]:
numbers.index(9) #에러가 남, 그래서 i인덱스 함수는 잘 써야 함

ValueError: 9 is not in list

In [19]:
if numbers.count(9):
    print(numbers.index(9))
else:
    print('9가 없어요')

9가 없어요

In [20]:
if 9 in numbers:
    print(numbers.index(9))
else:
    print('9가 없어요')

9가 없어요

In [21]:
9 in numbers # numbers 리스트에 9가 존재하는지 여부

False

In [22]:
def safe_index(lst, data):
    if data in lst: # lst 안에 data가 있는지 여부를 확인
        return lst.index(data)
    else:
        return -1

In [23]:
safe_index(numbers,9)

-1

In [25]:
# numbers[20]
numbers[0:20]

[1, 2, 3, [1, 2, 3], 1, 2, 3]

## 1.5 원하는 요소 추출
1. 리스트 슬라이싱 : 리스트에서 원하는 index의 데이터를 추출(인덱스의 범위가 벗어나도 에러나지 않음)
    - [from:stop:by] from 부터 stop 앞까지 step씩 증가하는 index의 값을 추출
    - form 생략시 처음. stop 생략시 끝. step 생략시 1. 모두 생략 가능
    - 음수 인덱스 가능

2. <font color="red"> 리스트컴프리헨션 </font> : 리스트에서 원하는 데이터를 추출(매우 중요함)

In [28]:
numbers = [1,3,5,9,10,12,13,20]
#짝수번쨰 인덱스 값 출력
print(numbers[::2])
# 꺼꾸로 출력
print(numbers[::-1])

[1, 5, 10, 13]
[20, 13, 12, 10, 9, 5, 3, 1]

In [30]:
numbers = [1,3,5,9,10,12,13,20]
# 리스트에서 짝수 데이터만 변수에 담아 출력하시오.
result = []
for data in numbers:
    if data %2 == 0: # 짝수 판별 조건 2로 나눠서 나머지 0
        result.append(data) # 짝수일때 결과 리스트에 추가
print(result)

[10, 12, 20]

In [31]:
numbers = [1,3,5,9,10,12,13,20]
# 리스트에서 짝수 데이터만 변수에 담아 출력하시오.
result = []
for data in numbers:
    if not data%2:
        result.append(data) # 짝수일때 결과 리스트에 추가
print(result)

[10, 12, 20]

In [32]:
numbers = [1,3,5,9,10,12,13,20]
# 리스트에서 짝수 데이터만 변수에 담아 출력하시오.
result = []
for data in numbers:
    result.append(data)
print(result)

[1, 3, 5, 9, 10, 12, 13, 20]

In [ ]:
# 리스트컴프리헨션 문법으로 바꿔보자.

**리스트컴프리헨션**

In [35]:
# numbers의 모든 데이터를 리스트컴프리헨션으로 추출
[ data for data in numbers]

[1, 3, 5, 9, 10, 12, 13, 20]

In [40]:
# numbers의 짝수 데이터를 리스트컴프리헨션으로 추출
[ data for data in numbers if data%2==0 ]

[10, 12, 20]

In [52]:
# ex 1. numbers에서 10 이상만 추출
numbers = [1,3,5,9,10,12,13,20]
[ data for data in numbers if data >= 10]

[10, 12, 13, 20]

In [48]:
# ex 2. fruits에서 5글자가 넘는 과일만 추출
fruits = ['orange', 'apple', 'mango', 'kiwi']
[fruit for fruit in fruits if len(fruit) >5]

['orange']

In [50]:
# ex 3. 3 이상의 요소들의 제곱을 추출
L = [1, 2, 3, 4, 5]
result =[x**2 for x in L if x>= 3]
print(result)

[9, 16, 25]

## 1.6 요소 수정하기

In [53]:
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
# 인덱스를 이용해서 요소 수정
numbers[2]=222
numbers

[0, 1, 222, 3, 4, 5, 6, 7, 8, 9]

In [60]:
# 슬라이싱을 이용해서 요소 수정 (step부분이 미포함 : 부분 리스트 전체가 수정됨)
numbers[1:4] = ['X', 'Y', 'Z', 'ㅋ', 'ㅎ']
numbers

[0, 'X', 'Y', 'Z', 'ㅋ', 'ㅎ', 6, 7, 8, 9]

In [65]:
# 슬라이싱을 이용해서 요소 수정(step부분을 포함 : 요소 갯수가 일치해야 함)
numbers = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers[::2] = [99,99,99,99,99] # 짝수것만 바꾼다. 6개면 오류. 일치해야 하므로 5개 항목만)
numbers

[99, 1, 99, 3, 99, 5, 99, 7, 99, 9]

## 1.7 요소 제거(삭제)하기
- pop() : 가장 마지막 인덱스 요소가 반환되고 삭제
- pop(idx) : idx번째 요소가 반환되고 삭제
- remove(지우려는 data) : 리스트 안의 data가 삭제
- del 변수[idx] : idx번째 요소만 삭제

In [72]:
# pop 예시

numbers = [1,2,3,4,5]
delete_data = numbers.pop()
print("삭제된 데이터 : {}, 리스트 : {}".format(delete_data, numbers))

삭제된 데이터 : 5, 리스트 : [1, 2, 3, 4]

In [73]:
# pop 예시 2

numbers = [1,2,3,4,5]
delete_data = numbers.pop()

print("삭제된 데이터 : {}, 리스트 : {}".format(delete_data, numbers))

delete_data2 = numbers.pop(0)
print("삭제된 데이터 : {}, 리스트 : {}".format(delete_data, numbers))

삭제된 데이터 : 5, 리스트 : [1, 2, 3, 4]
삭제된 데이터 : 5, 리스트 : [2, 3, 4]

In [74]:
# del 예시 3

numbers = [1,2,3,4,5,6,7,8,9]
del numbers[2]
print

In [76]:
numbers = [1,2,3,4,5,6,7,8,9]
# remove()는 반환값이 없고, 해당 데이터만 삭제. 해당 데이터가 없으면 오류
del_num = numbers.remove(3) 
print(numbers)

[1, 2, 4, 5, 6, 7, 8, 9]

In [78]:
if 9 in numbers:
    numbers.remove(9)
else:
    print('해당 데이터가 없습니다.')

해당 데이터가 없습니다.

In [82]:
# 함수를 만들어보자.
# 남도 쓰면 .py파일로 만들어서 저장해 공유 가능

def safe_remove(lst, remove_data):
    if remove_data in lst:
        lst.remove(remove_data)
        print(remove_data, '삭제완료')
    else:
        print(f'{remove_data}는 없는 아이템입니다.')

In [83]:
safe_remove(numbers,9)
safe_remove(numbers,5)

9는 없는 아이템입니다.
5 삭제완료

In [84]:
numbers

[1, 2, 4, 6, 7, 8]

In [86]:
# 4/11 진도는 요기가지 함
# 복제는 월요일에 하고 나서 요약정리하는 것으로