In [11]:
# 매 강의 시작시마다 동일하게 처리해야 함
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:10pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:10pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:10pt;padding:5px;}
table.dataframe{font-size:15px;
</style>
"""))

<b><font size="5" color="red">ch05. 함수</font></b>
- 사용하는 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩(함수 이름이 같고, 매개변수의 갯수로 다른 함수를 허용하는 것) 불가
- 함수 정의
```
def 함수명([매개변수1, .. 매개변수n]):
    명령어1
    명령어2
    명령어n

```
# 1절. 함수의 정의 및 사용
## 1.1 함수 정의

In [ ]:
# 오버로딩의 예시, 그러나 파이썬에서는 불가능 위에 것이 사라짐
def add(a, b): # 이 부분이 사라짐 in 파이썬
    print(1)
def add(a):
    print(2)

In [3]:
# 함수를 정의 함
def hello():
    for i in range(5):
        print('hello')

In [4]:
# 함수 사용
hello() # 매개 변수가 정의되지 않았으므로 매개변수 사용시 에러 발생

hello
hello
hello
hello
hello

In [23]:
def my_message(x, msg): # msg를 x번 출력하는 함수
    for i in range(x):
        print(msg)

In [13]:
my_message(5, 'hello')

hello
hello
hello
hello
hello

In [14]:
my_msg = my_message
my_msg(6, 'hello')

hello
hello
hello
hello
hello
hello

In [15]:
type(my_msg), type(my_message)

(function, function)

In [22]:
print('HELLO') # 파이썬 내장함수(import 하지 않고 사용할 수 있는 함수)
print = 5
# print('hello')
del print
print('Hello')

HELLO
Hello

In [24]:
my_message(2, 'hello')

hello
hello

In [27]:
my_message = 5

In [26]:
def my_message(a, b):
    pass

In [28]:
my_message(2, 'hello')

TypeError: 'int' object is not callable

In [29]:
del my_message # 내장 함수를 제외하고는 변수를 삭제해도 함수 사용 불가(내장 함수가 아니므로)

In [30]:
my_message(2, 'hello')

NameError: name 'my_message' is not defined

In [7]:
# 함수 정의 : 4/16(수) 강의 이어서 진행
def my_hello():
    print('hello, Python')
    print('hello, world')
def my_hello(cnt):
    print('hello, Python')
    print('hello, world')

In [2]:
# 함수사용=함수호출
my_hello()

hello, Python
hello, world

In [6]:
my_hello()

hello, Python
hello, world

In [ ]:
def my_hello():
    print('hello, Python')
    print('hello, world')
def my_hello(cnt):
    print('hello, Python')
    print('hello, world')

In [13]:
if __name__=='__main__':
    my_hello(2)

hello, Python
hello, world

In [20]:
import ch05 # ch-5모듈을 load

In [21]:
ch05.my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [22]:
from ch05 import my_hello # ch05 모듈 안의 my_hello 만 load

In [24]:
my_hello(3)

Hello, Python
Hello, World
Hello, Python
Hello, World
Hello, Python
Hello, World

In [25]:
my_hello(5)

Hello, Python
Hello, World
Hello, Python
Hello, World
Hello, Python
Hello, World
Hello, Python
Hello, World
Hello, Python
Hello, World

## 1.2 Docstring

In [33]:
def my_function():
    '''
    함수의 첫 라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [35]:
print(my_function.__doc__)

    함수의 첫 라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)

In [40]:
def fibonacci(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a + b
    print() # 개행

In [42]:
fibonacci(10)

0 1 1 2 3 5 8

In [43]:
print(fibonacci(49))

0 1 1 2 3 5 8 13 21 34
None

In [44]:
a, b # 함수 안의 변수들은 실행 후 사라지므로 값의 전환이 불가능함

NameError: name 'a' is not defined

## 1.3 지역변수(local var)와 전역변수(global var)

In [49]:
global_var = 100 # 전역변수
def func1():
    print('함수 안 : ', global_var)
func1()
print('함수 밖 ;', global_var)

함수 안 :  100
함수 밖 ; 100

In [50]:
def func2():
    local_var = 200 # 지역변수
    print('함수 안 :', local_var)
func2()
print('함수 밖 :', local_var)

함수 안 : 200

NameError: name 'local_var' is not defined

In [55]:
g_var = 100 # 전역변수

def func3():
    g_var = 200 # 지역변수 (변수 선언)
    print('함수 안(지역변수 g_var) :', g_var)
func3()
print('함수 밖(전역변수 g_var) :', g_var)

함수 안(지역변수 g_var) : 200
함수 밖(전역변수 g_var) : 100

In [58]:
# 렉시컬 특성

g_var = 100 # 전역변수
def func4():
    print('함수 안 g_var :', g_var)
    g_var = 200 # 지역변수
#func4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [66]:
g_var = 100 # 전역변수
def func4():
    print('함수 안 g_var :', g_var)
   # g_var = 200 # 지역변수
func4()

함수 안 g_var : 100

In [ ]:
# __name__ : 내장된 이름 테이블
# 로컬심볼테이블을 우선 할당, 전역심볼 테이블, 내장된 이름 테이블

In [65]:
# 렉시컬 특성

g_var = 100 # 전역변수
def func4():
    global g_var # func4 함수 내의 g_var는 전역변수를 쓴다.
# g_var = 300 
    print('함수 안 g_var :', g_var)
    g_var = 200 # 전역변수
func4()
print('함수 밖 g_var :', g_var)

함수 안 g_var : 100
함수 밖 g_var : 200

## 1.4 값에 의한 호출
- 함수의 매개변수(인수 또는 인자)로 전달되는 변수가 스칼라 변수(문자,숫자,논리형)일 때

In [67]:
foo = 'a' # 전역변수
id(foo)

2855330277168

In [68]:
def func1(f): # 매개변수는 f는 지역변수
    print('Before :', f)
    f = f * 3
    print('After :', f)
func1(foo)

Before : a
After : aaa

In [90]:
print(foo)

a

In [95]:
def func1(f): # 매개변수는 f는 지역변수
    print('Before :', f , ' id(f) :', id(f))
    f = f * 3
    print('After :', f, ' id(f) :', id(f))
func1(foo)

Before : a  id(f) : 2855330277168
After : aaa  id(f) : 2855441479984

In [93]:
id(foo)

2855330277168

## 1.5 참조에 의한 호출
- 함수의 매개변수로 전달되는 변수가 스칼라 변수가 아닌 리스트, 튜플, 셋, 딕셔너리, 객체일  경우

In [87]:
L = [1, 2, 3] # 리스트 데이터
id(L)

2855439639360

In [88]:
def func2(f): # 매개변수는 지역변수
    print('Before :', f)
    f.append(5)
    print('After :', f)
func2(L)

Before : [1, 2, 3]
After : [1, 2, 3, 5]

In [89]:
print('L=', L)

L= [1, 2, 3, 5]

In [97]:
def func2(f): # 매개변수는 지역변수
    print('Before :', f, id(f))
    f.append(4)
    print('After :', f, id(f))
func2(L)

Before : [1, 2, 3, 5, 5] 2855439639360
After : [1, 2, 3, 5, 5, 4] 2855439639360

In [105]:
print('L=', L, id(L))

L= [1, 2, 3, 5, 5, 4] 2855439639360

# 2절. 함수의 실행결과를 반환하는 return

In [106]:
def add(x, y):
    return x + y
    # print() 수행하지 않음 return 이후 이므로 개무시 함

In [107]:
i = 2; j=3
add(i, j)

5

In [108]:
def add():
    return True

In [109]:
add()

True

In [110]:
def add(a):
    pass

In [113]:
print(add(10)) # 아무것도 없는 것은 none이라고 나옴

None

In [9]:
def fibonacci_print(n):
    '''
    매개변수로 들오온 n값 미만의 피보나치 수열을 출력
    ex. m=10이면 0 1 1 2 3 5 8 을 출력
    '''
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a + b
    print() # 개행
def fibonacci_return(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex. n=10이면 [0 1 1 2 3 5 8]을 rerturn
    '''
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a + b
    return result

In [7]:
x = fibonacci_print(100)
print(x)

0 1 1 2 3 5 8 13 21 34 55 89
None

In [10]:
x = fibonacci_return(100)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러개 값 return

In [15]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return'
    return b, a

In [17]:
x, y = 5, 10
print(f'함수 실행 전 x={x}, y={y}')
x, y = swap(x, y) # 10, 5 로 변경, 결국 순서가 바뀜
print(f'함수 실행 후 x={x}, y={y}')

함수 실행 전 x=5, y=10
함수 실행 후 x=10, y=5

# 3절. 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [6]:
def make_url(ip, port=80):  # 순서인수 > 기본값을 갖는 매개변수
    return "http://{}:{}".format(ip, port)

In [7]:
print(make_url('www.naver.com'))
print(make_url('localhost', 8090))
print(make_url(port=8090, ip='localhost'))

http://www.naver.com:80
http://localhost:8090
http://localhost:8090

## 3.2 기본 변수를 갖는 매개변수
- 기본변수가 스칼라 변수일 때
- 기본변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [1]:
i = 5
# 기본값을 갖는 변수가 스칼라 변수일 때 : arg의 기본값은 함수가 정의되는 시점의 값으로 셋팅됨
def func2(arg=i):
    print('arg = ', arg)

In [18]:
i = 50
func2()

arg =  5

In [2]:
list_ = []
# 기본값을 갖는 변수가 스칼라 변수일 때 : arg의 기본값은 호출되는 시점의 값
def func3(data, L = list_):
    'data를 L에 append'
    L.append(data)
    return L

In [3]:
print(func3(10)) # list_가 수정 : [10]

[10]

In [4]:
print(func3(20))

[10, 20]

In [6]:
list_

[10, 20]

In [7]:
def func4(data, L = None):
    if L==None:
        L = []        
    L.append(data)
    return L

In [8]:
print(func4(10))
print(func4(10, list_))

[10]
[10, 20, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [ ]:
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않음

def add(a, b):

In [17]:
# *args : 매개변수들을 하나의 튜플 변수 args로 전달받음 (* 만 붇이면 됨)

def add(*args):
    '전달받은 매개변수들의 합을 return'
    # print('args = ', args)
    result_tot = 0 # 누적변수
    for data in args:
        result_tot += data
    return result_tot

In [22]:
print(add(1))
print(add(1,2))
print(add(1, 3, 5, 6, 12, 15, 154))

1
3
196

In [27]:
subject = ('Python', 'Oracle', 'DL', 'ML')
'/'.join(subject)

'Python/Oracle/DL/ML'

In [29]:
def concat(*subject, sep):
    return sep.join(subject)

In [30]:
concat('Python', 'Oracle', 'DL', 'ML', '/')

SyntaxError: unterminated string literal (detected at line 1) (1001857835.py, line 1)

In [33]:
# 해결책1 : 매개변수 이름을 지정해서 호출
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

'Python / Oracle / DL / ML'

In [34]:
# 해결책2 : 기본값을 반드시 갖는 키워드 인수 사용
def concat(*subject, sep='  '):
    return sep.join(subject)

In [35]:
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

'Python / Oracle / DL / ML'

In [48]:
# 해결책3 : sep을 순서 인수로 앞에 선언
def concat(sep, *subject):
    return sep.join(subject)

In [49]:
concat('Python', 'Oracle', 'DL')

'OraclePythonDL'

## 3.4 딕셔너리 매개변수
- 여러 개의 키워드 인수를 딕셔너리 형태로 받아서 가변 키워드 인수로 처리

In [58]:
def func5(**kwargs):
#     print(kwargs)
    print(type(kwargs))
    print('이름 : ', kwargs.get('name', '대마왕'))
    print('나이 : ', kwargs.get('age', 30))
    print('주소 : ', kwargs.get('address', '서울'))

In [59]:
func5(name='홍길동', age = 30, address = '신림동')

<class 'dict'>
이름 :  홍길동
나이 :  30
주소 :  신림동

In [60]:
func5(name='김길동')

<class 'dict'>
이름 :  김길동
나이 :  30
주소 :  서울

## 3.5 함수 정의시 매개변수 순서
- 순서인수 > 튜플 매개변수(*) > 키워드 인수(<b>매개변수 이름 반드시 명시</b>) > 딕셔너리 매개변수(**)

In [61]:
def func6(a, b, *c, **d):
    print('순서인수 :', a)
    print('순서인수 :', b)
    print('튜플인수 :', c)
    print('딕셔너리 인수 :', d)

In [62]:
func6(10, 20, 1,2,3,4,5,6,7,8,9,10, name='홍길동', age=30, address='서울')

순서인수 : 10
순서인수 : 20
튜플인수 : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
딕셔너리 인수 : {'name': '홍길동', 'age': 30, 'address': '서울'}

In [65]:
def func7(a, b, *c, d='기본값', **e):
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d :', d)
    print('딕셔너리인수 d :', e)

In [66]:
func7(10, 20, 1, 2, 3, d='딴거', fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3)
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 딴거
딕셔너리인수 d : {'fontsize': 12, 'fontfamily': 'consola'}

In [67]:
func7(10, 20, 1, 2, 3, fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3)
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 기본값
딕셔너리인수 d : {'fontsize': 12, 'fontfamily': 'consola'}

## 3.6 매개변수(인수)의 언패킹
### 튜플인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 * 붙임
- 패킹 : 함수 정의시 매개변수 앞에 * 붙임(튜플매개변수)

In [74]:
def add(*args):
    print(args)
    tot = 0
    for num in args:
        tot += num
    return tot

In [69]:
add(1,2,3,4)

10

In [85]:
numbers = [1, 2, 3, 4]
add(*numbers) # 언패킹

(1, 2, 3, 4)

10

### 딕셔너리 인수 언패킹
- 딕셔너리 언패킹 : 함수 호출시 매개변수 앞에 ** 붙이면 딕셔너리를 언패킹
- 딕셔너리 패킹 : 함수 정의시 매개변수 앞에 ** 붙이면 딕셔너리를 패킹

In [3]:
def func5(**data):
    print(type(data))
    for key, item in data.items():
        print(f'{key}:{item}')

In [5]:
func5(name='홍길동', age=30, 'address='신림')

SyntaxError: unterminated string literal (detected at line 1) (2787678281.py, line 1)

In [3]:
customInfo = {'name':'홍길동', 'age':10, 'address':'서울시 강남구', 'score':900}
func5(custom=customInfo)

<class 'dict'>
custom:{'name': '홍길동', 'age': 10, 'address': '서울시 강남구', 'score': 900}

In [4]:
customInfo = {'name':'홍길동', 'age':10, 'address':'서울시 강남구', 'score':900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:10
address:서울시 강남구
score:900

# 4절. 람다식
- return 한 줄 짜리 작은 익명 함수
## 4.1 람다식 연습

In [11]:
def add(a, b):
    return a+b
add(3, 4)

7

In [12]:
add2 = lambda a, b : a + b
add2(3, 4)

7

In [14]:
type(add), type(add2)

(function, function)

In [15]:
(lambda a, b : a + b)(3, 4)

7

In [16]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return

# def ex1(num):
#     if num%2:
#         result = "홀수"
#     else:
#         result = "짝수"
#     return result

def ex1(num):
    return "홀수" if num%2 else "짝수"
ex1 = lambda num : "홀수" if num%2 else "짝수"
ex1(10), ex1(-9)

('짝수', '홀수')

In [21]:
# ex2. 두 매개변수의 차이를 return(큰 수에서 작은 수를 빼면 됨)

def diff(a, b):
#     if a>b:
#         result = a - b
#     else:
#         result = b - a
    return a - b if a>b else b - a
    return result
diff(2,1), diff(9, 21)

(1, 12)

In [26]:
ex2 = lambda a, b : a-b if a>b else b-a
print(ex2(2,1), ex2(10,20))
print(type(diff), type(ex2))

1 10
<class 'function'> <class 'function'>

In [28]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액을 return, 음수면 'negative'를 return
ex3 = lambda money : money if money>=0 else 'negative'
ex3(1000), ex3(-100)

(1000, 'negative')

In [31]:
print(ex3(100), ex3(-1003))

100 negative

In [35]:
# ex4. 점수를 입력받아 점수가 80점 이상은 A팀, 60점 이상은 B팀, 60점 미만은 재시험. 
# 그 외는 유효하지 않음
ex4 = lambda score : "A팀" if 80<=score<=100 else \
                    "B팀" if 60<=score<80 else \
                    "재시험" if 0<=score<60 else \
                    "유효하지 않음"
ex4(120), ex4(80), ex4(20), ex4(70), ex4(90)

('유효하지 않음', 'A팀', '재시험', 'B팀', 'A팀')

In [ ]:
# ex5. safe_index를 람다식으로
def safe_index(vector, data):
    if data in vector: # list 안에 data가 있는지 여부
        return lst.index(data)
    else:
        return -1

In [36]:
ex5 = lambda vector, data : vector.index(data) if data in vector else -1
tup = (1, 2, 3)
ex5(tup, 4), ex5(tup, 2)

(-1, 1)

## 4.2 함수의 매개변수에 람다식 이용
### (1) map

In [8]:
def map_template(func, L=[]):
    '''
    L의 모든 요소를 func()함수를 적용시켜  return
    [func(1) for 1 in L]
    '''
    result = []
    for l in L:
        result.append(func(l))
    return result
#     result = [func(1) for  l in L]

In [9]:
# 리스트 데이터를 가공하는 방법 1. map_template

list_data = [1,2,3,4,5,6,7,8,9]
map_template(lambda x: x*2, list_data)
# def x_2(x):
#     return x *3
# map_template(x_2, list_data)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [11]:
# 리스트 데이터를 가공 방법 2. 리스트 컴프리헨션
[l*2 for l in list_data]

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [13]:
# 리스트 데이터를 가공 방법 3. map() : 파이썬 내장함수
list(map(lambda x: x*2, list_data))

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [16]:
for item in map(lambda x: x*2, list_data):
    print(item, end=' ')

2 4 6 8 10 12 14 16 18

In [3]:

'''
예1. [5000, 800,1000,6000]로 바꾸시오.

prices = ['5,000', '800', '1000', '6000']
'''
prices = ['5,000', '800', '1000', '6000']
price_int = list(map(lambda price: int(price.replace(',','')), prices))

In [5]:
# 함수로 만들어서 하기
def func(x):
    return int(x.replace(',', ''))
func("5,000"), func("1800")

(5000, 1800)

In [4]:
print(price_int)

[5000, 800, 1000, 6000]

In [17]:
'''

예2. member1 = [{'name' : '홍길동', 'birth':'2000-01-01'},
               {'name' : '신길동', 'birth':'1998-12-31'}, 를
    member1 = [{'name' : '홍길동', 'year':'2000, 'month':1, 'day':1},
               {'name' : '신길동', 'year':'1998, 'month':12, 'day':31},]를 바꿉니다.
'''

'\n예2. [5000, 800,1000,6000]로 바꾸시오.\n'

In [56]:
# '2000-01-01' => {'year':1998, 'month':12, 'day':31}
def split_date(date):
    split_data = date.split('-')
#     print(split_data[0], split_data[1], split_data[2])
    return {'year': int(split_data[0]),
           'month': int(split_data[1]),
           'day'  : int(split_data[2])
           }

In [57]:
split_date("2000-01-01")

{'year': 2000, 'month': 1, 'day': 1}

In [61]:
member1 = [{'name': '홍길동', 'birth': '2000-01-01'},
           {'name': '신길동', 'birth': '1998-12-31'}]

member1_transformed = list(map(lambda member: {
    'name': member['name'],
    'year': member['birth'].split('-')[0],
    'month': int(member['birth'].split('-')[1]),
    'day': int(member['birth'].split('-')[2])
}, member1))

print(member1)
print(member1_transformed)

[{'name': '홍길동', 'birth': '2000-01-01'}, {'name': '신길동', 'birth': '1998-12-31'}]
[{'name': '홍길동', 'year': '2000', 'month': 1, 'day': 1}, {'name': '신길동', 'year': '1998', 'month': 12, 'day': 31}]

In [59]:
# 함수로 만들어서 하기
# '2000-01-01' => {'ㅛㄷㅁㄱ':1998, 'ㅡㅐㅜ소':12, '[day':31}
def split_data(date):
    split_data = date.split('-')
#     print(split_data[0], split_data[1], split_data[2])
    return {'year': int(split_data[0]),
           'month': int(split_data[1]),
           'day': int(split_data[2])
           }

split_data("2000-01-01")

{'year': 2000, 'month': 1, 'day': 1}

In [62]:
# 함수를 생성해서 처리하기

def member_func(member): # {'name':'홍길동', 'birth':'2000-01-01'}
    "{'name':'신길동', 'year':1998, 'month':12, 'day':31}식으로 return"
    return {
        'name':member.get('name'),
        'year':int(member['birth'].split('-')[0]),
        'month':int(member['birth'].split('-')[1]),
        'day':int(member['birth'].split('-')[2]),
    }
member_func(member1[0])

{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1}

In [5]:
member1 = [{'name': '홍길동', 'birth': '2000-01-01'},
           {'name': '신길동', 'birth': '1998-12-31'}]

member1_transformed = list(map(lambda member: {
    'name': member['name'],
    'year': member['birth'].split('-')[0],
    'month': int(member['birth'].split('-')[1]),
    'day': int(member['birth'].split('-')[2])
}, member1))

print(member1)
print(member1_transformed)

[{'name': '홍길동', 'birth': '2000-01-01'}, {'name': '신길동', 'birth': '1998-12-31'}]
[{'name': '홍길동', 'year': '2000', 'month': 1, 'day': 1}, {'name': '신길동', 'year': '1998', 'month': 12, 'day': 31}]

In [17]:
'''
예3. member2를 member1로 바꿉니다.
'''

'\n예3. member2를 member1로 바꿉니다.\n'

In [46]:
# {year' : 2000, 'momth': 1, 'day': 1} => "2000-01-01"를 return하는 함수
def join_date(data):
#     print([data.get('year'), data.get('month'), data.get('day')])
    year = str(data.get('year'))
    month = str(data.get('month'))
    if month < 10:
        month = '0'+str(month)
    else:
        month = str(month)
    if day < 10:
        day = '0'+str(day)
    else:
        day = str(day)        
    return '-'.join(['year', 'month', 'day'])

In [50]:
def join_date(data):
    print("{}-{:02}-{:02}".format(data.get('year'),
                                  data.get('month'), 
                                  data.get('day')))

In [ ]:
def join_date(data):
    print("{year}-{month:02}-{day:02}".format(
                                  year = data.get('year'), 
                                  month=data.get('month'), 
                                  day=data.get('day')))

In [ ]:
def join_date(data):
    return "{year}-{month:02}-{day:02}".format(**data)

In [51]:
join_date({'year': 2000, 'month': 1, 'day': 1})

2000-01-01

In [ ]:
member2

In [3]:
[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1998, 'month': 12, 'day': 31}]

[{'name': '홍길동', 'year': 2000, 'month': 1, 'day': 1},
 {'name': '신길동', 'year': 1998, 'month': 12, 'day': 31}]

In [6]:
# {'name':'홍길동', 'year':2000, 'month':1, 'day':1}(member2)를 
# {'name':'홍길동', 'birth':'2000-01-01'}으로 가공
list(map(lambda member : {
                        'name' : member.get('name'),
                        'birth': "{year}-{month:02}-{day:02}".format(**member)
                        },
    member2
))

NameError: name 'member2' is not defined

In [55]:
# 애미나이 답변임
# 선생인 것 참고해서 적용

member2 = [{'이름': '홍길동', '생일': '2000-01-01'},
           {'이름': '신길동', '생일': '1998-12-31'}]

member1 = list(map(lambda member: {
    '이름': member['이름'],
    '생일': member['생일'].split('-')[0],
    '월': int(member['생일'].split('-')[1]),
    '일': int(member['생일'].split('-')[2])
}, member2))

print(member2)

[{'이름': '홍길동', '생일': '2000-01-01'}, {'이름': '신길동', '생일': '1998-12-31'}]

In [7]:
# GIT 선생님 강의 내용 업데이트 필요

## (2) 필터
- map : [1,2,3,4,5] => [2,4,6,8,10] (벡터의 모든 데이터를 가공)
- filter : [1,2,3,4,5] => [2,4] (원하는 정보를 추출)
* cf. 리스트 컴프리헨션

In [9]:
def filter_template(func, L=[]):
    result = []
    for l in L:
        if func(l):
            result.append(l)
    return result

In [10]:
def evenChk(value):
    return value%2==0
evenChk(10), evenChk(-9)

(True, False)

In [11]:
list_data = [1, 2, 3, 4, 5]
filter_template(lambda value : value%2==0 ,  list_data)

[2, 4]

In [12]:
list(filter(lambda value : value%2==0, list_data))

[2, 4]

In [13]:
[data for data in list_data if data%2==0]

[2, 4]

## (3) sort

In [17]:
p = [9, 2, 7]
p.sort(reverse=True)
p

[9, 7, 2]

In [20]:
# 무조건 0번째 itme 기준으로 정렬

pairs = [(2, 'two'), (1, 'one'),(4, 'four'), (3, 'three')]
pairs.sort()
pairs

[(1, 'one'), (2, 'two'), (3, 'three'), (4, 'four')]

In [21]:
# 1번째 item 기준으로 정렬(abc순)
pairs.sort(key=lambda pair : pair[1])
pairs

[(4, 'four'), (1, 'one'), (3, 'three'), (2, 'two')]

In [15]:
# 무조건 0번 item기준으로 정렬
number2d = [[9, 9, 9, 9, 9, 9],
            [1, 100],
            [10, 1]]
number2d.sort(reverse=True) # 기본(reverse=False):오름차순정렬/reverse=True:내림차순정렬
number2d

[[10, 1], [9, 9, 9, 9, 9, 9], [1, 100]]

In [25]:
# 리스트를 매개변수로 받아 합을 return
(lambda item : sum(item))([1,2,3])

6

In [28]:
# 합이 큰 순으로 정렬
number2d.sort(key = lambda item : sum(item), reverse=True)
number2d

[[1, 100], [9, 9, 9, 9, 9, 9], [10, 1]]

In [1]:
students = [
    {'name' : '홍길동', 'score' : 90},
    {'name' : '김길동', 'score' : 50},
    {'name' : '윤길동', 'score' : 99},
    {'score' : 100}
]

In [36]:
# 이름순으로 정렬(ㄱ ㄴ ㄷ 순) by 애미나이

sorted_students_by_name_lambda = sorted(students, key=lambda student: student['name'][0] if 'name' in student else chr(sys.maxunicode))
print(sorted_students_by_first_name)

[{'name': '김길동', 'score': 50}, {'name': '윤길동', 'score': 99}, {'name': '홍길동', 'score': 90}]

In [2]:
# 이름순으로 정렬(ㄱ ㄴ ㄷ 순) by 선생님

students.sort(key = lambda item : item.get('name','힝'))
students

[{'name': '김길동', 'score': 50},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'score': 100}]

In [3]:
# sore 순으로 정렬(내림차순 정렬)
students.sort(key = lambda item : item.get('score', 0), reverse=True)
students

[{'score': 100},
 {'name': '윤길동', 'score': 99},
 {'name': '홍길동', 'score': 90},
 {'name': '김길동', 'score': 50}]

In [5]:
# 책 제목순 정렬(ㄱㄴㄷ순), 저자순 정렬(ㄱㄴㄷ순), 가격순 오름차순 정렬
books =[
    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},
    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},
    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,220'},
    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},
    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},
    {'no':6, 'title':'가격이없음', 'writer':'김길동'},
]

In [6]:
books.sort(key = lambda book : book.get('title'))
books

[{'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 6, 'title': '가격이없음', 'writer': '김길동'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'}]

In [19]:
books.sort(key = lambda book : book.get('writer'))
books

[{'no': 6, 'title': '가격이없음', 'writer': '김길동'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
 {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'}]

In [20]:

books.sort(key = lambda book : book.get('price', 0))
books

TypeError: '<' not supported between instances of 'str' and 'int'

In [21]:
# '14,000' -> 14000 / "2000" -> 2000 / 800 -> 800 / '-' -> 0
def parse_int(price):
    #print(type(price))
    if isinstance(price, str) and price.replace(',','').isdigit():
        return int(price.replace(',', ''))
    elif isinstance(price, int):
        return price
    else:
        return 0

In [22]:
parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int('-')

(8000, 8000, 800, 0)

In [23]:
# {'no': 6, 'title': '가격이없음', 'writer': '김길동'} = > 0 return
# {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'} => 14220
# {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900} => 900
def parse_int(book):
    if isinstance(book.get('price'), str) and \
            book.get('price').replace(',','').isdigit():
        return int( book.get('price').replace(',','') )
    elif isinstance(book.get('price'), int):
        return book.get('price')
    else:
        return 0
parse_int(books[0]), parse_int(books[3]), parse_int(books[2]),  parse_int(books[5])

(0, 900, 14220, 0)

In [24]:
books =[
    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},
    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},
    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14220'},
    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},
    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},
    {'no':6, 'title':'가격이없음', 'writer':'김길동'},
]
copy_books = books.copy() # 깊은 복사

In [27]:
copy_books.sort(key = lambda book : 
                int(book.get('price').replace(',','')) \
                    if isinstance(book.get('price'), str) and \
                        book.get('price').replace(',','').isdigit() else \
                book.get('price') if isinstance(book.get('price'), int) else \
                0                
               )

In [28]:
# 람다식 테스트 확인
(lambda book : 
                int(book.get('price').replace(',','')) \
                    if isinstance(book.get('price'), str) and \
                        book.get('price').replace(',','').isdigit() else \
                book.get('price') if isinstance(book.get('price'), int) else \
                0 )(books[0])

25200

In [29]:
[{'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 6, 'title': '가격이없음', 'writer': '김길동'},
 {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14220'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'}]
books

[{'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
 {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
 {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14220'},
 {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
 {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
 {'no': 6, 'title': '가격이없음', 'writer': '김길동'}]

In [17]:
parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int('-')

(8000, 8000, 800, 0)

## 4.3 함수의 return값으로 람다식 이용

In [36]:
# 함수를 return
def make_box(shape):   # shape : [L]=> len가 L인 list를 생성하는 함수 return,
#                                [r,c] => r행 c열인 2차원 list를 생성하는 함수 return
    def box(init_value):
        if len(shape)==1:
            return [init_value]*shape[0]
        elif len(shape)==2:
            return [[init_value]*shape[1]] * shape[0]
    return box

In [37]:
# 람다식을 return
def make_box(shape):
    if len(shape)==1:
        return lambda init_value : [init_value]*shape[0]
    else len(shape)==2:
        return lambda init_value : [ [init_value]*shape[1] * shape[0]

SyntaxError: expected ':' (3859412374.py, line 5)

In [33]:
line_func = make_box([2,3])
line_func(3)

[[3, 3, 3], [3, 3, 3]]

In [34]:
line_func1 = make_box([10])
line_func1(3)

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

# 5절. 파이썬 내장함수
- import하지 않고 바로 사용 가능한 함수
- 키워드처럼 간주되므로, 식별자(변수, 함수명, 클래스명)로 사용하는 것을 피한다.

In [40]:
globals() # 전역변수 리스트 : o로 내용 확장 가능

{'__name__': '__main__',
 '__doc__': 'Automatically created module for IPython interactive environment',
 '__package__': None,
 '__loader__': None,
 '__spec__': None,
 '__builtin__': <module 'builtins' (built-in)>,
 '__builtins__': <module 'builtins' (built-in)>,
 '_ih': ['',
  "students = [\n    {'name' : '홍길동', 'score' : 90},\n    {'name' : '김길동', 'score' : 50},\n    {'name' : '윤길동', 'score' : 99},\n    {'score' : 100}\n]",
  "# 이름순으로 정렬(ㄱ ㄴ ㄷ 순) by 선생님\n\nstudents.sort(key = lambda item : item.get('name','힝'))\nstudents",
  "# sore 순으로 정렬(내림차순 정렬)\nstudents.sort(key = lambda item : item.get('score', 0), reverse=True)\nstudents",
  "books.sort(key = lambda book : book.get('title'))\nbooks",
  "# 책 제목순 정렬(ㄱㄴㄷ순), 저자순 정렬(ㄱㄴㄷ순), 가격순 오름차순 정렬\nbooks =[\n    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,220'},\n    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},\n    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},\n    {'no':6, 'title':'가격이없음', 'writer':'김길동'},\n]",
  "books.sort(key = lambda book : book.get('title'))\nbooks",
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\n\ndef parse_int(price):\n    print(type(price))",
  'parse_int(800)',
  'parse_int("800")',
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\n\ndef parse_int(price):\n#     print(type(price))\n    if isinstance(price, int):\n        return price",
  'parse_int(800)',
  "parse_int('800')",
  'parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int(\'-\')',
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\n\ndef parse_int(price):\n#     print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price.replace(',',''))\n    \n    elif isinstance(price, int):\n        return price",
  'parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int(\'-\')',
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\n\ndef parse_int(price):\n#     print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price.replace(',',''))\n    \n    elif isinstance(price, int):\n        return price\n    else:\n        return 0",
  'parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int(\'-\')',
  "price.replace(',','').isdigit()",
  "books.sort(key = lambda book : book.get('writer'))\nbooks",
  "books.sort(key = lambda book : book.get('price', 0))\nbooks",
  '# \'14,000\' -> 14000 / "2000" -> 2000 / 800 -> 800 / \'-\' -> 0\ndef parse_int(price):\n    #print(type(price))\n    if isinstance(price, str) and price.replace(\',\',\'\').isdigit():\n        return int(price.replace(\',\', \'\'))\n    elif isinstance(price, int):\n        return price\n    else:\n        return 0',
  'parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int(\'-\')',
  "# {'no': 6, 'title': '가격이없음', 'writer': '김길동'} = > 0 return\n# {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'} => 14220\n# {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900} => 900\ndef parse_int(book):\n    if isinstance(book.get('price'), str) and \\\n            book.get('price').replace(',','').isdigit():\n        return int( book.get('price').replace(',','') )\n    elif isinstance(book.get('price'), int):\n        return book.get('price')\n    else:\n        return 0\nparse_int(books[0]), parse_int(books[3]), parse_int(books[2]),  parse_int(books[5])",
  "books =[\n    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14220'},\n    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},\n    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},\n    {'no':6, 'title':'가격이없음', 'writer':'김길동'},\n]\ncopy_books = books.copy() # 깊은 복사",
  "copy_books.sort(key = lambda book : \n                int(book.get('price').replace(',','')) \\\n                    if isinstance(book.get('price'), str) and \\\n                        book.get('price').replace(',','').isdigit() else \\\n                book.get('price') if isinstance(book.get('price'), int) else \\\n                0                \n               )",
  "# 람다식 테스트 확인\n(lambda book : \n                int(book.get('price').replace(',','')) \\\n                    if isinstance(book.get('price'), str) and \\\n                        book.get('price').replace(',','').isdigit() else \\\n                book.get('price') if isinstance(book.get('price'), int) else \\\n                0 )(books[0])",
  "copy_books.sort(key = lambda book : \n                int(book.get('price').replace(',','')) \\\n                    if isinstance(book.get('price'), str) and \\\n                        book.get('price').replace(',','').isdigit() else \\\n                book.get('price') if isinstance(book.get('price'), int) else \\\n                0                \n               )",
  "# 람다식 테스트 확인\n(lambda book : \n                int(book.get('price').replace(',','')) \\\n                    if isinstance(book.get('price'), str) and \\\n                        book.get('price').replace(',','').isdigit() else \\\n                book.get('price') if isinstance(book.get('price'), int) else \\\n                0 )(books[0])",
  "[{'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},\n {'no': 6, 'title': '가격이없음', 'writer': '김길동'},\n {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},\n {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14220'},\n {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},\n {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'}]\nbooks",
  '# 함수를 return\ndef make_box(shape): # shape : [L]=> len가 L인 list를 생성하는 함수 return,',
  '# 함수를 return\ndef make_box(shape):   # shape : [L]=> len가 L인 list를 생성하는 함수 return,\n#                                [r,c] => r행 c열인 2차원 list를 생성하는 함수 return\n    def box(init_value):\n        if len(shape)==1:\n            return [init_value]*shape[0]\n        elif len(shape)==2:\n            return [[init_value]*shape[1]] * shape[0]\n    return box',
  'line_func = make_box([2,3])',
  'line_func = make_box([2,3])\nline_func(3)',
  'line_func1 = make_box([10])\nline_func1(3)',
  '# 람다식을 return\ndef make_box(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value]*shape[0]\n    else len(shape)==2:\n        return lambda init_value : [ [init_value]*shape[1] * shape[0]',
  '# 함수를 return\ndef make_box(shape):   # shape : [L]=> len가 L인 list를 생성하는 함수 return,\n#                                [r,c] => r행 c열인 2차원 list를 생성하는 함수 return\n    def box(init_value):\n        if len(shape)==1:\n            return [init_value]*shape[0]\n        elif len(shape)==2:\n            return [[init_value]*shape[1]] * shape[0]\n    return box',
  '# 람다식을 return\ndef make_box(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value]*shape[0]\n    else len(shape)==2:\n        return lambda init_value : [ [init_value]*shape[1] * shape[0]',
  'globals',
  'globals()',
  'globals() # 전역변수 리스트'],
 '_oh': {2: [{'score': 100},
   {'name': '윤길동', 'score': 99},
   {'name': '홍길동', 'score': 90},
   {'name': '김길동', 'score': 50}],
  3: [{'score': 100},
   {'name': '윤길동', 'score': 99},
   {'name': '홍길동', 'score': 90},
   {'name': '김길동', 'score': 50}],
  6: [{'no': 6, 'title': '가격이없음', 'writer': '김길동'},
   {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
   {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
   {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
   {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
   {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'}],
  11: 800,
  13: (None, None, 800, None),
  15: (8000, 8000, 800, None),
  17: (8000, 8000, 800, 0),
  19: [{'no': 6, 'title': '가격이없음', 'writer': '김길동'},
   {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
   {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
   {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
   {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
   {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'}],
  22: (8000, 8000, 800, 0),
  23: (0, 900, 14220, 0),
  26: 25200,
  28: 25200,
  29: [{'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
   {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
   {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14220'},
   {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
   {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
   {'no': 6, 'title': '가격이없음', 'writer': '김길동'}],
  33: [[3, 3, 3], [3, 3, 3]],
  34: [3, 3, 3, 3, 3, 3, 3, 3, 3, 3],
  38: <function globals()>,
  39: {...}},
 '_dh': [WindowsPath('C:/ai_x/source/01_Python')],
 'In': ['',
  "students = [\n    {'name' : '홍길동', 'score' : 90},\n    {'name' : '김길동', 'score' : 50},\n    {'name' : '윤길동', 'score' : 99},\n    {'score' : 100}\n]",
  "# 이름순으로 정렬(ㄱ ㄴ ㄷ 순) by 선생님\n\nstudents.sort(key = lambda item : item.get('name','힝'))\nstudents",
  "# sore 순으로 정렬(내림차순 정렬)\nstudents.sort(key = lambda item : item.get('score', 0), reverse=True)\nstudents",
  "books.sort(key = lambda book : book.get('title'))\nbooks",
  "# 책 제목순 정렬(ㄱㄴㄷ순), 저자순 정렬(ㄱㄴㄷ순), 가격순 오름차순 정렬\nbooks =[\n    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,220'},\n    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},\n    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},\n    {'no':6, 'title':'가격이없음', 'writer':'김길동'},\n]",
  "books.sort(key = lambda book : book.get('title'))\nbooks",
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\n\ndef parse_int(price):\n    print(type(price))",
  'parse_int(800)',
  'parse_int("800")',
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\n\ndef parse_int(price):\n#     print(type(price))\n    if isinstance(price, int):\n        return price",
  'parse_int(800)',
  "parse_int('800')",
  'parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int(\'-\')',
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\n\ndef parse_int(price):\n#     print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price.replace(',',''))\n    \n    elif isinstance(price, int):\n        return price",
  'parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int(\'-\')',
  "# '14,000' -> 14000 / 800 -> 800 / '-' -> 0\n\ndef parse_int(price):\n#     print(type(price))\n    if isinstance(price, str) and price.replace(',','').isdigit():\n        return int(price.replace(',',''))\n    \n    elif isinstance(price, int):\n        return price\n    else:\n        return 0",
  'parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int(\'-\')',
  "price.replace(',','').isdigit()",
  "books.sort(key = lambda book : book.get('writer'))\nbooks",
  "books.sort(key = lambda book : book.get('price', 0))\nbooks",
  '# \'14,000\' -> 14000 / "2000" -> 2000 / 800 -> 800 / \'-\' -> 0\ndef parse_int(price):\n    #print(type(price))\n    if isinstance(price, str) and price.replace(\',\',\'\').isdigit():\n        return int(price.replace(\',\', \'\'))\n    elif isinstance(price, int):\n        return price\n    else:\n        return 0',
  'parse_int("8,000"), parse_int("8000"), parse_int(800), parse_int(\'-\')',
  "# {'no': 6, 'title': '가격이없음', 'writer': '김길동'} = > 0 return\n# {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'} => 14220\n# {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900} => 900\ndef parse_int(book):\n    if isinstance(book.get('price'), str) and \\\n            book.get('price').replace(',','').isdigit():\n        return int( book.get('price').replace(',','') )\n    elif isinstance(book.get('price'), int):\n        return book.get('price')\n    else:\n        return 0\nparse_int(books[0]), parse_int(books[3]), parse_int(books[2]),  parse_int(books[5])",
  "books =[\n    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14220'},\n    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},\n    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},\n    {'no':6, 'title':'가격이없음', 'writer':'김길동'},\n]\ncopy_books = books.copy() # 깊은 복사",
  "copy_books.sort(key = lambda book : \n                int(book.get('price').replace(',','')) \\\n                    if isinstance(book.get('price'), str) and \\\n                        book.get('price').replace(',','').isdigit() else \\\n                book.get('price') if isinstance(book.get('price'), int) else \\\n                0                \n               )",
  "# 람다식 테스트 확인\n(lambda book : \n                int(book.get('price').replace(',','')) \\\n                    if isinstance(book.get('price'), str) and \\\n                        book.get('price').replace(',','').isdigit() else \\\n                book.get('price') if isinstance(book.get('price'), int) else \\\n                0 )(books[0])",
  "copy_books.sort(key = lambda book : \n                int(book.get('price').replace(',','')) \\\n                    if isinstance(book.get('price'), str) and \\\n                        book.get('price').replace(',','').isdigit() else \\\n                book.get('price') if isinstance(book.get('price'), int) else \\\n                0                \n               )",
  "# 람다식 테스트 확인\n(lambda book : \n                int(book.get('price').replace(',','')) \\\n                    if isinstance(book.get('price'), str) and \\\n                        book.get('price').replace(',','').isdigit() else \\\n                book.get('price') if isinstance(book.get('price'), int) else \\\n                0 )(books[0])",
  "[{'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},\n {'no': 6, 'title': '가격이없음', 'writer': '김길동'},\n {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},\n {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14220'},\n {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},\n {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'}]\nbooks",
  '# 함수를 return\ndef make_box(shape): # shape : [L]=> len가 L인 list를 생성하는 함수 return,',
  '# 함수를 return\ndef make_box(shape):   # shape : [L]=> len가 L인 list를 생성하는 함수 return,\n#                                [r,c] => r행 c열인 2차원 list를 생성하는 함수 return\n    def box(init_value):\n        if len(shape)==1:\n            return [init_value]*shape[0]\n        elif len(shape)==2:\n            return [[init_value]*shape[1]] * shape[0]\n    return box',
  'line_func = make_box([2,3])',
  'line_func = make_box([2,3])\nline_func(3)',
  'line_func1 = make_box([10])\nline_func1(3)',
  '# 람다식을 return\ndef make_box(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value]*shape[0]\n    else len(shape)==2:\n        return lambda init_value : [ [init_value]*shape[1] * shape[0]',
  '# 함수를 return\ndef make_box(shape):   # shape : [L]=> len가 L인 list를 생성하는 함수 return,\n#                                [r,c] => r행 c열인 2차원 list를 생성하는 함수 return\n    def box(init_value):\n        if len(shape)==1:\n            return [init_value]*shape[0]\n        elif len(shape)==2:\n            return [[init_value]*shape[1]] * shape[0]\n    return box',
  '# 람다식을 return\ndef make_box(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value]*shape[0]\n    else len(shape)==2:\n        return lambda init_value : [ [init_value]*shape[1] * shape[0]',
  'globals',
  'globals()',
  'globals() # 전역변수 리스트'],
 'Out': {2: [{'score': 100},
   {'name': '윤길동', 'score': 99},
   {'name': '홍길동', 'score': 90},
   {'name': '김길동', 'score': 50}],
  3: [{'score': 100},
   {'name': '윤길동', 'score': 99},
   {'name': '홍길동', 'score': 90},
   {'name': '김길동', 'score': 50}],
  6: [{'no': 6, 'title': '가격이없음', 'writer': '김길동'},
   {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
   {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
   {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
   {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
   {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'}],
  11: 800,
  13: (None, None, 800, None),
  15: (8000, 8000, 800, None),
  17: (8000, 8000, 800, 0),
  19: [{'no': 6, 'title': '가격이없음', 'writer': '김길동'},
   {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
   {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14,220'},
   {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
   {'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
   {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'}],
  22: (8000, 8000, 800, 0),
  23: (0, 900, 14220, 0),
  26: 25200,
  28: 25200,
  29: [{'no': 1, 'title': '강남 아파트 인사이트', 'writer': '오스틀', 'price': '25,200'},
   {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
   {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14220'},
   {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},
   {'no': 5, 'title': '가격이숫자', 'writer': '신길동', 'price': 900},
   {'no': 6, 'title': '가격이없음', 'writer': '김길동'}],
  33: [[3, 3, 3], [3, 3, 3]],
  34: [3, 3, 3, 3, 3, 3, 3, 3, 3, 3],
  38: <function globals()>,
  39: {...}},
 'get_ipython': <bound method InteractiveShell.get_ipython of <ipykernel.zmqshell.ZMQInteractiveShell object at 0x000001E4FFE73D60>>,
 'exit': <IPython.core.autocall.ZMQExitAutocall at 0x1e4ffe7f5e0>,
 'quit': <IPython.core.autocall.ZMQExitAutocall at 0x1e4ffe7f5e0>,
 'open': <function io.open(file, mode='r', buffering=-1, encoding=None, errors=None, newline=None, closefd=True, opener=None)>,
 '_': {...},
 '__': <function globals()>,
 '___': [3, 3, 3, 3, 3, 3, 3, 3, 3, 3],
 '_i': 'globals()',
 '_ii': 'globals',
 '_iii': '# 람다식을 return\ndef make_box(shape):\n    if len(shape)==1:\n        return lambda init_value : [init_value]*shape[0]\n    else len(shape)==2:\n        return lambda init_value : [ [init_value]*shape[1] * shape[0]',
 '_i1': "students = [\n    {'name' : '홍길동', 'score' : 90},\n    {'name' : '김길동', 'score' : 50},\n    {'name' : '윤길동', 'score' : 99},\n    {'score' : 100}\n]",
 'students': [{'score': 100},
  {'name': '윤길동', 'score': 99},
  {'name': '홍길동', 'score': 90},
  {'name': '김길동', 'score': 50}],
 '_i2': "# 이름순으로 정렬(ㄱ ㄴ ㄷ 순) by 선생님\n\nstudents.sort(key = lambda item : item.get('name','힝'))\nstudents",
 '_2': [{'score': 100},
  {'name': '윤길동', 'score': 99},
  {'name': '홍길동', 'score': 90},
  {'name': '김길동', 'score': 50}],
 '_i3': "# sore 순으로 정렬(내림차순 정렬)\nstudents.sort(key = lambda item : item.get('score', 0), reverse=True)\nstudents",
 '_3': [{'score': 100},
  {'name': '윤길동', 'score': 99},
  {'name': '홍길동', 'score': 90},
  {'name': '김길동', 'score': 50}],
 '_i4': "books.sort(key = lambda book : book.get('title'))\nbooks",
 '_i5': "# 책 제목순 정렬(ㄱㄴㄷ순), 저자순 정렬(ㄱㄴㄷ순), 가격순 오름차순 정렬\nbooks =[\n    {'no':1, 'title':'강남 아파트 인사이트', 'writer':'오스틀', 'price':'25,200'},\n    {'no':2, 'title':'단 한 번의 삶', 'writer':'김영하', 'price':'18,100'},\n    {'no':3, 'title':'흔한남매 19', 'writer':'백난도', 'price':'14,220'},\n    {'no':4, 'title':'가격이잘못', 'writer':'홍길동', 'price':'-'},\n    {'no':5, 'title':'가격이숫자', 'writer':'신길동', 'price':900},\n    {'no':6, 'title':'가격이없음', 'writer':'김길동'},\n]",
 'books': [{'no': 1,
   'title': '강남 아파트 인사이트',
   'writer': '오스틀',
   'price': '25,200'},
  {'no': 2, 'title': '단 한 번의 삶', 'writer': '김영하', 'price': '18,100'},
  {'no': 3, 'title': '흔한남매 19', 'writer': '백난도', 'price': '14220'},
  {'no': 4, 'title': '가격이잘못', 'writer': '홍길동', 'price': '-'},

In [41]:
all([True, True, False]) # 전부 True 인지 여부

False

In [42]:
round(3.5) # 반올림

4

In [47]:
import numpy as np # numpy 모듈을 np라는 이름으로 load
np.round(3.5), np.ceil(3.1), np.floor(3.9) # 반올림, 올림, 내림

(4.0, 4.0, 3.0)

# 6절. 연습문제
## 실습형

In [2]:
# 1. 코드 실행 결과
# 함수의 인자로 리스트를 받은 후 리스트 내에 있는 모든 정수값에 대한 최대값과 최소값을 리턴하는 함수를 작성하세요
# •def get_max_min(data_list):
# •get_max_min= lambda ~

def get_max_min(data_list):
    return max(data_list), min(data_list)

get_max_min = lambda data_list : (max(data_list), min(data_list))
get_max_min([1,2,3,4,5,6,])

(6, 1)

In [3]:
# 2. 체질량 지수(Body Mass Index, BMI)는 체중과 키를 이용해 비만도를 나타내는 지수로 아래의 수식에 의해 계산됩니다. 함수의 인자로 체중(kg)과 신장(m)를입력받은 후 BMI값에 따라 ‘마른 체형‘, ‘표준‘, ‘비만‘, ‘고도비만‘ 중 하나의 상태를 출력하는 함수를 구현해 보세요.
# • getBMI(kg, m):
# • BMI지수 = 체중(kg) / 신장(m)의 제곱
# • BMI<18.5 : 마른체형
# • 18.5<=BMI<25 : 표준
# • 25<=BMI<30 : 비만
# • BMI >=30 : 고도비만

# 실습형2. 체중과 키를 입력받아 BMI지수에 따른
    #‘마른 체형‘, ‘표준‘, ‘비만‘, ‘고도비만‘ 중 하나의 상태를 출력하는 함수
def getBMI(kg, m):
    bmi = kg / (m**2) # kg / m**2 동일
    if bmi < 18.5:
        print('마른체형')
    elif 18.5 <= bmi < 25:
        print('표준')
    elif 25 <= bmi < 30:
        print('비만')
    else:
        print('고도비만')

getBMI_lambda = lambda kg, m : '마른체형' if kg / (m**2) < 18.5 else \
                        '표준' if 18.5 <= kg / (m**2) < 25 else \
                        '비만' if 25 <= kg / (m**2) < 30 else \
                        '고도비만'
getBMI(70, 1.75)
print(getBMI_lambda(70, 1.75))

표준
표준

In [4]:
# 3. 직각삼각형의 밑변과 높이를 입력받은 후 삼각형의 면적과 둘레를 계산하는 함수를 작성하세요
# • 리턴값은 면적과 둘레를 return하도록 구현하세요
# • math.sqrt() : 제곱근을 구하는 함수이용 (ex)math.sqrt(25) : 5.0
# • def get_triangle(width, height):

# 실습형 3. 직각삼각형의 width, height로 area, perimeter(둘레)를 return
import math
def get_triangle(width, height):
    area = width * height * 0.5
    perimeter = width + height + math.sqrt(width*width + height*height)
    return {'넓이':area, '둘레':perimeter}
 # math 모듈을 사용하라고 하지만 구현능력을 위해 하드코딩이라고 함(훈련생 曰)
get_triangle_lambda = lambda width, height : {
        '넓이':width * height * 0.5,
        '둘레':width + height + (width*width + height*height)**0.5
}
get_triangle(3,4)

{'넓이': 6.0, '둘레': 12.0}

In [5]:
# 4.함수의 인자로 시작과 끝 숫자가 주어질 때 시작부터 끝까지의 모든 정수값의 합을 리턴하는 함수를 작성하세요(시작값과 끝값 포함).
# • def mysum(from, end):

import math
math.sqrt(25)

5.0

In [8]:
# 5. 함수의인자로 문자열을 포함하는 리스트가 입력될 때 각 문자열의 첫 세글자로만 구성된 리스트를 리턴하는 함수와 람다식을 작성하세요
# • 예를 들어 함수의 입력으로 [‘Seoul’, ‘Daegu’, ‘Kwangju’, ‘Jeju’]가 입력될 때 함수의 리턴값은 [‘Seo’, ‘Dae’, ‘Kwa’,’Jej’]
# • def get_abbrs(lst):

test = ['Seoul', 'Daegu', 'Kwangju', 'Jeju']
def get_abbrs(lst):
    return [x[:3] for x in lst]

print(get_abbrs(test)) # 일반 함수 이용
print((lambda l : [x[:3] for x in l])(test)) #람다식 이용

['Seo', 'Dae', 'Kwa', 'Jej']
['Seo', 'Dae', 'Kwa', 'Jej']

In [9]:
# 6. 다음 코드를 람다 함수 형태로 수정할 때 알맞은 코드를 작성하시오
fun = lambda x, y : x**y
print(fun(2, 3))
print((lambda x, y : x**y)(2,3))

8
8

In [12]:
# 7. ex = [1,2,3,4,5]를 [1,4,9,16,25]의 결과를 얻을 수 있도록 람다함수와 map()함수를 사용하여 구현과 리스트 컴프리헨션으로 구현하시오

[x**2 for x in ex]

[1, 4, 9, 16, 25]

In [13]:
# 8. 다음코드를 각각 실행하면 서로 다른 결과가 나온다. 이런 결과가 나오는 이유를 서술하시오
a = [1,2,3]
print(*a)
print(a)
answer="""
별표(asterisk, *)는 함수의 인자(argument)로 사용될 때, 
시퀀스형 자료형의 각각의 값(element)을 하나의 값(element)으로 넣어주게 된다(언패킹)
그러므로 print(*a)의 의미는 사실 print(a[0], a[1], a[2])으로 나타나게 된다.
"""

1 2 3
[1, 2, 3]

In [3]:
# 9. 다음 코드의 실행 결과는?
date_info = {'year':'2019', 'month':'9', 'day':'6'}
# result = "{year}-{month}-{day}".format(**date_info)
# result = "{year}-{month}-{day}".format(year='2019', month=9, day=6)
# '2024-09-06을 원하면'
result = "{year}-{month:>02}-{day:>02}".format(**date_info) # :>02 로 형식 변경해서 처리
result

'2019-09-06'

In [4]:
date_info = {'year':'2019', 'month':9, 'day':6}
result = "{year}-{month}-{day}".format(**date_info)
# result = "{year}-{month}-{day}".format(year='2019', month=9, day=6)
# '2024-09-06을 원하면'
#result = "{year}-{month:02}-{day:02}".format(**date_info)
result

'2019-9-6'

In [18]:
# 10. n개의 벡터(리스트나 튜플, 셋등)의 크기들이 같은지 여부를 reutrn하는 
# vector_size_check(*vector _var) 를 한 줄의 코드(리스트 컴프리헨션 이용)로 작성하시오.

def vector_size(*vector_var):
    result = []
    for vector in vector_var:
        result.append(len(vector))
    return result

def vector_size(*vector_var):
    return [len(vector) for vector in vector_var]

vector_size([10, 20], (100, 200), {'name':'홍', 'age':20}, {1, 2})

[2, 2, 2, 2]

In [19]:
# 원래 실습형 10. 
# 입력받은 n개의 벡터(리스트나 튜플이나 셋)의 크기들이 모두 같은지 여부 return : 셋 이용
def vector_size_check(*vector_var):
    result = set()
    for vector in vector_var:
        result.add(len(vector))
    return len(result)==1
def vector_size_check(*vector_var):
    return len(set([len(vector) for vector in vector_var]))==1
vector_size_check([10, 20], (100,200), {'name':'홍', 'age':20}, {1, 2})

True

In [20]:
vector_size_check([10, 20], (100,), {'name':'홍', 'age':20}, {1, 2})

False

In [6]:
# 입력받은 n개의 벡터(리스트나 튜플이나 셋)의 크기들이 모두 같은지 여부 return : all이용
def vector_size_check(*vector_var):
    result = []
    for vector in vector_var:
        result.append(len(vector))
    return all(result)

def vector_size_check(*vector_var):
    return all([len(vector) for vector in vector_var])
vector_size_check([10, 20], (100,200), {'name':'홍', 'age':20}, {1, 2})

True

In [17]:
# 11. 다음과 같은 결과를 얻기 위해 하나의 스칼라값을 리스트나 튜플, 셋등 벡터에 곱하는 코드를 작성하시오.(단 입력되는 벡터의 크기는 일정하지 않음)
def scalar_vector_product(num, vector):
    return [num*vec for vec in vector]
scalar_vector_product(5, [1,2,3,4])

[5, 10, 15, 20]

# 서술형

In [51]:
# 1. 
pairs = [(1,'d'), (2, 'c'), (3,'b'), (4, 'a')]
pairs.sort(key=lambda pair : pair[1])
pairs

# 2번

[(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')]

In [22]:
# 서술형 1 ②
pairs = [(1, 'd'),(2, 'c'),(3,'b'),(4,'a')]
pairs.sort(key=lambda pair : pair[1])
pairs

[(4, 'a'), (3, 'b'), (2, 'c'), (1, 'd')]

In [99]:
# 2.
a = 10
def sub():
#   global a에 의해 전역 a는 다시 1 증가
    global a # 렉시컬변수
    a += 1
    print(a, end='')

def func():
    for i in range(2):
        a = 5
        a  += 1
        print(a, end='')
        sub()
    
a += 1
func()
print()
print(a)

612613
13

In [23]:
# 2. 선생님
a = 10 # 전역변수
def sub():
    global a # 문제해결을 위한 코드
    a += 1
    print(a, end='(sub에서 a는 전역변수) ')
def func():
    for i in range(2):
        a = 5 # 지역변수
        a += 1
        print(a, end='(func에서 a는 지역변수) ')
        sub()
func()
answer ='''
오류가 발생하는 라인 : 원래 3번째줄(a += 1부분)
a = a+1 : a에 값을 할당하면 지역변수가 됨
          지역변수 a+1를 계산할 수 없음
문제해결을 위해 : 에러나는 줄 앞에 global a 선언
'''

6(func에서 a는 지역변수) 11(sub에서 a는 전역변수) 6(func에서 a는 지역변수) 12(sub에서 a는 전역변수)

In [56]:
# 3.
var = 100
def func(var):
    var = 200
func(var)
print(var)

# 100

100

In [24]:
var = 100
def func(var): # 매개변수로 들어온 변수는 지역변수
    var = 200  # 그러므로 var는 전역변수가 아니고 지역변수
func(var)
print(var)

100

In [8]:
# 4.

def my_func(func, *args):
    return func(*args)
import numpy as np
my_func(np.add, 2, 3)

5

In [9]:
def my_func(func, *args):
    return func(*args)
import numpy as np
my_func(np.add, 3, 3)

6

In [62]:
# 5.

def my_func(func, *args):
    return func(*args)
my_func(lambda a, b : a**b, 3, 2) #람다로 변형

# 9

9

In [26]:
np.add(2, 3)

5

In [ ]:
# 6. 
# 파이썬 함수에 대한 설명 중 잘못된 것은?
# ① 파이썬의 함수는 중복 정의해 사용할 수 있다.
# ② 파이썬의 함수 매개변수는 기본값을 가질 수 있다.
# ③ **args 형식의 매개변수가 있으면 키워드 인수는 딕셔너리 형식으로 받는다.
# ④ 함수를 호출할 때 매개변수 이름이 없는 인수는 매개변수 이름이 있는 인수보다 앞에 와야 한다.

# 4
# 마지막 정의된 함수로 덮어쓰기 된다.

In [10]:
# 7.

list_ = []
def func(a, L=None):
    if L is None:
        L=[]
    L.append(a)
    return L

func(10, list_)
func(20,L=list_)
func(a=30)
# func([], a=40)  <== 요넘이 범인!

[30]

In [27]:
# 선생님

list_ = []
def func(a, L=None):
    if L is None:
        L = []
    L.append(a)
    return L
print('①',func(10, list_))
print('②',func(20, L=list_))
print('③',func(a=30))
# func([], a=40)이라고 하면 우선 첫번째 매개변수를 순서인수 a에 할당하고
#          a=40을 중복할 당함 (에러 메세지 아래와 같음

① [10]
② [10, 20]
③ [30]

In [ ]:
# 8.
# 작은 익명함수를 의미
# 함수가 실행할 문장이 한 문장일 경우에 만들어 사용할 수 있습니다.
# 다른 함수의 인수 또는 리턴값에 사용될 수 있습니다.

# 키워드는 => lambda