In [1]:
# 매 강의 시작시마다 동일하게 처리해야 함
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:13pt;
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:10pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:10pt;padding:5px;}
table.dataframe{font-size:15px;
</style>
"""))

In [77]:
# 250422

<b><font size="5" color="red">ch09. 파일 입/출력 프로그래밍</font></b>
- 파일 : txt, pickle, csv, json, hdf5(h5)

# 1절. txt 파일에 데이터 저장하고 불러오기

In [10]:
try:
    f = open('data/ch09.txt', 'w') # 파일이름은 제대로 친다고 치고 진행한다.
except FileNotFoundError as e:
    print(e)

In [12]:
f = open('data.cho09.txt', "w")
print('쓰기 가능한지 여부 :', f.writable())

쓰기 가능한지 여부 : True

In [13]:
f.write('Hello\nWorld')
f.close()  # close() 쓰기한 내용이 저장됨

In [14]:
with open('data/ch09.txt', 'w') as f:
    print('쓰기 가능한지 여부 :', f.writable())
    f.write('Hello\nPython')

쓰기 가능한지 여부 : True

In [21]:
# 한글사용시 반드시 encoding 적용 필요함
# mode : 'r' 또는 'rt' (텍스트모드) : 읽기, 파일이 없는 경우 예외, 파일이 있는 경우 text읽기 모드
#        'rb' : 바이너리 읽기 모드
#        'w' 또는 'wt' : text 쓰기 모드 (파일이 있으면 덮어씀, 파일이 없으면 파일 생성)
#        'wb' : 비이너리 쓰기 모드
#        'a' 또는 'at' : text 추가 모드 (파일이 있으면 append, 없으면 파일 생성) 
#        읽기모드에서 파일이 없으면 예외 / 쓰기모드에서는 폴더가 없으면 예외
# encoding
#        euc-kr (한글완성형) 믜 x
#        cp949 (확장된 한글완성형) : open() 함수 기본 encoding 방식(win)
#        utf-8 (한글조합형) : open()함수 기본 encoding 방식(mac, linux), 주피터노트북 기본

with open('data/ch09.txt', 'w') as f:
    print('쓰기 가능한지 여부 :', f.writable())
    f.write('Hello\nPython\n')

쓰기 가능한지 여부 : True

In [ ]:
'''
 1. cp949란?
cp949는 Microsoft가 만든 확장 EUC-KR 문자셋.
다른 이름으로는 Windows-949, UHC(통합 한글 코드).
기본이 되는 건 EUC-KR이라는 문자셋이고, 여기에 추가적인 한글 문자들이 더해져서 만들어짐.

📌 2. 왜 cp949가 생겼을까?
EUC-KR은 약 2,350자 정도의 한글만 지원했는데, 이건 현대 한국어에서는 부족.
그래서 Microsoft가 자사 Windows 시스템에서 더 많은 한글을 다루기 위해 만든 게 cp949.
이 덕분에 총 11,172자의 완성형 한글을 다룰 수 있게 됨.

'''

In [22]:
# 데이터 쓰기

with open('data/ch09.txt', 'a', encoding="utf-8") as f:
    # 1.방법
    f.write('홍길동, 33, 아무동9\n')
    f.write('김길동, 34, 저무동8\n')
    # 2.방법
    textlist = ['홍길동, 33, 아무동9\n', '김길동, 33, 아무동9\n']
    for line in textlist:
        f.write(line)
    # 3.방법
    f.writelines(textlist)

In [25]:
# 데이터 읽기

with open('data/ch09.txt', 'r', encoding="utf-8") as f:
    pass

In [29]:
# 한줄씩 읽기
with open('data/ch09.txt', 'r', encoding="utf-8") as f:
    line = f.readline()
    while line!='':
        print(line, end=' ')
        line = f.readline()

Hello
 Python
 홍길동, 33, 아무동9
 김길동, 34, 저무동8
 홍길동, 33, 아무동9
 김길동, 33, 아무동9
 홍길동, 33, 아무동9
 김길동, 33, 아무동9

In [31]:
# 모든 줄을 읽기

with open('data/ch09.txt', 'r', encoding="utf-8") as f:
    lines = f.readlines()
    print(lines)

['Hello\n', 'Python\n', '홍길동, 33, 아무동9\n', '김길동, 34, 저무동8\n', '홍길동, 33, 아무동9\n', '김길동, 33, 아무동9\n', '홍길동, 33, 아무동9\n', '김길동, 33, 아무동9\n']

In [37]:
# 모두 읽기

with open('data/ch09.txt', 'r', encoding="utf-8") as f:
    lines_ = f.read()
    print(lines_)
lines

Hello
Python
홍길동, 33, 아무동9
김길동, 34, 저무동8
홍길동, 33, 아무동9
김길동, 33, 아무동9
홍길동, 33, 아무동9
김길동, 33, 아무동9

['Hello\n',
 'Python\n',
 '홍길동, 33, 아무동9\n',
 '김길동, 34, 저무동8\n',
 '홍길동, 33, 아무동9\n',
 '김길동, 33, 아무동9\n',
 '홍길동, 33, 아무동9\n',
 '김길동, 33, 아무동9\n']

# 2절. 피클을 이용한 객체 저장 및 불러오기
## 2.1 형식이 있는 txt 데이터 불러오기

In [4]:
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address
    def __str__(self):
        return "{}, {}, {}, {}".format(self.name,
                                      "성년" if self.age>18 else "미성년",
                                      self.email,
                                      self.address)
    def as_dict(self):
        return {
            'name' : self.name,
            'age':self.age,
            'email':self.email,
            'address':self.address      
        }
    def __eq__(self, other):
        return self.name == other.name and \
                self.age == other.age and \
                self.email == other.email and \
                self.address == other.address

In [5]:
user1 = Member('홍', 20,'a@a.com', '신림동')
user2 = Member('홍', 20,'a@a.com', '신림동')
print(user1 == user2)
print(user1.__eq__(user2)) # 같은 내용이면 True

True
True

In [6]:
# 형식이 있는 txt파일 내용을 member list(피클 저장), 딕셔너리 list(데이터프레임)로 저장
user_list = [] # member list
user_dict = [] # 딕셔너리 list
with open('data/ch09_member.txt', 'r', encoding='utf-8') as txt_file:
    lines = txt_file.readlines()
# print(lines)
for line in lines:
#     print(line)
    data =line.split(', ')
#     print(data)
    name = data[0]
    age = int(data[1].strip()) # strip() 좌우 공백제거(space, \t, \n)
    email = data[2].strip()
    address = data[3].strip()
    user = Member(name, age, email, address)
    user_list.append(user)
    user_dict.append(user.as_dict)
#     user_dict.append(user.__dict__)

In [15]:
for user in user_list:
    print(user)

홍길동, 성년, kildong@hong.com, 서울시 관악구
홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
신길동, 성년, shinkil@hong.com, 서울시 동작구

## 2.2 피클링
- 객체 리스트(user_list) -> 피클파일로 쓰기
- 피클 파일을 읽기 -> 객체 리스트(load_user_list)

In [16]:
# 피클링을 이용한 객체를 저장하기

import pickle
with open('data/ch09_member.data', 'wb') as f:
    pickle.dump(user_list, f)

In [17]:
# 피클링을 이용한 파일에서 객체 데이터로 읽기
with open('data/ch09_member.data', 'rb') as f:
    load_user_list = pickle.load(f)

In [18]:
user_list == load_user_list

True

In [19]:
for idx in range(len(user_list)):
    print(idx, user[idx])
    print(idx, load_user_list[idx])

TypeError: 'Member' object is not subscriptable

In [20]:
for user, load_user in zip(user_list, load_user_list):
    print(user)
    print(load_user)

홍길동, 성년, kildong@hong.com, 서울시 관악구
홍길동, 성년, kildong@hong.com, 서울시 관악구
홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
신길동, 성년, shinkil@hong.com, 서울시 동작구
신길동, 성년, shinkil@hong.com, 서울시 동작구

In [21]:
for idx,(user, load_user) in enumerate(zip(user_list, load_user_list)):
    print(idx, user)
    print(idx, load_user)
    print(user == load_user)

0 홍길동, 성년, kildong@hong.com, 서울시 관악구
0 홍길동, 성년, kildong@hong.com, 서울시 관악구
True
1 홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
1 홍길숙, 성년, kilsuk1@hong.com, 서울시 영등포구
True
2 신길동, 성년, shinkil@hong.com, 서울시 동작구
2 신길동, 성년, shinkil@hong.com, 서울시 동작구
True

In [24]:
result = []
for user, load_user in zip(user_list, load_user_list):
    result.append(user==load_user)
all(result)

True

# 3절. CSV 형식 파일 읽기/쓰기
- csv파일 <-> 리스트데이터로 3.1 / 3.2
- csv파일 <-> 딕셔너리데이터 3.3 / 3.4

In [ ]:
'''
변환 방식	예제 번호	설명
CSV → 리스트	3.1	한 줄씩 리스트로 읽음
리스트 → CSV	3.2	리스트를 CSV로 씀
CSV → 딕셔너리	3.3	한 줄을 딕셔너리로 읽음
딕셔너리 → CSV	3.4	딕셔너리를 CSV로 씀
'''

## 3.1 reader

In [71]:
import csv
with open('data/ch09_member1.csv', 'r', encoding='utf-8') as f:
    reader = csv.reader(f)
    result = list(reader)
print(result)

[['홍길동', '20', 'kildong@hong.com', '서울시 관악구'], ['김길동', '40', 'kimdong@hong.com', '서울시 영등포구'], ['신길동', '30', 'sindong@hong.com', '서울시 동작구']]

In [72]:
# " "(따옴표)가 없는 데이터는 numeric으로
import csv
with open('data/ch09_member1.csv', 'r', encoding='utf-8') as f:
    reader = csv.reader(f,
                       quoting=csv.QUOTE_NONNUMERIC)
    result = list(reader)
print(result)

[['홍길동', 20.0, 'kildong@hong.com', '서울시 관악구'], ['김길동', 40.0, 'kimdong@hong.com', '서울시 영등포구'], ['신길동', 30.0, 'sindong@hong.com', '서울시 동작구']]

In [3]:
import csv
with open('data/ch09_member1.csv', 'r', encoding='utf-8') as f:
    reader = csv.reader(f,
                       quoting=csv.QUOTE_NONNUMERIC)
    result = list(reader)
dict_list = []
for data in result:
    dict_list.append({
        'name':data[0],
        'age':int(data[1]),
        'email':data[2],
        'address':data[3]
    })
print(dict_list)

[{'name': '홍길동', 'age': 20, 'email': 'kildong@hong.com', 'address': '서울시 관악구'}, {'name': '김길동', 'age': 40, 'email': 'kimdong@hong.com', 'address': '서울시 영등포구'}, {'name': '신길동', 'age': 30, 'email': 'sindong@hong.com', 'address': '서울시 동작구'}]

## 3.2 writer

In [23]:
user_list = [['홍길동',20,'kildong@hong.com','서울시 관악구'],
             ['김길동',40,'kimdong@hong.com','서울시 영등포구'],
             ['신길동',30,'sindong@hong.com','서울시 동작구']]

In [27]:
import csv
with open('data/ch09_member1_write.csv', 'w', newline='', encoding='utf-8') as f:
    writer = csv.writer(f, quoting=csv.QUOTE_NONNUMERIC)
    writer.writerows(user_list)

## 3.3 DictReader

In [30]:
import csv
with open('data/ch09_member3.csv', 'r', encoding='utf-8') as f:
    dict_reader = csv.DictReader(f)
    for row in dict_reader:
        if row['job'] is None:
            print(row['name'],row['age'],row['email'],row['address'] )
        else:
            print(row['name'],row['age'],row['email'],row['address'], row['job'])

홍길동 20 h@h.com 서울시 관악구
신길동 40 s@h.com 서울시 영등포구 팀장
김길동 30 k@h.com 서울시 동작구

In [19]:
# header가 없는 csv파일(ch09_emeber1-cp.csv)을 딕셔너리로 읽기

with open('data/ch09_member1-cp.csv', encoding='cp949') as f:
    dict_reader = csv.DictReader(f,
                                fieldnames=['Name','Age','Email','Address','Job'])
#     print(list(dict_reader))
#     print(list(dict_reader))
    result = list(dict_reader)
for row in result:
    print(row)

{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 관악구', 'Job': ''}
{'Name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '서울시 영등포구', 'Job': '팀장'}
{'Name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '서울시 동작구', 'Job': ''}

In [21]:

with open('data/ch09_member1-cp.csv', encoding='cp949') as f:
    dict_reader = csv.DictReader(f,
                                fieldnames=['Name','Age','Email','Address'],
                                restkey='job')
#     print(list(dict_reader))
#     print(list(dict_reader))
    result = list(dict_reader)
for row in result:
    print(row)

{'Name': '홍길동', 'Age': '20', 'Email': 'kildong@hong.com', 'Address': '서울시 관악구', 'job': ['']}
{'Name': '김길동', 'Age': '40', 'Email': 'kimdong@hong.com', 'Address': '서울시 영등포구', 'job': ['팀장']}
{'Name': '신길동', 'Age': '30', 'Email': 'sindong@hong.com', 'Address': '서울시 동작구', 'job': ['']}

## 3.4 DictWriter
- 딕셔너리 리스트 -> CSV파일

In [36]:
user1 = {'name':'홍길동','age':22,'email':'a@a.com','address':'신림동'}
user2 = {'name':'김길동','age':32,'email':'b@a.com','address':'신림동'}
user3 = {'name':'신길동','age':42,'email':'c@a.com','address':'신림동'}
user_list = [user1, user2, user3]
fieldnames = list(user1.keys())

In [38]:
with open('data/ch09_member4.csv', 'w', encoding='utf-8', newline='') as f:
    dict_writer = csv.DictWriter(f,
                                fieldnames=fieldnames)
    dict_writer.writeheader()  # header 쓰기
    dict_writer.writerows(user_list)

In [32]:
user1.keys()

dict_keys(['name', 'age', 'email', 'address'])

In [33]:
user1.values()

dict_values(['홍길동', 22, 'a@a.com', '신림동'])

In [34]:
user1.items()

dict_items([('name', '홍길동'), ('age', 22), ('email', 'a@a.com'), ('address', '신림동')])

## csv < - > 데이터 프레임

In [4]:
import pandas as pd
member = pd.read_csv('data/ch09_member3.csv')
member

  name  age    email   address  job
0  홍길동   20  h@h.com   서울시 관악구  NaN
1  신길동   40  s@h.com  서울시 영등포구   팀장
2  김길동   30  k@h.com   서울시 동작구  NaN

In [5]:
print(type(member))

<class 'pandas.core.frame.DataFrame'>

# 4절 JSON 데이터 저장하고 불러오기(dump, load)
- 딕셔너리리스트 <-> JSON 파일(기본)
- 객체리스트 <-> JSON 파일

## 4.1 dump(파일 출력)

In [8]:
data = [{'name':'홍길동','age':22,'email':'a@a.com','address':'서울'},
        {'name':'김길동','age':32,'email':'b@a.com','address':'신림동'}]

In [10]:
# ensure_ascii 매개변수
#     True : 비 ASCII문은 유니코드 형태로 저장
#     False : 비 ASCII문자 원래 형태로 저장
import json
with open('data/ch09_member.json', 'w', encoding='utf-8') as jsonfile:
    json.dump(data,  # 딕셔너리 리스트
             jsonfile,
             ensure_ascii=False,
             indent='\t')

In [11]:
import json
with open('data/ch09_member.json', 'w', encoding='utf-8') as jsonfile:
    json.dump(data,  # 딕셔너리 리스트
             jsonfile,
             ensure_ascii=False)

In [17]:
class Member:
    def __init__(self, name, age, email, address):
        self.name = name
        self.age = age
        self.email = email
        self.address = address
    def __str__(self):
        return "{}, {}, {}, {}".format(self.name,
                                      self.age,
                                      self.email,
                                      self.address)
    def as_dict(self):
        return {
            'name' : self.name,
            'age':self.age,
            'email':self.email,
            'address':self.address      
        }
    def __eq__(self, other):
        if isinstance(other, Member):
            return self.__str__ == other.__dict__
        else:
            return False

In [18]:
user1 = Member('홍길동', 22, 'a@a.com','신림동')
user2 = Member('홍길동', 22, 'a@a.com','신림동')
print(user1.__eq__('user2'))
print(user2 == user2)

False
False

In [19]:
member_list = [Member('홍길동', 22, 'a@a.com', '서울'),
               Member('홍길동', 22, 'a@a.com', '서울'),
               Member('홍길동', 22, 'a@a.com', '서울')]

In [21]:
with open('data/ch09_member1.json', 'w', encoding='utf-8') as jsonfile:
    json.dump(member_list, # 객체 리스트
             jsonfile,
             ensure_ascii=False,
             indent='\t',
             default=Member.as_dict # 객체를 딕셔너리로 return 하는 인스턴스 함수
             )

## 4.2 load(파일 입력)
- json파일 -> 딕셔너리 리스트 (기본)
                   ↓
- json파일 -> 객체리스트

In [22]:
def as_member(dic):
    '매개변수로 딕셔너리를 받아 Member객체를 return'
    return Member(dic.get('name'), dic['age'], dic.get('email'),dic.get('address'))

In [23]:
member = as_member({'name':'김길동','age':20, 'email':'z@z.com','address':'관악'})
print(member)

김길동, 20, z@z.com, 관악

In [24]:
# 딕셔너리 리스트로 받기
with open('data/ch09_member.json', encoding='utf-8') as f:
    load_data = json.load(f)
load_data

[{'name': '홍길동', 'age': 22, 'email': 'a@a.com', 'address': '서울'},
 {'name': '김길동', 'age': 32, 'email': 'b@a.com', 'address': '신림동'}]

In [25]:
# 개체 리스트로 받기
with open('data/ch09_member1.json', encoding='utf-8') as f:
    load_member_list = json.load(f, object_hook=as_member)
for load_data in load_member_list:
    print(load_data)

홍길동, 22, a@a.com, 서울
홍길동, 22, a@a.com, 서울
홍길동, 22, a@a.com, 서울

## JSON -> 데이터프레임

In [26]:
import pandas as pd
pd.read_json('data/ch09_member1.json') 
# pd.함수() : encoding='utf=8' 기본값
# open(파일, 모드)함수 : encoding='cp949' 기본값

  name  age    email address
0  홍길동   22  a@a.com      서울
1  홍길동   22  a@a.com      서울
2  홍길동   22  a@a.com      서울

In [1]:
# 4/22 복습

In [7]:
# 기본형식
# f = open('파일이름', '모드', encoding='utf-8')
'''
모드	의미
"r"	읽기 (파일이 있어야 함)
"w"	쓰기 (없으면 생성, 있으면 덮어씀)
"a"	추가 (파일 끝에 이어서 씀)
"b"	바이너리 모드 (픽클 등 이진 파일용)
'''

In [ ]:
# 텍스트파일 다루기
# 텍스트 파일 쓰기

with open("example.txt", "w", encoding="utf-8") as f:
    f.writer("안녕하세요\n")
    f.write("파이썬 파일 입출력 예제")

In [9]:
# 텍스트 파일 읽기
with open("example.txt", "w", encoding="utf-8") as f:
    for line in f:
        print(line.strip()) # strip()은 줄 끝의 줄바꿈 \n을 제거

In [11]:
# 텍스트 + 사용자 입력
# 사용자 메모 저장
with open('memo.txt', 'w', encoding='utf-8') as f:
    while True:
        line = input("메모를 입력하세요(exit입력 시 종료) : ")
        if line == 'exit':
            break
    f.write(line + '\n')

메모를 입력하세요(exit입력 시 종료) : sdf
메모를 입력하세요(exit입력 시 종료) : k
메모를 입력하세요(exit입력 시 종료) : k
메모를 입력하세요(exit입력 시 종료) : exit

In [14]:
# 형식이 있는 텍트스 처리

# 홍길동,20,kildong@hong.com,서울시 강동구
# 홍길서,30,kilseo@hong.cokm,서울시 강서구

with open('member.txt', 'r') as f:
    for line in f:
        name, age, email, addr = line.strip().split(',')
        print(f'이름:{name} | 나이: {age} | 이메일:{email} | 주소:{addr}')

In [ ]:
# 파일에 이어쓰기 (a)

In [ ]:
with open('member.txt', 'a' encoding='utf-8') as f:
    f.write('이 내용을 이어씁니다'\n')

In [ ]:
# print()로 파일에 출력하기
with open('log.txt', 'w') as f:
    print('로그기록 시작',file=f)
    print('사용자:맹구',file=f)
# 화면 대신 파일로 출력 print(...., file=f)

In [ ]:
'''
예제	설명	주요 포인트
예제 1	텍스트 파일 쓰기	"w" 모드
예제 2	텍스트 파일 읽기	for line in f
예제 3	사용자 입력 저장	반복문 + exit 처리
예제 4	쉼표로 구분된 텍스트 처리	split(",")
예제 5	이어쓰기	"a" 모드
+α	print(..., file=파일)	간단하게 로그 남기기
'''

In [ ]:
# 피클(pickle)
'''
파이썬의 객체(리스트, 딕셔너리, 클래스 인스턴스 등)을 그대로 파일에 저장하거나 다시 부러올 수 있는 기능
일판 파일은 텍스트만 저장
피클은 파이썬 객체 그대로 저장 가능
'''

In [ ]:
# 피클 사용지 주의사항
'''
작업	파일 모드
저장	"wb" (write binary)
읽기	"rb" (read binary)
'''

In [15]:
# 간단한 객체 저장하기(피클링)
import pickle
data = {'name': '맹구','age': 13, 'hobby':['게임','먹방']}
with open('data.pkl', 'wb') as f:
    pickle.dump(data, f)

print("객체 저장 완료")

객체 저장 완료

In [20]:
# 저장된 객체 불러오기(언피클링)
with open('data.pkl', 'rb') as f:
    loaded = pickle.load(f)
print('불러온 데이터:',loaded)
print('이름:', loaded['name'])

불러온 데이터: {'name': '맹구', 'age': 13, 'hobby': ['게임', '먹방']}
이름: 맹구

In [22]:
# 리스트 객체 저장 & 불러오기
import pickle

scores=[90,85,77,100,88]

with open('scores.pkl','wb') as f:
    pickle.dump(scores, f)
    
# 불러오기

with open('scores.pkl', 'rb') as f:
    my_scores = pickle.load(f)
    
print('내 점수:',my_scores)

내 점수: [90, 85, 77, 100, 88]

In [24]:
# 사용자 정의 클래스 객체 저장하기
class Student:
    def __init__(self, name, grade):
        self.name = name
        self.grade = grade
        
    def __str__(self):
        return f'{self.name} 학생, {self.grade} 학년'

# 객체생성
s1 = Student('맹구', 2)

# 저장
with open('student.pkl', 'wb') as f:
    pickle.dump(s1, f)
    
# 불러오기
with open('student.pkl', 'rb') as f:
    student = pickle.load(f)

print(student) # __str__ 자동 호출

맹구 학생, 2 학년

In [ ]:
'''
프로그램 종료 시 객체 상태를 저장해두고 다음에 그대로 복구하고 싶을 때

게임 저장/불러오기, 설정 저장 등에 자주 사용
'''

In [ ]:
'''
피클 관련 주요 함수 요약

함수	설명
pickle.dump(obj, file)	객체를 파일에 저장
pickle.load(file)	파일에서 객체 불러오기
파일 모드	"wb" 저장 / "rb" 불러오기
'''

In [ ]:
# CSV
'''
CSV = Comma Separated Values
즉, 데이터를 쉼표(,)로 구분해 저장한 텍스트 파일

import csv 

'''

In [ ]:
# 1단계 : 리스트 형태로 저장 (csv.writer)
import csv

with open("members.csv", "w", newline="", encoding="utf-8") as f:
    writer = csv.writer(f)
    writer.writerow(["이름", "나이", "이메일"])
    writer.writerow(["맹구", 13, "maeng@zzz.com"])
    writer.writerow(["철수", 12, "chulsoo@abc.com"])
    
'''
함수	설명
writerow()	한 줄씩 저장
newline=""	줄 간격 이상 방지 (Windows에서 꼭 필요)
'''

In [ ]:
# 2단계 : 리스트 형태로 읽기 (csv.reader)

with open("members.csv", "r", encoding="utf-8") as f:
    reader = csv.reader(f)
    for row in reader:
        print("읽은 행:", row)
        
# 각 row는 리스트로 들어오고, 첫 번째 줄은 보통 헤더(열 제목)

In [ ]:
# 3단계 : 딕셔너리 형태로 저장 (csv.DictWriter)

with open("members_dict.csv", "w", newline="", encoding="utf-8") as f:
    fieldnames = ["이름", "나이", "이메일"]
    writer = csv.DictWriter(f, fieldnames=fieldnames)

    writer.writeheader()  # 열 제목
    writer.writerow({"이름": "맹구", "나이": 13, "이메일": "maeng@zzz.com"})
    writer.writerow({"이름": "철수", "나이": 12, "이메일": "chulsoo@abc.com"})

In [ ]:
# 4단계 : 딕셔너리 형태로 읽기 (csv.DictReader)

with open("members_dict.csv", "r", encoding="utf-8") as f:
    reader = csv.DictReader(f)
    for row in reader:
        print(row["이름"], row["이메일"])

In [ ]:
# 필드 불일치 대응 (PDF에서 나왔던 내용)
'''
상황	대응 방법
필드가 더 많음	restkey로 나머지 필드 처리
필드가 부족함	restval로 빈 값 채움
필드 외 값 있음	extrasaction='ignore' or 'raise' 사용
'''

# csv.DictReader(f, fieldnames=..., restkey="기타", restval="없음")

In [ ]:
'''
작업 | 방식 | 함수
리스트 저장 | csv.writer | writerow, writerows
리스트 읽기 | csv.reader | for row in reader
딕셔너리 저장 | csv.DictWriter | writeheader, writerow
딕셔너리 읽기 | csv.DictReader | row["필드명"] 접근
'''

In [ ]:
# json
'''
JavaScript Object Notation
데이터를 키-값 구조로 저장하는 텍스트 포맷
파이썬의 딕셔너리와 아주 유사

import json

'''

In [ ]:
# 1단계 : JSON 저장(json.dump)

import json

data = {
    "이름": "맹구",
    "나이": 13,
    "취미": ["먹기", "자기", "게임"]
}

with open("data.json", "w", encoding="utf-8") as f:
    json.dump(data, f, ensure_ascii=False, indent=2)

'''
옵션	설명
ensure_ascii=False	한글이 깨지지 않게 저장
indent=2	보기 좋게 들여쓰기 (pretty format)

'''

In [ ]:
# 2단계 : json 불러오기(json.load)

with open("data.json", "r", encoding="utf-8") as f:
    loaded = json.load(f)

print("이름:", loaded["이름"])
print("취미 리스트:", loaded["취미"])

In [ ]:
# 3단계 : json 문자열 -> 파싱(json.loads)

json_str = '{"이름": "맹구", "나이": 13}'
data = json.loads(json_str)
print(data["나이"])

In [ ]:
# 4단계 : json 객체 -> 문자열 변환 (json.dumps)

user = {"id": "maeng9", "level": 3}
json_string = json.dumps(user, ensure_ascii=False)
print(json_string)

In [ ]:
# 리스트 전체 저장

users = [
    {"이름": "맹구", "나이": 13},
    {"이름": "철수", "나이": 12}
]

with open("users.json", "w", encoding="utf-8") as f:
    json.dump(users, f, ensure_ascii=False, indent=2)

In [ ]:
'''
JSON vs CSV 차이 요약
항목	CSV	JSON
구조	행/열 기반	중첩 가능, 유연한 구조
읽기/쓰기	csv 모듈	json 모듈
사용 용도	표 형태, 엑셀 호환	설정파일, API 데이터 등

'''

In [ ]:
'''
HDF5란?
Hierarchical Data Format 5
대용량 과학 데이터 저장을 위해 만들어진 고성능 포맷이야!
NASA, 연구소, 머신러닝에서도 많이 씀
이미지, 센서데이터, 시계열 데이터 등 저장하기에 최적화
'''

In [ ]:
'''
파이썬에서 HDF5 다루는 방법

방법               | 설명
pandas.to_hdf()   | 판다스에서 DataFrame을 HDF5로 저장
pandas.read_hdf() | HDF5 파일을 다시 DataFrame으로 불러옴
h5py 모듈          | 더 세밀하게 다루는 모듈 (배열 단위 등)
'''

In [ ]:
#  1단계: 판다스 DataFrame → HDF5 저장

import pandas as pd

df = pd.DataFrame({
    "이름": ["맹구", "철수", "짱구"],
    "나이": [13, 12, 5]
})

df.to_hdf("data.h5", key="고객", mode="w")
print("HDF5 파일 저장 완료!")

'''
key	저장할 이름 (하위 그룹 이름)
mode="w"	덮어쓰기 저장 (없으면 생성됨)
'''

In [25]:
# 2단계: HDF5 파일에서 다시 읽기

df2 = pd.read_hdf("data.h5", key="고객")
print(df2)

# 원래 저장했던 key 이름으로 불러와야 함!

In [ ]:
# 3단계: 여러 DataFrame 저장 (key로 구분)

df1 = pd.DataFrame({"값": [1, 2, 3]})
df2 = pd.DataFrame({"값": [100, 200, 300]})

with pd.HDFStore("multi_data.h5", mode="w") as store:
    store.put("첫번째", df1)
    store.put("두번째", df2)

# 불러오기
with pd.HDFStore("multi_data.h5", mode="r") as store:
    print("첫 번째 DF:\n", store["첫번째"])
    print("두 번째 DF:\n", store["두번째"])

# HDFStore는 폴더처럼 작동해서 여러 그룹(key)을 저장할 수 있음

In [ ]:
'''
HDF5 뷰어 도구 (PDF에 언급된 HDFView)

https://www.hdfgroup.org/downloads/hdfview

'''

In [ ]:
'''
항목	설명
.to_hdf()	DataFrame을 HDF5로 저장
.read_hdf()	HDF5에서 불러오기
HDFStore	여러 key 저장 가능
사용 이유	대용량, 고속, 계층적 구조
파일 확장자	.h5, .hdf5
'''

In [ ]:
# 고객관리 프로젝트

In [ ]:
# 구성
class Customer:
    def __init__(self, name, phone, email, age, grade, etc):
        ...

    def to_list_style(self):  # 예: ['맹구', '010-1234-5678', 'm@naver.com', 13, 3, '불꽃남자']
        ...

    def as_dic(self):  # csv용 딕셔너리 반환
        ...

In [ ]:
# 주요 기능 (함수별로 분리)
'''
번호 | 기능 | 설명
0 | load_customers() | 프로그램 시작 시 txt 파일에서 데이터 불러오기
1 | fn1_insert_customer_info() | 고객 1명 입력 후 리스트에 추가
2 | fn2_print_customers() | 전체 고객 출력
3 | fn3_delete_customer() | 이름으로 삭제
4 | fn4_search_customer() | 이름으로 검색
5 | fn5_save_customer_csv() | csv 형식으로 내보내기
9 | fn9_save_customer_txt() | 종료 시 txt 파일 백업 저장
'''

In [ ]:
# main() 함수 구조
def main():
    customer_list = load_customers()

    while True:
        print("1:입력 | 2:전체출력 | 3:삭제 | 4:이름찾기 | 5:CSV저장 | 9:종료")
        fn = int(input("메뉴선택 : "))

        if fn == 1:
            customer = fn1_insert_customer_info()
            customer_list.append(customer)
        elif fn == 2:
            fn2_print_customers(customer_list)
        elif fn == 3:
            fn3_delete_customer(customer_list)
        elif fn == 4:
            fn4_search_customer(customer_list)
        elif fn == 5:
            fn5_save_customer_csv(customer_list)
        elif fn == 9:
            fn9_save_customer_txt(customer_list)
            break

In [ ]:
# 1단계 전체 구조 
'''
파일 구조 (단순 텍스트 기반)
고객 정보는 data/ch09_customers.txt에 저장

시작할 때: 파일 불러오기 → 리스트로 변환

종료할 때: 리스트 내용을 다시 txt에 저장
'''

In [ ]:
# Customer 클래스
class Customer:
    def __init__(self, name, phone, email, age, grade, etc):
        self.name = name
        self.phone = phone
        self.email = email
        self.age = int(age)
        self.grade = int(grade)
        self.etc = etc

    def to_list_style(self):
        return [self.name, self.phone, self.email, str(self.age), str(self.grade), self.etc]

    def as_dic(self):
        return {
            "이름": self.name,
            "전화": self.phone,
            "이메일": self.email,
            "나이": self.age,
            "등급": self.grade,
            "기타": self.etc
        }

    def __str__(self):
        return f"{self.name} | {self.phone} | {self.email} | {self.age}세 | 등급: {self.grade} | {self.etc}"

In [ ]:
# 2단계 : 주요 기능 함수 설계
# 0. load_customers()

'''
파일이 없으면 새로 만들고 빈 리스트 반환

있으면 txt 읽어서 Customer 리스트 반환
'''
import os

def load_customers():
    path = "data/ch09_customers.txt"
    customer_list = []

    if not os.path.exists(path):
        open(path, "w", encoding="utf-8").close()
        return []

    with open(path, "r", encoding="utf-8") as f:
        for line in f:
            parts = line.strip().split(",")
            if len(parts) == 6:
                customer_list.append(Customer(*parts))
    return customer_list

In [ ]:
# 1. fn1_insert_customer_info()

def fn1_insert_customer_info():
    name = input("이름: ")
    phone = input("전화번호: ")
    email = input("이메일: ")
    age = input("나이: ")
    grade = input("등급(1~5): ")
    etc = input("기타사항: ")

    return Customer(name, phone, email, age, grade, etc)

In [ ]:
# 2. fn2_print_customers(customer_list)

def fn2_print_customers(customer_list):
    for idx, customer in enumerate(customer_list, start=1):
        print(f"[{idx}] {customer}")

In [ ]:
# 3. fn3_delete_customer(customer_list)

def fn3_delete_customer(customer_list):
    target = input("삭제할 고객 이름: ")
    removed = [c for c in customer_list if c.name != target]
    if len(removed) < len(customer_list):
        print(f"{target} 삭제 완료.")
    else:
        print("해당 이름 없음.")
    return removed

In [ ]:
# 4. fn4_search_customer(customer_list)

def fn4_search_customer(customer_list):
    keyword = input("검색할 고객 이름: ")
    for c in customer_list:
        if keyword in c.name:
            print(c)

In [ ]:
# 5. fn5_save_customer_csv(customer_list)

import csv

def fn5_save_customer_csv(customer_list):
    with open("customers.csv", "w", newline="", encoding="utf-8") as f:
        writer = csv.DictWriter(f, fieldnames=["이름", "전화", "이메일", "나이", "등급", "기타"])
        writer.writeheader()
        for c in customer_list:
            writer.writerow(c.as_dic())
    print("CSV 저장 완료.")

In [ ]:
# 6. fn9_save_customer_txt(customer_list)

def fn9_save_customer_txt(customer_list):
    with open("data/ch09_customers.txt", "w", encoding="utf-8") as f:
        for c in customer_list:
            f.write(",".join(c.to_list_style()) + "\n")
    print("종료 전 데이터 저장 완료.")

In [ ]:
#  main() 루프 구성

def main():
    customer_list = load_customers()

    while True:
        print("1:입력 | 2:전체출력 | 3:삭제 | 4:이름찾기 | 5:CSV저장 | 9:종료")
        choice = input("메뉴 선택: ")

        if choice == "1":
            customer = fn1_insert_customer_info()
            customer_list.append(customer)
        elif choice == "2":
            fn2_print_customers(customer_list)
        elif choice == "3":
            customer_list = fn3_delete_customer(customer_list)
        elif choice == "4":
            fn4_search_customer(customer_list)
        elif choice == "5":
            fn5_save_customer_csv(customer_list)
        elif choice == "9":
            fn9_save_customer_txt(customer_list)
            break
        else:
            print("잘못된 입력입니다.")

if __name__ == "__main__":
    main()

In [ ]:
# 250423 본강의

# 5절. hdf5(h5)파일 쓰기/읽기
- h5py 사용
## 5.1 hdf5 파일 쓰기
- 딕셔너리 리스트를 hdf5파일에 쓰기
- 데이터프레임을 hdf5파일에 쓰기

In [3]:
# seaborn 패키지. 학습을 위한 데이터셋 다수 
import seaborn as sns
iris_df = sns.load_dataset("iris")
display(iris_df[::50]) # print가 아닌 display로 출력

     sepal_length  sepal_width  petal_length  petal_width     species
0             5.1          3.5           1.4          0.2      setosa
50            7.0          3.2           4.7          1.4  versicolor
100           6.3          3.3           6.0          2.5   virginica

In [10]:
iris_df.to_hdf("data/ch09_iris.hdf5", key='iris')

In [4]:
iris_dic = iris_df.to_dict()
type(iris_dic), type(iris_df)

(dict, pandas.core.frame.DataFrame)

In [5]:
iris_dic.keys()

dict_keys(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species'])

In [6]:
for group, value in iris_dic.items():
    print('그룹명 :', group)
    # print(value)

그룹명 : sepal_length
그룹명 : sepal_width
그룹명 : petal_length
그룹명 : petal_width
그룹명 : species

In [7]:
for group, value in iris_dic.items():
    print('그룹명 :', group)
    for key, data in value.items():
        print('{}:{}'.format(str(key), data), end='\t')
    print() # 개행

그룹명 : sepal_length
0:5.1	1:4.9	2:4.7	3:4.6	4:5.0	5:5.4	6:4.6	7:5.0	8:4.4	9:4.9	10:5.4	11:4.8	12:4.8	13:4.3	14:5.8	15:5.7	16:5.4	17:5.1	18:5.7	19:5.1	20:5.4	21:5.1	22:4.6	23:5.1	24:4.8	25:5.0	26:5.0	27:5.2	28:5.2	29:4.7	30:4.8	31:5.4	32:5.2	33:5.5	34:4.9	35:5.0	36:5.5	37:4.9	38:4.4	39:5.1	40:5.0	41:4.5	42:4.4	43:5.0	44:5.1	45:4.8	46:5.1	47:4.6	48:5.3	49:5.0	50:7.0	51:6.4	52:6.9	53:5.5	54:6.5	55:5.7	56:6.3	57:4.9	58:6.6	59:5.2	60:5.0	61:5.9	62:6.0	63:6.1	64:5.6	65:6.7	66:5.6	67:5.8	68:6.2	69:5.6	70:5.9	71:6.1	72:6.3	73:6.1	74:6.4	75:6.6	76:6.8	77:6.7	78:6.0	79:5.7	80:5.5	81:5.5	82:5.8	83:6.0	84:5.4	85:6.0	86:6.7	87:6.3	88:5.6	89:5.5	90:5.5	91:6.1	92:5.8	93:5.0	94:5.6	95:5.7	96:5.7	97:6.2	98:5.1	99:5.7	100:6.3	101:5.8	102:7.1	103:6.3	104:6.5	105:7.6	106:4.9	107:7.3	108:6.7	109:7.2	110:6.5	111:6.4	112:6.8	113:5.7	114:5.8	115:6.4	116:6.5	117:7.7	118:7.7	119:6.0	120:6.9	121:5.6	122:7.7	123:6.3	124:6.7	125:7.2	126:6.2	127:6.1	128:6.4	129:7.2	130:7.4	131:7.9	132:6.4	133:6.3	134:6.1	135:7.7	136:6.3	137:6.4	138:6.0	139:6.9	140:6.7	141:6.9	142:5.8	143:6.8	144:6.7	145:6.7	146:6.3	147:6.5	148:6.2	149:5.9
그룹명 : sepal_width
0:3.5	1:3.0	2:3.2	3:3.1	4:3.6	5:3.9	6:3.4	7:3.4	8:2.9	9:3.1	10:3.7	11:3.4	12:3.0	13:3.0	14:4.0	15:4.4	16:3.9	17:3.5	18:3.8	19:3.8	20:3.4	21:3.7	22:3.6	23:3.3	24:3.4	25:3.0	26:3.4	27:3.5	28:3.4	29:3.2	30:3.1	31:3.4	32:4.1	33:4.2	34:3.1	35:3.2	36:3.5	37:3.6	38:3.0	39:3.4	40:3.5	41:2.3	42:3.2	43:3.5	44:3.8	45:3.0	46:3.8	47:3.2	48:3.7	49:3.3	50:3.2	51:3.2	52:3.1	53:2.3	54:2.8	55:2.8	56:3.3	57:2.4	58:2.9	59:2.7	60:2.0	61:3.0	62:2.2	63:2.9	64:2.9	65:3.1	66:3.0	67:2.7	68:2.2	69:2.5	70:3.2	71:2.8	72:2.5	73:2.8	74:2.9	75:3.0	76:2.8	77:3.0	78:2.9	79:2.6	80:2.4	81:2.4	82:2.7	83:2.7	84:3.0	85:3.4	86:3.1	87:2.3	88:3.0	89:2.5	90:2.6	91:3.0	92:2.6	93:2.3	94:2.7	95:3.0	96:2.9	97:2.9	98:2.5	99:2.8	100:3.3	101:2.7	102:3.0	103:2.9	104:3.0	105:3.0	106:2.5	107:2.9	108:2.5	109:3.6	110:3.2	111:2.7	112:3.0	113:2.5	114:2.8	115:3.2	116:3.0	117:3.8	118:2.6	119:2.2	120:3.2	121:2.8	122:2.8	123:2.7	124:3.3	125:3.2	126:2.8	127:3.0	128:2.8	129:3.0	130:2.8	131:3.8	132:2.8	133:2.8	134:2.6	135:3.0	136:3.4	137:3.1	138:3.0	139:3.1	140:3.1	141:3.1	142:2.7	143:3.2	144:3.3	145:3.0	146:2.5	147:3.0	148:3.4	149:3.0
그룹명 : petal_length
0:1.4	1:1.4	2:1.3	3:1.5	4:1.4	5:1.7	6:1.4	7:1.5	8:1.4	9:1.5	10:1.5	11:1.6	12:1.4	13:1.1	14:1.2	15:1.5	16:1.3	17:1.4	18:1.7	19:1.5	20:1.7	21:1.5	22:1.0	23:1.7	24:1.9	25:1.6	26:1.6	27:1.5	28:1.4	29:1.6	30:1.6	31:1.5	32:1.5	33:1.4	34:1.5	35:1.2	36:1.3	37:1.4	38:1.3	39:1.5	40:1.3	41:1.3	42:1.3	43:1.6	44:1.9	45:1.4	46:1.6	47:1.4	48:1.5	49:1.4	50:4.7	51:4.5	52:4.9	53:4.0	54:4.6	55:4.5	56:4.7	57:3.3	58:4.6	59:3.9	60:3.5	61:4.2	62:4.0	63:4.7	64:3.6	65:4.4	66:4.5	67:4.1	68:4.5	69:3.9	70:4.8	71:4.0	72:4.9	73:4.7	74:4.3	75:4.4	76:4.8	77:5.0	78:4.5	79:3.5	80:3.8	81:3.7	82:3.9	83:5.1	84:4.5	85:4.5	86:4.7	87:4.4	88:4.1	89:4.0	90:4.4	91:4.6	92:4.0	93:3.3	94:4.2	95:4.2	96:4.2	97:4.3	98:3.0	99:4.1	100:6.0	101:5.1	102:5.9	103:5.6	104:5.8	105:6.6	106:4.5	107:6.3	108:5.8	109:6.1	110:5.1	111:5.3	112:5.5	113:5.0	114:5.1	115:5.3	116:5.5	117:6.7	118:6.9	119:5.0	120:5.7	121:4.9	122:6.7	123:4.9	124:5.7	125:6.0	126:4.8	127:4.9	128:5.6	129:5.8	130:6.1	131:6.4	132:5.6	133:5.1	134:5.6	135:6.1	136:5.6	137:5.5	138:4.8	139:5.4	140:5.6	141:5.1	142:5.1	143:5.9	144:5.7	145:5.2	146:5.0	147:5.2	148:5.4	149:5.1
그룹명 : petal_width
0:0.2	1:0.2	2:0.2	3:0.2	4:0.2	5:0.4	6:0.3	7:0.2	8:0.2	9:0.1	10:0.2	11:0.2	12:0.1	13:0.1	14:0.2	15:0.4	16:0.4	17:0.3	18:0.3	19:0.3	20:0.2	21:0.4	22:0.2	23:0.5	24:0.2	25:0.2	26:0.4	27:0.2	28:0.2	29:0.2	30:0.2	31:0.4	32:0.1	33:0.2	34:0.2	35:0.2	36:0.2	37:0.1	38:0.2	39:0.2	40:0.3	41:0.3	42:0.2	43:0.6	44:0.4	45:0.3	46:0.2	47:0.2	48:0.2	49:0.2	50:1.4	51:1.5	52:1.5	53:1.3	54:1.5	55:1.3	56:1.6	57:1.0	58:1.3	59:1.4	60:1.0	61:1.5	62:1.0	63:1.4	64:1.3	65:1.4	66:1.5	67:1.0	68:1.5	69:1.1	70:1.8	71:1.3	72:1.5	73:1.2	74:1.3	75:1.4	76:1.4	77:1.7	78:1.5	79:1.0	80:1.1	81:1.0	82:1.2	83:1.6	84:1.5	85:1.6	86:1.5	87:1.3	88:1.3	89:1.3	90:1.2	91:1.4	92:1.2	93:1.0	94:1.3	95:1.2	96:1.3	97:1.3	98:1.1	99:1.3	100:2.5	101:1.9	102:2.1	103:1.8	104:2.2	105:2.1	106:1.7	107:1.8	108:1.8	109:2.5	110:2.0	111:1.9	112:2.1	113:2.0	114:2.4	115:2.3	116:1.8	117:2.2	118:2.3	119:1.5	120:2.3	121:2.0	122:2.0	123:1.8	124:2.1	125:1.8	126:1.8	127:1.8	128:2.1	129:1.6	130:1.9	131:2.0	132:2.2	133:1.5	134:1.4	135:2.3	136:2.4	137:1.8	138:1.8	139:2.1	140:2.4	141:2.3	142:1.9	143:2.3	144:2.5	145:2.3	146:1.9	147:2.0	148:2.3	149:1.8
그룹명 : species
0:setosa	1:setosa	2:setosa	3:setosa	4:setosa	5:setosa	6:setosa	7:setosa	8:setosa	9:setosa	10:setosa	11:setosa	12:setosa	13:setosa	14:setosa	15:setosa	16:setosa	17:setosa	18:setosa	19:setosa	20:setosa	21:setosa	22:setosa	23:setosa	24:setosa	25:setosa	26:setosa	27:setosa	28:setosa	29:setosa	30:setosa	31:setosa	32:setosa	33:setosa	34:setosa	35:setosa	36:setosa	37:setosa	38:setosa	39:setosa	40:setosa	41:setosa	42:setosa	43:setosa	44:setosa	45:setosa	46:setosa	47:setosa	48:setosa	49:setosa	50:versicolor	51:versicolor	52:versicolor	53:versicolor	54:versicolor	55:versicolor	56:versicolor	57:versicolor	58:versicolor	59:versicolor	60:versicolor	61:versicolor	62:versicolor	63:versicolor	64:versicolor	65:versicolor	66:versicolor	67:versicolor	68:versicolor	69:versicolor	70:versicolor	71:versicolor	72:versicolor	73:versicolor	74:versicolor	75:versicolor	76:versicolor	77:versicolor	78:versicolor	79:versicolor	80:versicolor	81:versicolor	82:versicolor	83:versicolor	84:versicolor	85:versicolor	86:versicolor	87:versicolor	88:versicolor	89:versicolor	90:versicolor	91:versicolor	92:versicolor	93:versicolor	94:versicolor	95:versicolor	96:versicolor	97:versicolor	98:versicolor	99:versicolor	100:virginica	101:virginica	102:virginica	103:virginica	104:virginica	105:virginica	106:virginica	107:virginica	108:virginica	109:virginica	110:virginica	111:virginica	112:virginica	113:virginica	114:virginica	115:virginica	116:virginica	117:virginica	118:virginica	119:virginica	120:virginica	121:virginica	122:virginica	123:virginica	124:virginica	125:virginica	126:virginica	127:virginica	128:virginica	129:virginica	130:virginica	131:virginica	132:virginica	133:virginica	134:virginica	135:virginica	136:virginica	137:virginica	138:virginica	139:virginica	140:virginica	141:virginica	142:virginica	143:virginica	144:virginica	145:virginica	146:virginica	147:virginica	148:virginica	149:virginica

In [10]:
# 딕셔너리 리스트를 hdf파일로 쓰기
import h5py
with h5py.File('data/ch09_iris_dic.h5', 'w') as f:
    for group, value in iris_dic.items():
        grp = f.create_group(group)
        for key, data in value.items():
            grp.create_dataset(str(key), data=data)

## 5.2 hdf5 파일 읽기
- hdf5파일을 딕셔너리 리스트로 읽기
- hdf5파일을 데이터프레임으로 읽기

In [11]:
import pandas as pd
load_iris_df = pd.read_hdf("data/ch09_iris.hdf5", key='iris')
load_iris_df[::50]

KeyError: 'No object named iris in the file'

In [12]:
all(iris_df == load_iris_df) # 두 데이터프레임 변수의 모든 행과 열의 값이 같은지 여부

NameError: name 'load_iris_df' is not defined

In [13]:
all(iris_df == load_iris_df) # 두 데이터프레임 변수의 모든 행과 열의 값이 같은지 여부

NameError: name 'load_iris_df' is not defined

In [14]:
with h5py.File('data/ch09_iris_dic.h5', 'r') as f:
    for group, value in f.items():
        print('그룹 : ', group)
        for key, data in value.items():
            print('{}:{}'.format(key, data[()]), end='\t')
            # data[()] : h5 DataSet타입을 가져올 때

그룹 :  petal_length
0:1.4	1:1.4	10:1.5	100:6.0	101:5.1	102:5.9	103:5.6	104:5.8	105:6.6	106:4.5	107:6.3	108:5.8	109:6.1	11:1.6	110:5.1	111:5.3	112:5.5	113:5.0	114:5.1	115:5.3	116:5.5	117:6.7	118:6.9	119:5.0	12:1.4	120:5.7	121:4.9	122:6.7	123:4.9	124:5.7	125:6.0	126:4.8	127:4.9	128:5.6	129:5.8	13:1.1	130:6.1	131:6.4	132:5.6	133:5.1	134:5.6	135:6.1	136:5.6	137:5.5	138:4.8	139:5.4	14:1.2	140:5.6	141:5.1	142:5.1	143:5.9	144:5.7	145:5.2	146:5.0	147:5.2	148:5.4	149:5.1	15:1.5	16:1.3	17:1.4	18:1.7	19:1.5	2:1.3	20:1.7	21:1.5	22:1.0	23:1.7	24:1.9	25:1.6	26:1.6	27:1.5	28:1.4	29:1.6	3:1.5	30:1.6	31:1.5	32:1.5	33:1.4	34:1.5	35:1.2	36:1.3	37:1.4	38:1.3	39:1.5	4:1.4	40:1.3	41:1.3	42:1.3	43:1.6	44:1.9	45:1.4	46:1.6	47:1.4	48:1.5	49:1.4	5:1.7	50:4.7	51:4.5	52:4.9	53:4.0	54:4.6	55:4.5	56:4.7	57:3.3	58:4.6	59:3.9	6:1.4	60:3.5	61:4.2	62:4.0	63:4.7	64:3.6	65:4.4	66:4.5	67:4.1	68:4.5	69:3.9	7:1.5	70:4.8	71:4.0	72:4.9	73:4.7	74:4.3	75:4.4	76:4.8	77:5.0	78:4.5	79:3.5	8:1.4	80:3.8	81:3.7	82:3.9	83:5.1	84:4.5	85:4.5	86:4.7	87:4.4	88:4.1	89:4.0	9:1.5	90:4.4	91:4.6	92:4.0	93:3.3	94:4.2	95:4.2	96:4.2	97:4.3	98:3.0	99:4.1	그룹 :  petal_width
0:0.2	1:0.2	10:0.2	100:2.5	101:1.9	102:2.1	103:1.8	104:2.2	105:2.1	106:1.7	107:1.8	108:1.8	109:2.5	11:0.2	110:2.0	111:1.9	112:2.1	113:2.0	114:2.4	115:2.3	116:1.8	117:2.2	118:2.3	119:1.5	12:0.1	120:2.3	121:2.0	122:2.0	123:1.8	124:2.1	125:1.8	126:1.8	127:1.8	128:2.1	129:1.6	13:0.1	130:1.9	131:2.0	132:2.2	133:1.5	134:1.4	135:2.3	136:2.4	137:1.8	138:1.8	139:2.1	14:0.2	140:2.4	141:2.3	142:1.9	143:2.3	144:2.5	145:2.3	146:1.9	147:2.0	148:2.3	149:1.8	15:0.4	16:0.4	17:0.3	18:0.3	19:0.3	2:0.2	20:0.2	21:0.4	22:0.2	23:0.5	24:0.2	25:0.2	26:0.4	27:0.2	28:0.2	29:0.2	3:0.2	30:0.2	31:0.4	32:0.1	33:0.2	34:0.2	35:0.2	36:0.2	37:0.1	38:0.2	39:0.2	4:0.2	40:0.3	41:0.3	42:0.2	43:0.6	44:0.4	45:0.3	46:0.2	47:0.2	48:0.2	49:0.2	5:0.4	50:1.4	51:1.5	52:1.5	53:1.3	54:1.5	55:1.3	56:1.6	57:1.0	58:1.3	59:1.4	6:0.3	60:1.0	61:1.5	62:1.0	63:1.4	64:1.3	65:1.4	66:1.5	67:1.0	68:1.5	69:1.1	7:0.2	70:1.8	71:1.3	72:1.5	73:1.2	74:1.3	75:1.4	76:1.4	77:1.7	78:1.5	79:1.0	8:0.2	80:1.1	81:1.0	82:1.2	83:1.6	84:1.5	85:1.6	86:1.5	87:1.3	88:1.3	89:1.3	9:0.1	90:1.2	91:1.4	92:1.2	93:1.0	94:1.3	95:1.2	96:1.3	97:1.3	98:1.1	99:1.3	그룹 :  sepal_length
0:5.1	1:4.9	10:5.4	100:6.3	101:5.8	102:7.1	103:6.3	104:6.5	105:7.6	106:4.9	107:7.3	108:6.7	109:7.2	11:4.8	110:6.5	111:6.4	112:6.8	113:5.7	114:5.8	115:6.4	116:6.5	117:7.7	118:7.7	119:6.0	12:4.8	120:6.9	121:5.6	122:7.7	123:6.3	124:6.7	125:7.2	126:6.2	127:6.1	128:6.4	129:7.2	13:4.3	130:7.4	131:7.9	132:6.4	133:6.3	134:6.1	135:7.7	136:6.3	137:6.4	138:6.0	139:6.9	14:5.8	140:6.7	141:6.9	142:5.8	143:6.8	144:6.7	145:6.7	146:6.3	147:6.5	148:6.2	149:5.9	15:5.7	16:5.4	17:5.1	18:5.7	19:5.1	2:4.7	20:5.4	21:5.1	22:4.6	23:5.1	24:4.8	25:5.0	26:5.0	27:5.2	28:5.2	29:4.7	3:4.6	30:4.8	31:5.4	32:5.2	33:5.5	34:4.9	35:5.0	36:5.5	37:4.9	38:4.4	39:5.1	4:5.0	40:5.0	41:4.5	42:4.4	43:5.0	44:5.1	45:4.8	46:5.1	47:4.6	48:5.3	49:5.0	5:5.4	50:7.0	51:6.4	52:6.9	53:5.5	54:6.5	55:5.7	56:6.3	57:4.9	58:6.6	59:5.2	6:4.6	60:5.0	61:5.9	62:6.0	63:6.1	64:5.6	65:6.7	66:5.6	67:5.8	68:6.2	69:5.6	7:5.0	70:5.9	71:6.1	72:6.3	73:6.1	74:6.4	75:6.6	76:6.8	77:6.7	78:6.0	79:5.7	8:4.4	80:5.5	81:5.5	82:5.8	83:6.0	84:5.4	85:6.0	86:6.7	87:6.3	88:5.6	89:5.5	9:4.9	90:5.5	91:6.1	92:5.8	93:5.0	94:5.6	95:5.7	96:5.7	97:6.2	98:5.1	99:5.7	그룹 :  sepal_width
0:3.5	1:3.0	10:3.7	100:3.3	101:2.7	102:3.0	103:2.9	104:3.0	105:3.0	106:2.5	107:2.9	108:2.5	109:3.6	11:3.4	110:3.2	111:2.7	112:3.0	113:2.5	114:2.8	115:3.2	116:3.0	117:3.8	118:2.6	119:2.2	12:3.0	120:3.2	121:2.8	122:2.8	123:2.7	124:3.3	125:3.2	126:2.8	127:3.0	128:2.8	129:3.0	13:3.0	130:2.8	131:3.8	132:2.8	133:2.8	134:2.6	135:3.0	136:3.4	137:3.1	138:3.0	139:3.1	14:4.0	140:3.1	141:3.1	142:2.7	143:3.2	144:3.3	145:3.0	146:2.5	147:3.0	148:3.4	149:3.0	15:4.4	16:3.9	17:3.5	18:3.8	19:3.8	2:3.2	20:3.4	21:3.7	22:3.6	23:3.3	24:3.4	25:3.0	26:3.4	27:3.5	28:3.4	29:3.2	3:3.1	30:3.1	31:3.4	32:4.1	33:4.2	34:3.1	35:3.2	36:3.5	37:3.6	38:3.0	39:3.4	4:3.6	40:3.5	41:2.3	42:3.2	43:3.5	44:3.8	45:3.0	46:3.8	47:3.2	48:3.7	49:3.3	5:3.9	50:3.2	51:3.2	52:3.1	53:2.3	54:2.8	55:2.8	56:3.3	57:2.4	58:2.9	59:2.7	6:3.4	60:2.0	61:3.0	62:2.2	63:2.9	64:2.9	65:3.1	66:3.0	67:2.7	68:2.2	69:2.5	7:3.4	70:3.2	71:2.8	72:2.5	73:2.8	74:2.9	75:3.0	76:2.8	77:3.0	78:2.9	79:2.6	8:2.9	80:2.4	81:2.4	82:2.7	83:2.7	84:3.0	85:3.4	86:3.1	87:2.3	88:3.0	89:2.5	9:3.1	90:2.6	91:3.0	92:2.6	93:2.3	94:2.7	95:3.0	96:2.9	97:2.9	98:2.5	99:2.8	그룹 :  species
0:b'setosa'	1:b'setosa'	10:b'setosa'	100:b'virginica'	101:b'virginica'	102:b'virginica'	103:b'virginica'	104:b'virginica'	105:b'virginica'	106:b'virginica'	107:b'virginica'	108:b'virginica'	109:b'virginica'	11:b'setosa'	110:b'virginica'	111:b'virginica'	112:b'virginica'	113:b'virginica'	114:b'virginica'	115:b'virginica'	116:b'virginica'	117:b'virginica'	118:b'virginica'	119:b'virginica'	12:b'setosa'	120:b'virginica'	121:b'virginica'	122:b'virginica'	123:b'virginica'	124:b'virginica'	125:b'virginica'	126:b'virginica'	127:b'virginica'	128:b'virginica'	129:b'virginica'	13:b'setosa'	130:b'virginica'	131:b'virginica'	132:b'virginica'	133:b'virginica'	134:b'virginica'	135:b'virginica'	136:b'virginica'	137:b'virginica'	138:b'virginica'	139:b'virginica'	14:b'setosa'	140:b'virginica'	141:b'virginica'	142:b'virginica'	143:b'virginica'	144:b'virginica'	145:b'virginica'	146:b'virginica'	147:b'virginica'	148:b'virginica'	149:b'virginica'	15:b'setosa'	16:b'setosa'	17:b'setosa'	18:b'setosa'	19:b'setosa'	2:b'setosa'	20:b'setosa'	21:b'setosa'	22:b'setosa'	23:b'setosa'	24:b'setosa'	25:b'setosa'	26:b'setosa'	27:b'setosa'	28:b'setosa'	29:b'setosa'	3:b'setosa'	30:b'setosa'	31:b'setosa'	32:b'setosa'	33:b'setosa'	34:b'setosa'	35:b'setosa'	36:b'setosa'	37:b'setosa'	38:b'setosa'	39:b'setosa'	4:b'setosa'	40:b'setosa'	41:b'setosa'	42:b'setosa'	43:b'setosa'	44:b'setosa'	45:b'setosa'	46:b'setosa'	47:b'setosa'	48:b'setosa'	49:b'setosa'	5:b'setosa'	50:b'versicolor'	51:b'versicolor'	52:b'versicolor'	53:b'versicolor'	54:b'versicolor'	55:b'versicolor'	56:b'versicolor'	57:b'versicolor'	58:b'versicolor'	59:b'versicolor'	6:b'setosa'	60:b'versicolor'	61:b'versicolor'	62:b'versicolor'	63:b'versicolor'	64:b'versicolor'	65:b'versicolor'	66:b'versicolor'	67:b'versicolor'	68:b'versicolor'	69:b'versicolor'	7:b'setosa'	70:b'versicolor'	71:b'versicolor'	72:b'versicolor'	73:b'versicolor'	74:b'versicolor'	75:b'versicolor'	76:b'versicolor'	77:b'versicolor'	78:b'versicolor'	79:b'versicolor'	8:b'setosa'	80:b'versicolor'	81:b'versicolor'	82:b'versicolor'	83:b'versicolor'	84:b'versicolor'	85:b'versicolor'	86:b'versicolor'	87:b'versicolor'	88:b'versicolor'	89:b'versicolor'	9:b'setosa'	90:b'versicolor'	91:b'versicolor'	92:b'versicolor'	93:b'versicolor'	94:b'versicolor'	95:b'versicolor'	96:b'versicolor'	97:b'versicolor'	98:b'versicolor'	99:b'versicolor'

In [15]:
load_iris_dic = {}
with h5py.File('data/ch09_iris_dic.h5', 'r') as f:
    for group, value in f.items():
        temp = {}
        for key, data in value.items():
            temp[int(key)] = data[()]
        load_iris_dic[group] = temp
        
# load_iris_dic['sepal_length'] = {0:5.4, 1:4}
# load_iris_dic['sepal_width'] = {0:5.4, 1:4}
load_iris_dic.keys()

dict_keys(['petal_length', 'petal_width', 'sepal_length', 'sepal_width', 'species'])

In [16]:
{'s_l':{0:5.4, 1:4}}

{'s_l': {0: 5.4, 1: 4}}

# 6절. 연습문제 : 고객관리
- 프로그램 시작시 "data/ch09_customers.txt(고객데이터 백업용)"의 내용을 load(객체 list)
                 파일이 없을 경우 빈 파일 생성
- "data/ch09_customers.txt(고객데이터 백업용)의 내용
  홍길동, 010-9999-9999, a@a.com, 30, 3, 까칠해
  홍길동, 010-9999-9999, a@a.com, 30, 3, 까칠해

## Customer 클래스 작성

In [17]:
class Customer:
    '고객데이터와 as_dic(), to_list_style(txt백업시), __str__()'
    def __init__(self, name, phone, email, age, grade, etc):
        self.name = name
        self.phone = phone
        self.email = email
        self.age  = age
        self.grade = grade
        self.etc = etc
    def as_dic(self):
        return {"name":self.name, 
                "phone":self.phone, 
                "email":self.email,
                "age":self.age, 
                "grade":self.grade, 
                "etc":self.etc}
    def to_list_style(self):
        # return "홍길동, 010-9999-9999, a@a.com, 30, 3, 까칠해"
#         return "{}, {}, {}, {}, {}, {}".format(self.name, self.phone, self.email,
#                                               self.age, self.grade, self.etc)
        temp = [self.name, 
                self.phone, 
                self.email, 
                str(self.age), 
                str(self.grade), 
                self.etc]
        return ', '.join(temp)
    def __str__(self):
        # return "  *** 홍길동, 010-9999-9999, a@a.com, 30, 까칠해"
        return "{:>5}\t{:3}\t{:13}\t{:15}\t{:3}\t{}".format('*'*self.grade,
                       self.name, self.phone, self.email, self.age, self.etc)

In [18]:
temp = ['홍길동','010-9999-9999', 'a@a.com', '30', '3', '까칠해']
', '.join(temp)

'홍길동, 010-9999-9999, a@a.com, 30, 3, 까칠해'

In [19]:
def to_customer(row):
    '''
    row = "홍길동, 010-9999-9999, a@a.com, 30, 3, 까칠해"(txt파일 내용)을 매개변수로 받아
    Customer 객체로 return 
    '''
    data = row.split(',')
    name = data[0]
    phone = data[1].strip() # strip은 앞뒤 white space 제거
    email = data[2].strip()
    age = int(data[3].strip())
    grade = int(data[4].strip())
    etc = data[5].strip()
    return Customer(name, phone, email, age, grade, etc)

In [20]:
c1 = Customer("홍길동", "010-9999-9999", "a@a.com", 30, 3, "까칠해")
print(c1)
print('as_dic() =',c1.as_dic())
print('to_list_style() =',c1.to_list_style())
c2 = to_customer("홍길동, 010-9999-9999, a@a.com, 30, 3, 까칠해")
print(c2)

  ***	홍길동	010-9999-9999	a@a.com        	 30	까칠해
as_dic() = {'name': '홍길동', 'phone': '010-9999-9999', 'email': 'a@a.com', 'age': 30, 'grade': 3, 'etc': '까칠해'}
to_list_style() = 홍길동, 010-9999-9999, a@a.com, 30, 3, 까칠해
  ***	홍길동	010-9999-9999	a@a.com        	 30	까칠해

## 0. 처음 실행시 호출
- ch09_customers.txt(백업데이터)에서 customer_list return
- 파일이 없으면 빈 파일 생성, customer_list = [] return

In [21]:
def load_customers():
    customer_list = []
    try:
        with open('data/ch09_customers.txt', 'r', encoding='utf-8') as f:
            # txt 데이터 한줄씩 customer 객체로 받아 customer_list.append
            lines = f.readlines()
            for line in lines:
                #line = "홍길동, 010-9999-9999, a@a.com, 30, 3, 까칠해"
                customer = to_customer(line)
                # print(customer)
                customer_list.append(customer)
    except:
        with open('data/ch09_customers.txt', 'w', encoding='utf-8') as f:
            print('초기화 파일을 생성했습니다')
    return customer_list

In [22]:
customer_list = load_customers()
for customer in customer_list:
    print(customer)

  ***	홍길동	010-9999-9999	a@a.com        	 30	까칠해
  ***	홍길동	010-9999-9999	a@a.com        	 30	까칠해
  ***	신길동	010-9999-9999	a@a.com        	 30	까칠해
  ***	신길동	010-9999-9999	a@a.com        	 30	까칠해
  ***	이길동	010-9999-9999	a@a.com        	 30	까칠해
  ***	김길동	010-9999-9999	a@a.com        	 30	까칠해

## 1. 입력

In [23]:
def fn1_insert_customer_info():
    '''
    사용자로부터 name, phone, email, age, grade, etc를 입력받아 Customer형 객체 반환
    '''
    import re
    name = input('이름 :')
    name_pattern = r'[가-힣]{2,}'
    while not re.search(name_pattern, name):
        print('이름을 제대로 입력하세요(한글 2글자 이상)')
        name = input('이름 :')
    phone = input('전화 :')
    email = input('메일 :')
    while True:
        try:
            age = int(input('나이 :'))
            if (age<0) or (age>130) :
                raise Exception('나이 범위 이상')
            break 
        except:
            print('올바른 나이를 입력하세요')
    try:
        grade = int(input('등급(1~5) : '))
        # grade = 1 if grade < 1 else 5 if grade>5 else grade
        if grade < 1:
            grade = 1
        if grade > 5:
            grade = 5
    except:
        print('유효하지 않은 등급 입력시 1등급으로 초기화')
        grade = 1
    etc = input('기타 정보 :')
    return Customer(name, phone, email, age, grade, etc)

In [24]:
# 1번 함수 테스트
customer_list = load_customers()
customer = fn1_insert_customer_info()
customer_list.append(customer)
for customer in customer_list:
    print(customer)

이름 :김
이름을 제대로 입력하세요(한글 2글자 이상)
이름 :abc
이름을 제대로 입력하세요(한글 2글자 이상)
이름 :김123
이름을 제대로 입력하세요(한글 2글자 이상)
이름 :김기길
전화 :010-1111-1111
메일 :skdf@sd.com
나이 :333
올바른 나이를 입력하세요
나이 :22
등급(1~5) : 9
기타 정보 :sdf
  ***	홍길동	010-9999-9999	a@a.com        	 30	까칠해
  ***	홍길동	010-9999-9999	a@a.com        	 30	까칠해
  ***	신길동	010-9999-9999	a@a.com        	 30	까칠해
  ***	신길동	010-9999-9999	a@a.com        	 30	까칠해
  ***	이길동	010-9999-9999	a@a.com        	 30	까칠해
  ***	김길동	010-9999-9999	a@a.com        	 30	까칠해
*****	김기길	010-1111-1111	skdf@sd.com    	 22	sdf

## 2. 전체출력

In [25]:
def fn2_print_customers(customer_list):
    'customer_list를 출력(pdf 40page 스타일)'
    print('='*70)
    print('{:^70}'.format('고객 정보'))
    print('-'*70)
    print("{:>5}\t{:3}\t{:13}\t{:10}\t{:3}\t{}".format("GRADE", "이름", "전화",
                                                      "메일","나이","기타"))
    print('-'*70)
    for customer in customer_list:
        print(customer)

In [26]:
# 2번 기능 테스트
customer_list = load_customers()
fn2_print_customers(customer_list)

======================================================================
                                고객 정보
----------------------------------------------------------------------
GRADE	이름 	전화           	메일        	나이 	기타
----------------------------------------------------------------------
  ***	홍길동	010-9999-9999	a@a.com        	 30	까칠해
  ***	홍길동	010-9999-9999	a@a.com        	 30	까칠해
  ***	신길동	010-9999-9999	a@a.com        	 30	까칠해
  ***	신길동	010-9999-9999	a@a.com        	 30	까칠해
  ***	이길동	010-9999-9999	a@a.com        	 30	까칠해
  ***	김길동	010-9999-9999	a@a.com        	 30	까칠해

## 3. 삭제

In [27]:
# 3. 삭제 (동명이인이 없을 경우 구현)
def fn3_delete_customer(customer_list):
    '''삭제하고자 하는 고객이름을 input으로 받아
    매개변수로 들어온 customer_list에서 삭제하고 "삭제했음/삭제못했음"을 메세지로 출력'''
    delete_name = input('삭제할 고객 이름은?')
    for customer in customer_list:
        if customer.name == delete_name:
            customer_list.remove(customer)
            print('{}님 데이터를 삭제하였습니다'.format(delete_name))
            return
    else:
        print('{}님 데이터는 존재하지 않습니다'.format(delete_name))

In [28]:
# 3. 삭제 (동명이인이 있을 경우 구현)
def fn3_delete_customer(customer_list):
    '''삭제하고자 하는 고객이름을 input으로 받아
    매개변수로 들어온 customer_list에서 삭제하고 "삭제했음/삭제못했음"을 메세지로 출력'''
    delete_name = input('삭제할 고객 이름은?')
    delete_idx = [] # 삭제할 인덱스를 저장하는 용도
    for idx, customer in enumerate(customer_list):
        if customer.name == delete_name:
            delete_idx.append(idx)
    if delete_idx:
        for idx in delete_idx[::-1]: # [1,0]
            del customer_list[idx]
        print('{}님 {}명 삭제하였습니다'.format(delete_name, len(delete_idx)))
    else:
        print('{}님 데이터가 존재하지 않습니다'.format(delete_name))

In [29]:
# 3번 기능 테스트
customer_list = load_customers()
fn3_delete_customer(customer_list)

삭제할 고객 이름은?홍길동
홍길동님 2명 삭제하였습니다

In [30]:
fn2_print_customers(customer_list)

======================================================================
                                고객 정보
----------------------------------------------------------------------
GRADE	이름 	전화           	메일        	나이 	기타
----------------------------------------------------------------------
  ***	신길동	010-9999-9999	a@a.com        	 30	까칠해
  ***	신길동	010-9999-9999	a@a.com        	 30	까칠해
  ***	이길동	010-9999-9999	a@a.com        	 30	까칠해
  ***	김길동	010-9999-9999	a@a.com        	 30	까칠해

## 4. 이름찾기

In [31]:
# 4. 이름찾기 (동명이인이 있음)
def fn4_search_customer(customer_list):
    '''찾고자 하는 이름을 input으로 받아, customer_list에서 검색하여 
    같은 이름이 있으면 search_list에 append한 후 search_list를 출력
    같은 이름이 없으면 없다고 출력'''
    search_name = input('검색할 이름은?')
    search_list = []
    for customer in customer_list:
        if customer.name == search_name:
            search_list.append(customer)
    if search_list:
        fn2_print_customers(search_list)
    else:
        print("{}님 데이터는 존재하지 않습니다".format(search_name))

In [32]:
# 4. 이름찾기 (동명이인이 있음)
def fn4_search_customer(customer_list):
    '''찾고자 하는 이름을 input으로 받아, customer_list에서 검색하여 
    같은 이름이 있으면 search_list에 append한 후 search_list를 출력
    같은 이름이 없으면 없다고 출력'''
    search_name = input('검색할 이름은?')
    search_idx = []
    for idx, customer in enumerate(customer_list):
        if customer.name == search_name:
            search_idx.append(idx)
    if search_idx:
        print('='*70)
        print('{:^70}'.format('고객 정보'))
        print('-'*70)
        print("{:>5}\t{:3}\t{:13}\t{:10}\t{:3}\t{}".format("GRADE", "이름", "전화",
                                                          "메일","나이","기타"))
        print('-'*70)
        for idx in search_idx:
            print(customer_list[idx])
    else:
        print("{}님 데이터는 존재하지 않습니다".format(search_name))

In [33]:
# 4기능 테스트
fn4_search_customer(customer_list)

검색할 이름은?신길동
======================================================================
                                고객 정보
----------------------------------------------------------------------
GRADE	이름 	전화           	메일        	나이 	기타
----------------------------------------------------------------------
  ***	신길동	010-9999-9999	a@a.com        	 30	까칠해
  ***	신길동	010-9999-9999	a@a.com        	 30	까칠해

## 5. 내보내기(CSV)

In [ ]:
def fn3_save_customers(customer_list):

In [ ]:
# 5번 기능 테스트

## 9. 종료

In [ ]:
# 9. 종료(종료하기 전 customer)

In [ ]:
# 9번 기능 테스트