In [114]:
# 매 강의 시작시마다 동일하게 처리해야 함
from IPython.display import display, HTML
display(HTML("""
<style>
div.container{width:86% !important;}
div.cell.code_cell.rendered{width:100%;}
div.CodeMirror {font-family:Consolas; font-size:10pt;}
div.output {font-size:12pt; font-weight:bold;}
div.input {font-family:Consolas; font-size:10pt;}
div.prompt {min-width:70px;}
div#toc-wrapper{padding-top:120px;}
div.text_cell_render ul li{font-size:10pt;padding:5px;}
table.dataframe{font-size:15px;
</style>
"""))

<b><font size="5" color="red">ch05. 함수</font></b>
- 사용하는 코드를 묶어 놓고 그것에 이름을 붙인 것
- 오버로딩(함수 이름이 같고, 매개변수의 갯수로 다른 함수를 허용하는 것) 불가
- 함수 정의
```
def 함수명([매개변수1, .. 매개변수n]):
    명령어1
    명령어2
    명령어n

```
# 1절. 함수의 정의 및 사용
## 1.1 함수 정의

In [ ]:
# 오버로딩의 예시, 그러나 파이썬에서는 불가능 위에 것이 사라짐
def add(a, b): # 이 부분이 사라짐 in 파이썬
    print(1)
def add(a):
    print(2)

In [3]:
# 함수를 정의 함
def hello():
    for i in range(5):
        print('hello')

In [4]:
# 함수 사용
hello() # 매개 변수가 정의되지 않았으므로 매개변수 사용시 에러 발생

hello
hello
hello
hello
hello

In [23]:
def my_message(x, msg): # msg를 x번 출력하는 함수
    for i in range(x):
        print(msg)

In [13]:
my_message(5, 'hello')

hello
hello
hello
hello
hello

In [14]:
my_msg = my_message
my_msg(6, 'hello')

hello
hello
hello
hello
hello
hello

In [15]:
type(my_msg), type(my_message)

(function, function)

In [22]:
print('HELLO') # 파이썬 내장함수(import 하지 않고 사용할 수 있는 함수)
print = 5
# print('hello')
del print
print('Hello')

HELLO
Hello

In [24]:
my_message(2, 'hello')

hello
hello

In [27]:
my_message = 5

In [26]:
def my_message(a, b):
    pass

In [28]:
my_message(2, 'hello')

TypeError: 'int' object is not callable

In [29]:
del my_message # 내장 함수를 제외하고는 변수를 삭제해도 함수 사용 불가(내장 함수가 아니므로)

In [30]:
my_message(2, 'hello')

NameError: name 'my_message' is not defined

In [7]:
# 함수 정의 : 4/16(수) 강의 이어서 진행
def my_hello():
    print('hello, Python')
    print('hello, world')
def my_hello(cnt):
    print('hello, Python')
    print('hello, world')

In [2]:
# 함수사용=함수호출
my_hello()

hello, Python
hello, world

In [6]:
my_hello()

hello, Python
hello, world

In [ ]:
def my_hello():
    print('hello, Python')
    print('hello, world')
def my_hello(cnt):
    print('hello, Python')
    print('hello, world')

In [13]:
if __name__=='__main__':
    my_hello(2)

hello, Python
hello, world

In [20]:
import ch05 # ch-5모듈을 load

In [21]:
ch05.my_hello(2)

Hello, Python
Hello, World
Hello, Python
Hello, World

In [22]:
from ch05 import my_hello # ch05 모듈 안의 my_hello 만 load

In [24]:
my_hello(3)

Hello, Python
Hello, World
Hello, Python
Hello, World
Hello, Python
Hello, World

In [25]:
my_hello(5)

Hello, Python
Hello, World
Hello, Python
Hello, World
Hello, Python
Hello, World
Hello, Python
Hello, World
Hello, Python
Hello, World

## 1.2 Docstring

In [33]:
def my_function():
    '''
    함수의 첫 라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)
    '''
    pass

In [35]:
print(my_function.__doc__)

    함수의 첫 라인에 독스트링을 포함할 수 있습니다
    독스트링은 함수의 설명서를 달아주는 역할
    주석보다 많은 기능(shift+tab으로 독스트링을 볼 수 있음)

In [40]:
def fibonacci(n):
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a + b
    print() # 개행

In [42]:
fibonacci(10)

0 1 1 2 3 5 8

In [43]:
print(fibonacci(49))

0 1 1 2 3 5 8 13 21 34
None

In [44]:
a, b # 함수 안의 변수들은 실행 후 사라지므로 값의 전환이 불가능함

NameError: name 'a' is not defined

## 1.3 지역변수(local var)와 전역변수(global var)

In [49]:
global_var = 100 # 전역변수
def func1():
    print('함수 안 : ', global_var)
func1()
print('함수 밖 ;', global_var)

함수 안 :  100
함수 밖 ; 100

In [50]:
def func2():
    local_var = 200 # 지역변수
    print('함수 안 :', local_var)
func2()
print('함수 밖 :', local_var)

함수 안 : 200

NameError: name 'local_var' is not defined

In [55]:
g_var = 100 # 전역변수

def func3():
    g_var = 200 # 지역변수 (변수 선언)
    print('함수 안(지역변수 g_var) :', g_var)
func3()
print('함수 밖(전역변수 g_var) :', g_var)

함수 안(지역변수 g_var) : 200
함수 밖(전역변수 g_var) : 100

In [58]:
# 렉시컬 특성

g_var = 100 # 전역변수
def func4():
    print('함수 안 g_var :', g_var)
    g_var = 200 # 지역변수
#func4()

UnboundLocalError: local variable 'g_var' referenced before assignment

In [66]:
g_var = 100 # 전역변수
def func4():
    print('함수 안 g_var :', g_var)
   # g_var = 200 # 지역변수
func4()

함수 안 g_var : 100

In [ ]:
# __name__ : 내장된 이름 테이블
# 로컬심볼테이블을 우선 할당, 전역심볼 테이블, 내장된 이름 테이블

In [65]:
# 렉시컬 특성

g_var = 100 # 전역변수
def func4():
    global g_var # func4 함수 내의 g_var는 전역변수를 쓴다.
# g_var = 300 
    print('함수 안 g_var :', g_var)
    g_var = 200 # 전역변수
func4()
print('함수 밖 g_var :', g_var)

함수 안 g_var : 100
함수 밖 g_var : 200

## 1.4 값에 의한 호출
- 함수의 매개변수(인수 또는 인자)로 전달되는 변수가 스칼라 변수(문자,숫자,논리형)일 때

In [67]:
foo = 'a' # 전역변수
id(foo)

2855330277168

In [68]:
def func1(f): # 매개변수는 f는 지역변수
    print('Before :', f)
    f = f * 3
    print('After :', f)
func1(foo)

Before : a
After : aaa

In [90]:
print(foo)

a

In [95]:
def func1(f): # 매개변수는 f는 지역변수
    print('Before :', f , ' id(f) :', id(f))
    f = f * 3
    print('After :', f, ' id(f) :', id(f))
func1(foo)

Before : a  id(f) : 2855330277168
After : aaa  id(f) : 2855441479984

In [93]:
id(foo)

2855330277168

## 1.5 참조에 의한 호출
- 함수의 매개변수로 전달되는 변수가 스칼라 변수가 아닌 리스트, 튜플, 셋, 딕셔너리, 객체일  경우

In [87]:
L = [1, 2, 3] # 리스트 데이터
id(L)

2855439639360

In [88]:
def func2(f): # 매개변수는 지역변수
    print('Before :', f)
    f.append(5)
    print('After :', f)
func2(L)

Before : [1, 2, 3]
After : [1, 2, 3, 5]

In [89]:
print('L=', L)

L= [1, 2, 3, 5]

In [97]:
def func2(f): # 매개변수는 지역변수
    print('Before :', f, id(f))
    f.append(4)
    print('After :', f, id(f))
func2(L)

Before : [1, 2, 3, 5, 5] 2855439639360
After : [1, 2, 3, 5, 5, 4] 2855439639360

In [105]:
print('L=', L, id(L))

L= [1, 2, 3, 5, 5, 4] 2855439639360

# 2절. 함수의 실행결과를 반환하는 return

In [106]:
def add(x, y):
    return x + y
    # print() 수행하지 않음 return 이후 이므로 개무시 함

In [107]:
i = 2; j=3
add(i, j)

5

In [108]:
def add():
    return True

In [109]:
add()

True

In [110]:
def add(a):
    pass

In [113]:
print(add(10)) # 아무것도 없는 것은 none이라고 나옴

None

In [9]:
def fibonacci_print(n):
    '''
    매개변수로 들오온 n값 미만의 피보나치 수열을 출력
    ex. m=10이면 0 1 1 2 3 5 8 을 출력
    '''
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a + b
    print() # 개행
def fibonacci_return(n):
    '''
    매개변수로 들어온 n값 미만의 피보나치 수열을 리스트로 return
    ex. n=10이면 [0 1 1 2 3 5 8]을 rerturn
    '''
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a + b
    return result

In [7]:
x = fibonacci_print(100)
print(x)

0 1 1 2 3 5 8 13 21 34 55 89
None

In [10]:
x = fibonacci_return(100)
print(x)
print(type(x))

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]
<class 'list'>

## 여러개 값 return

In [15]:
def swap(a, b):
    '매개변수의 순서를 바꿔서 return'
    return b, a

In [17]:
x, y = 5, 10
print(f'함수 실행 전 x={x}, y={y}')
x, y = swap(x, y) # 10, 5 로 변경, 결국 순서가 바뀜
print(f'함수 실행 후 x={x}, y={y}')

함수 실행 전 x=5, y=10
함수 실행 후 x=10, y=5

# 3절. 함수의 매개변수 ★
## 3.1 기본값을 갖는 매개변수

In [6]:
def make_url(ip, port=80):  # 순서인수 > 기본값을 갖는 매개변수
    return "http://{}:{}".format(ip, port)

In [7]:
print(make_url('www.naver.com'))
print(make_url('localhost', 8090))
print(make_url(port=8090, ip='localhost'))

http://www.naver.com:80
http://localhost:8090
http://localhost:8090

## 3.2 기본 변수를 갖는 매개변수
- 기본변수가 스칼라 변수일 때
- 기본변수가 리스트, 셋, 딕셔너리 등의 객체일 때

In [1]:
i = 5
# 기본값을 갖는 변수가 스칼라 변수일 때 : arg의 기본값은 함수가 정의되는 시점의 값으로 셋팅됨
def func2(arg=i):
    print('arg = ', arg)

In [18]:
i = 50
func2()

arg =  5

In [2]:
list_ = []
# 기본값을 갖는 변수가 스칼라 변수일 때 : arg의 기본값은 호출되는 시점의 값
def func3(data, L = list_):
    'data를 L에 append'
    L.append(data)
    return L

In [3]:
print(func3(10)) # list_가 수정 : [10]

[10]

In [4]:
print(func3(20))

[10, 20]

In [6]:
list_

[10, 20]

In [7]:
def func4(data, L = None):
    if L==None:
        L = []        
    L.append(data)
    return L

In [8]:
print(func4(10))
print(func4(10, list_))

[10]
[10, 20, 10]

## 3.3 튜플 매개변수를 이용한 가변인수 설정

In [ ]:
# 파이썬은 오버로딩(함수의 중복)을 지원하지 않음

def add(a, b):

In [17]:
# *args : 매개변수들을 하나의 튜플 변수 args로 전달받음 (* 만 붇이면 됨)

def add(*args):
    '전달받은 매개변수들의 합을 return'
    # print('args = ', args)
    result_tot = 0 # 누적변수
    for data in args:
        result_tot += data
    return result_tot

In [22]:
print(add(1))
print(add(1,2))
print(add(1, 3, 5, 6, 12, 15, 154))

1
3
196

In [27]:
subject = ('Python', 'Oracle', 'DL', 'ML')
'/'.join(subject)

'Python/Oracle/DL/ML'

In [29]:
def concat(*subject, sep):
    return sep.join(subject)

In [30]:
concat('Python', 'Oracle', 'DL', 'ML', '/')

SyntaxError: unterminated string literal (detected at line 1) (1001857835.py, line 1)

In [33]:
# 해결책1 : 매개변수 이름을 지정해서 호출
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

'Python / Oracle / DL / ML'

In [34]:
# 해결책2 : 기본값을 반드시 갖는 키워드 인수 사용
def concat(*subject, sep='  '):
    return sep.join(subject)

In [35]:
concat('Python', 'Oracle', 'DL', 'ML', sep=' / ')

'Python / Oracle / DL / ML'

In [48]:
# 해결책3 : sep을 순서 인수로 앞에 선언
def concat(sep, *subject):
    return sep.join(subject)

In [49]:
concat('Python', 'Oracle', 'DL')

'OraclePythonDL'

## 3.4 딕셔너리 매개변수
- 여러 개의 키워드 인수를 딕셔너리 형태로 받아서 가변 키워드 인수로 처리

In [58]:
def func5(**kwargs):
#     print(kwargs)
    print(type(kwargs))
    print('이름 : ', kwargs.get('name', '대마왕'))
    print('나이 : ', kwargs.get('age', 30))
    print('주소 : ', kwargs.get('address', '서울'))

In [59]:
func5(name='홍길동', age = 30, address = '신림동')

<class 'dict'>
이름 :  홍길동
나이 :  30
주소 :  신림동

In [60]:
func5(name='김길동')

<class 'dict'>
이름 :  김길동
나이 :  30
주소 :  서울

## 3.5 함수 정의시 매개변수 순서
- 순서인수 > 튜플 매개변수(*) > 키워드 인수(<b>매개변수 이름 반드시 명시</b>) > 딕셔너리 매개변수(**)

In [61]:
def func6(a, b, *c, **d):
    print('순서인수 :', a)
    print('순서인수 :', b)
    print('튜플인수 :', c)
    print('딕셔너리 인수 :', d)

In [62]:
func6(10, 20, 1,2,3,4,5,6,7,8,9,10, name='홍길동', age=30, address='서울')

순서인수 : 10
순서인수 : 20
튜플인수 : (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
딕셔너리 인수 : {'name': '홍길동', 'age': 30, 'address': '서울'}

In [65]:
def func7(a, b, *c, d='기본값', **e):
    print('순서인수 a :', a)
    print('순서인수 b :', b)
    print('튜플인수 c :', c)
    print('키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d :', d)
    print('딕셔너리인수 d :', e)

In [66]:
func7(10, 20, 1, 2, 3, d='딴거', fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3)
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 딴거
딕셔너리인수 d : {'fontsize': 12, 'fontfamily': 'consola'}

In [67]:
func7(10, 20, 1, 2, 3, fontsize=12, fontfamily='consola')

순서인수 a : 10
순서인수 b : 20
튜플인수 c : (1, 2, 3)
키워드인수(기본값을 갖는 인수, 호출시 매개변수명 반드시 명시) d : 기본값
딕셔너리인수 d : {'fontsize': 12, 'fontfamily': 'consola'}

## 3.6 매개변수(인수)의 언패킹
### 튜플인수 언패킹
- 언패킹 : 함수 호출시 매개변수 앞에 * 붙임
- 패킹 : 함수 정의시 매개변수 앞에 * 붙임(튜플매개변수)

In [74]:
def add(*args):
    print(args)
    tot = 0
    for num in args:
        tot += num
    return tot

In [69]:
add(1,2,3,4)

10

In [85]:
numbers = [1, 2, 3, 4]
add(*numbers) # 언패킹

(1, 2, 3, 4)

10

### 딕셔너리 인수 언패킹
- 딕셔너리 언패킹 : 함수 호출시 매개변수 앞에 ** 붙이면 딕셔너리를 언패킹
- 딕셔너리 패킹 : 함수 정의시 매개변수 앞에 ** 붙이면 딕셔너리를 패킹

In [7]:
def func5(**data):
    print(type(data))
    for key, item in data.items():
        print(f'{key}:{item}')

In [10]:
func5(name='홍길동', age=30, 'address='신림')

SyntaxError: unterminated string literal (detected at line 1) (2787678281.py, line 1)

In [3]:
customInfo = {'name':'홍길동', 'age':10, 'address':'서울시 강남구', 'score':900}
func5(custom=customInfo)

<class 'dict'>
custom:{'name': '홍길동', 'age': 10, 'address': '서울시 강남구', 'score': 900}

In [4]:
customInfo = {'name':'홍길동', 'age':10, 'address':'서울시 강남구', 'score':900}
func5(**customInfo)

<class 'dict'>
name:홍길동
age:10
address:서울시 강남구
score:900

# 4절. 람다식
- return 한 줄 짜리 작은 익명 함수
## 4.1 람다식 연습

In [11]:
def add(a, b):
    return a+b
add(3, 4)

7

In [12]:
add2 = lambda a, b : a + b
add2(3, 4)

7

In [14]:
type(add), type(add2)

(function, function)

In [15]:
(lambda a, b : a + b)(3, 4)

7

In [16]:
# ex1. 매개변수로 들어온 값이 짝수인지 홀수인지 return

# def ex1(num):
#     if num%2:
#         result = "홀수"
#     else:
#         result = "짝수"
#     return result

def ex1(num):
    return "홀수" if num%2 else "짝수"
ex1 = lambda num : "홀수" if num%2 else "짝수"
ex1(10), ex1(-9)

('짝수', '홀수')

In [21]:
# ex2. 두 매개변수의 차이를 return(큰 수에서 작은 수를 빼면 됨)

def diff(a, b):
#     if a>b:
#         result = a - b
#     else:
#         result = b - a
    return a - b if a>b else b - a
    return result
diff(2,1), diff(9, 21)

(1, 12)

In [26]:
ex2 = lambda a, b : a-b if a>b else b-a
print(ex2(2,1), ex2(10,20))
print(type(diff), type(ex2))

1 10
<class 'function'> <class 'function'>

In [28]:
# ex3. 매개변수로 잔액을 받아 양수면 잔액을 return, 음수면 'negative'를 return
ex3 = lambda money : money if money>=0 else 'negative'
ex3(1000), ex3(-100)

(1000, 'negative')

In [31]:
print(ex3(100), ex3(-1003))

100 negative

In [35]:
# ex4. 점수를 입력받아 점수가 80점 이상은 A팀, 60점 이상은 B팀, 60점 미만은 재시험. 
# 그 외는 유효하지 않음
ex4 = lambda score : "A팀" if 80<=score<=100 else \
                    "B팀" if 60<=score<80 else \
                    "재시험" if 0<=score<60 else \
                    "유효하지 않음"
ex4(120), ex4(80), ex4(20), ex4(70), ex4(90)

('유효하지 않음', 'A팀', '재시험', 'B팀', 'A팀')

In [ ]:
# ex5. safe_index를 람다식으로
def safe_index(vector, data):
    if data in vector: # list 안에 data가 있는지 여부
        return lst.index(data)
    else:
        return -1

In [36]:
ex5 = lambda vector, data : vector.index(data) if data in vector else -1
tup = (1, 2, 3)
ex5(tup, 4), ex5(tup, 2)

(-1, 1)